<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
 
<div class="block block-customer-cotent">
    <p>Hello!</p>

    <p>Thank you for your interest in the products and services at HookandLoop.com. To make your shopping experience even easier, we recommend creating a customer account on our site.</p>

    <p>With an account you will be able to save your shipping addresses, re-order from previous purchases, access our customer service portal and more.</p>

    <p>We look forward to working with you!</p>

    <p>Sincerely,</p>

    <p>Team Hook & Loop</p>
</div>
<div class="block block-customer-login">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Registered Users')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
                  <?= $block->getBlockHtml('formkey') ?>
            <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
               <!--  <div class="field note"><?= $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div> -->
                <div class="field email required">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
                    </div>
                </div>
                <?= $block->getChildHtml('form_additional_info') ?>
                <div class="actions-toolbar loginActions">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span></button></div>
                    <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
                </div>
            </fieldset>
        </form>
        <div class="or-login-with"><?= $block->escapeHtml(__('OR')) ?></div>
        <div id="sociallogin_button">
            <div class="row">
                <div class="pslogin-block pslogin-login">
                    <div class="pslogin-spacer pslogin-clearfix">
                        <span class="pslogin-title" style="display: none;"><?= __('Login with your social account');?></span>
                    </div>
                    <div class="pslogin-buttons pslogin-buttons-showfull">
                        <ul class="pslogin-clearfix">
                            <li class="pslogin-button facebook pslogin-visible" title="Login with Facebook">
                                <a class="pslogin-button-link pslogin-button-click" rel="nofollow" href="javascript:void(0);" data-href="<?php echo $block->getBaseUrl(); ?>pslogin/account/douse/type/facebook/refresh/1584103201/" data-width="650" data-height="350">
                                    <img class="pslogin-button-image" src="<?php echo $block->getBaseUrl(); ?>/media/pslogin/default/hook-fb-login.png">
                                        <span class="pslogin-button-auto pslogin-has-button-image ">
                                            <span class="pslogin-button-icon"></span>
                                            <span class="pslogin-button-text"><?= __('Login with Facebook');?></span>
                                        </span>
                                </a>
                            </li>    
                        </ul>
                     </div>
                </div>
                <div class="gmail-button  six columns">
                </div>
                <div class="twitter-button  six columns">
                </div>
            </div>
        </div>
    </div>
</div>


   
   