<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Xsearch
 */
?>
<?php
/**
 * @var \Amasty\Xsearch\Block\Search\Product $block
 * @var \Magento\Framework\Escaper $escaper
 * @var array $products
 * phpcs:ignoreFile
 */
$products = $block->getProducts();
?>

<?php if (count($products)): ?>
    <div class="amsearch-products" data-amsearch-js="products">
        <p class="amasty-xsearch-block-header">
            <?= $escaper->escapeHtml(__($block->getTitle()))?>
        </p>
        <div class="amsearch-wrapper-content">
            <?php foreach ($products as $id => $product): ?>
                <div class="amsearch-item product-item" data-amsearch-js="product-item"
                     data-click-url="<?= $escaper->escapeUrl($block->getFullLink($product['url'])) ?>">
                    <div class="amsearch-autocomplete-image">
                        <?= /* @noEscape */ $product['img'] ?>
                    </div>
                    <div class="amsearch-autocomplete-information">
                        <div class="information-container">
                            <div class="product details product-item-details">
                                <a class="product-item-link"
                                   href="<?= $escaper->escapeUrl($block->getFullLink($product['url'])) ?>"
                                   title="<?= $escaper->escapeHtml($block->stripTags($product['name'])); ?>">
                                    <?= /* @noEscape */ $product['name'] ?>
                                </a>
                                <?php if ($block->isShowDescription($product)):?>
                                    <div class="product description product-item-description">
                                        <?= /* @noEscape */ $product['description'] ?>
                                    </div>
                                <?php endif; ?>
                                <?php if ($block->getReviews()): ?>
                                    <?= /* @noEscape */ $product['reviews'] ?>
                                <?php endif; ?>
                                <!-- <div class="amsearch-wrapper-inner">
                                    <?= /* @noEscape */ $product['price'] ?>
                                    <?php if ($block->getAddToCart()) : ?>
                                        <div class="product actions product-item-actions"
                                             item-actions="1"
                                             data-amsearch-js="item-actions">
                                            <div class="actions-primary">
                                                <?php if ($product['is_salable']): ?>
                                                    <form id="<?= 'amasty-xsearch-product-' . $escaper->escapeHtml($id); ?>"
                                                          data-role="tocart-form"
                                                          action="<?= $escaper->escapeHtml($product['cart_post_params']['action']); ?>"
                                                          method="post" class="amasty-xsearch-form"
                                                    >
                                                        <input type="hidden" name="product"
                                                               value="<?= $escaper->escapeHtml($product['cart_post_params']['data']['product']); ?>">
                                                        <?php if ($block->isRedirectToCartEnabled()): ?>
                                                            <input type="hidden" name="return_url"
                                                                   value="<?= $escaper->escapeHtml($product['cart_post_params']['data']['return_url']); ?>">
                                                        <?php endif; ?>
                                                        <input type="hidden"
                                                               name="<?= $escaper->escapeHtml($block->getUlrEncodedParam()); ?>"
                                                               value="<?= $escaper->escapeHtml($product['cart_post_params']['data'][$block->getUlrEncodedParam()]); ?>">
                                                        <input name="form_key"
                                                               type="hidden"
                                                               value="<?= $escaper->escapeHtml($block->getFormKey()) ?>"/>
                                                        <button type="submit"
                                                                title="<?= $escaper->escapeHtml(__('Add to Cart')); ?>"
                                                                class="action tocart primary">
                                                            <span><?= $escaper->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    </form>
                                                <?php else: ?>
                                                    <?php if ($product['is_salable']) : ?>
                                                        <div class="stock available">
                                                            <span><?= $escaper->escapeHtml(__('In stock')) ?></span>
                                                        </div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable">
                                                            <span><?= $escaper->escapeHtml(__('Out of stock')) ?></span>
                                                        </div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>

                                            <div data-role="add-to-links" class="actions-secondary">
                                                <?php if ($block->isWishlistAllowed()) : ?>
                                                    <a href="#"
                                                       class="action towishlist"
                                                       title="<?= $escaper->escapeHtml(__('Add to Wish List')); ?>"
                                                       aria-label="<?= $escaper->escapeHtml(__('Add to Wish List')); ?>"
                                                       data-post='<?= $escaper->escapeHtml($product['wishlist_post_params']); ?>'
                                                       data-action="add-to-wishlist"
                                                       role="button">
                                                    </a>
                                                <?php endif; ?>

                                                <a href="#"
                                                   class="action tocompare"
                                                   title="<?= $escaper->escapeHtml(__('Add to Compare')); ?>"
                                                   aria-label="<?= $escaper->escapeHtml(__('Add to Compare')); ?>"
                                                   data-post='<?= $escaper->escapeHtml($product['compare_post_params']); ?>'
                                                   role="button">
                                                </a>
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
        <?php if ($block->getNumResults() > $block->getLimit()): ?>
            <div class="amsearch-more-results">
                <a href="<?= $escaper->escapeUrl($block->getResultUrl()) ?>"
                   title="<?= $escaper->escapeHtml(__('View All'))?>"
                    class="amsearch-link">
                    <?= $escaper->escapeHtml(__('View All')) ?>
                    <span> (<?= $escaper->escapeHtml($block->getNumResults()) ?>)</span>
                </a>
            </div>
        <?php endif; ?>
    </div>

    <script>
        require([
            'jquery',
            'mage/mage',
            'Magento_Catalog/js/catalog-add-to-cart'
        ], function ($) {
            'use strict';
            $('.amasty-xsearch-form').catalogAddToCart({});
        });
    </script>
<?php endif; ?>
