<?php
/**
 * @copyright Copyright (c) 2016 www.tigren.com
 */
?>
<?php $_product = $block->getProduct(); ?>
<div class="mb-login-popup-title">
    <strong><?php echo __('Error'); ?></strong>
</div>
<div class="mb-ajaxsuite-popup-border ajaxcart-success-box">
    <div class="error-content">
        <p class="error-message"></p>
        <div class="popup-title">
            <img src="<?php echo $this->getViewFileUrl('images/top-menu-icon.png'); ?>">
            <span>Product Added to Cart!</span>
        </div>
        <div class="product-name"><?php echo $_product->getName() ?></div>
        <div class="product-sku"><span>Part #: </span><?php echo $_product->getSku() ?></div>
        <div class="product_info">
            <div class="product-image"><?php echo $block->getChildHtml('product_image'); ?></div>
            <div class="product-option"><?php echo $block->getChildHtml('product_option'); ?></div>
        </div>
    </div>
    <div class="ajaxcart-buttons ajaxsuite-buttons">
        <button type="button" id="ajaxcart_cancel" class="action primary mb-ajaxsuite-close"
                title="<?php echo __('Continue Shopping') ?>">
            <span><?php echo __('Continue Shopping ') ?></span>
            <?php
            if ($popupTTL = $this->helper('Tigren\Ajaxsuite\Helper\Data')->getTTLAjaxSuite()) {
                ?>
                (<span class="ajaxsuite-autoclose-countdown"><?php echo $popupTTL ?></span>)
                <?php
            }
            ?>
        </button>
        <button type="button" id="ajaxcart_checkout" class="action focus primary"
                title="<?php echo __('Go to Shopping Cart') ?>"
                onClick="window.location = '<?php echo $block->getUrl('checkout/cart'); ?>'">
            <span><?php echo __('Go to Shopping Cart') ?></span>
        </button>
    </div>
</div>