<div class="option would would-you-like-this-product-cut-to-length-for-free? " id="would-you-like-this-product-cut-to-length-for-free?">
    <dl class="last">
	<dt>
	    <label>Would you like this product cut to length for free?</label>
	    <p class="note"><a href="http://hookandloop.com/converting/strip-cutting" target="blank">Not sure what this means?</a></p> </dt>
	<dd class="last">
	    <ul id="options-4522-list" class="options-list">
		<li>
		    <input checked="" type="radio" class="radio  product-custom-option" name="options[4522]" id="options_4522_1" value="4777"><span class="label"><label for="options_4522_1">No </label></span>
		</li>
		<li>
		    <input type="radio" class="radio  product-custom-option" name="options[4522]" id="options_4522_2" value="4778"><span class="label"><label for="options_4522_2">Yes </label></span>
		</li>
	    </ul> 
	</dd>
    </dl>
</div>