<?php 

if (isset($_GET["sku"])) {
        $sku = $_GET["sku"];
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$product_id = $objectManager->create('Magento\Catalog\Model\Product')->getIdBySku($sku);
	$product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
	$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
	$currentStore = $storeManager->getStore()->getStoreId();
	$repository = $objectManager->create('Magento\Catalog\Model\ProductRepository');

	$_children = $product->getTypeInstance()->getUsedProducts($product);
	$attributes = $product->getTypeInstance()->getConfigurableAttributes($product);
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$connection = $resource->getConnection();
	$tableName = $resource->getTableName('eav_attribute_option_value');
	$eavModel = $objectManager->create('Magento\Catalog\Model\ResourceModel\Eav\Attribute');
	$childarr = array();
        $i        = 1;
        $flag=0;

	foreach ($_children as $child){
	    $childdata = $objectManager->create('Magento\Catalog\Model\Product')->load($child->getID());
	    $sold_size = $childdata->getMeasurementSoldInSize();
	    $name = $child->getName();
	    $StockState = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($child->getId());
	               
      $min_qty = $StockState->getMinQty(); 
        

	    $childarr[$i]['name'] = $name;
	    $childarr[$i]['sold_size'] = $sold_size;
	    if (!isset($min_qty) || $min_qty == 0) {
            $min_qty = 1;
      }
    $sku = $child->getSku();
    $childarr[$i]['sku'] = $sku;
    $final_price = $child->getPrice() * $min_qty;
    $childarr[$i]['price'] = $final_price;

     if($_GET['sku'] == 'DEC-DG20ELCL'){
            $min_qty = 10;
        }elseif($_GET['sku'] == 'DWL-170783REGAL63'){
            $min_qty = 5;
        }
		$childarr[$i]['min_qty'] = $min_qty;

		$j = 1;
		$attributearr = array();
                foreach ($attributes as $attribute) {
		    $attr = $eavModel->load($attribute->getAttributeId());
		    $attributeCode=$eavModel->getAttributeCode();
                        $attributearr[$j]['att_label']  = $attr->getData('frontend_label');
                        $attributearr[$j]['att_Code']   = $attr->getData('attribute_code');
			$attr = $childdata->getResource()->getAttribute($attr->getData('attribute_code'));
			if ($attr->usesSource()) {
			    $optionText = $attr->getSource()->getOptionText($childdata->getData($attr->getData('attribute_code')));
			    
			}
			$attributearr[$j]['att_values'] = $optionText;
                        $j++;
                }
		$childarr[$i]['attributes'] = $attributearr;
		$i++;
        }
	function aasort(&$array, $key)
        {
                
                $sorter = array();
                $ret    = array();
                reset($array);
                foreach ($array as $ii => $va) {
                        $sorter[$ii] = $va[$key];
                }
                asort($sorter);
                foreach ($sorter as $ii => $va) {
                        $ret[$ii] = $array[$ii];
                }
                return $array = $ret;
        }
	$childrens = aasort($childarr, 'price');
    $discounts = $objectManager->create('Exinent\Catalog\Helper\Data')->getProductDiscounts($product);
	//echo "<pre>---------";print_r($discounts);
	foreach ($childrens as $child){
                        if (preg_match('/Wide Loop/', $child['name'])) {
                            $unit="Yard";
                            $discountunit='Yard';
                            break;
                        }
                        elseif (preg_match('/Strap HTH/', $child['name']) || preg_match('/Straps/',$child['name'])) {
                            $unit="Straps";
                            $discountunit='Strap';
                            break;
                        }
                        elseif (preg_match('/Rings/',$child['name'])) {
                            $unit="Piece";
                            $discountunit='Pack';
                            break;
                        }
                        elseif (preg_match('/VELSTICK/', $child['name']) || preg_match('/VELSTRETCH/', $child['name'])||preg_match('/Coins/', $child['name'])||preg_match('/Electrically Conductive/', $child['name'])||preg_match('/Stretch/', $child['name'])||preg_match('/VELCOIN/', $child['name'])) {
                            $unit="Roll";
                            $discountunit='Roll';
                            break;
                        }
                        
                        else{
                            $unit="Yard";
                            $discountunit='Roll';
                            break;
                        }
                    }
 
?>
<?php $k = 1; ?>
<div class="page-title">
    <h1> <?php echo $product->getName();?><?php echo '- Price List';?></h1>
</div>
<div class="resp-table">
  


    <table class="configurable_pricesheet_list">
	<thead>
            <tr>
                <th>SKU</th>
                <?php
                    foreach ($childrens[$k]['attributes'] as $attribute) { ?>
                      <th> <?php echo $attribute['att_label'];?> </th>
		      <?php $k++;?>
                <?php
                    }
                ?>

                <th>Min Qty <?php echo "<br>";?>
                  <span><?php echo '(for purchase)';?></span>
                </th>

                <th><?php if( $_GET["sku"] == 'DSTR-DG58BLS' || $_GET['sku']  == 'DEC-DG20ELCL' )
                            { echo __('Price Per Yard');}
                            elseif( $_GET["sku"] == 'VADHESIVE-161885' ||  $_GET["sku"] == 'VSEWON-181214'  ||  $_GET["sku"] == 'VOWF-170' ||  $_GET["sku"] == 'VIOL-170391'  || $_GET["sku"] == 'V121445'  || $_GET["sku"] == 'VSL3610-18171' || $_GET["sku"] == 'CON-DLTL-DG10BLL' )
                              { echo "Price per Roll";}
                            else { echo __('Price Per '.$unit);  } ?>
                </th>

                <?php
                $discount_number = 1;
                    foreach ($discounts as $discount) {
                        if($discount['discount'] != 0){
                        ?><th>
                        <?php
                        if($discount_number == 1){
                              if( $_GET["sku"] == 'DSTR-DG58BLS'){ echo "480 Yards";}
                              elseif( $_GET["sku"] == 'DC-DGC78WHL' || $_GET["sku"] == 'VVC-192342' ){ echo "12 Rolls";}
                              elseif( $_GET["sku"] == 'VW-195872' || $_GET["sku"] == 'DWL-170783REGAL63' || $_GET["sku"] == 'DWL-170783REGAL60' ){ echo "25 Yards";}
                              elseif( $_GET["sku"] == 'DW-DG20RDWEBB'){ echo "1200 ".$unit."s";}
                              elseif( $_GET["sku"] == 'DEC-DG20ELCL' || $_GET['sku'] == 'V151NE-19548'){ echo "300 Yards";}
                              elseif( $_GET["sku"] == 'VADHESIVE-161885' ||  $_GET["sku"] == 'VSEWON-181214'  ||  $_GET["sku"] == 'VOWF-170' ||  $_GET["sku"] == 'VIOL-170391'  || $_GET["sku"] == 'V121445'  || $_GET["sku"] == 'VSL3610-18171' ){ echo "300 Yards";}
                              else{echo "300 ".$unit."s";}
                        }
                        if($discount_number == 2){
                              if( $_GET["sku"] == 'DSTR-DG58BLS'){ echo "800 Yards";}
                              elseif( $_GET["sku"] == 'DC-DGC78WHL' || $_GET["sku"] == 'VVC-192342' ){ echo "20 Rolls";}
                              elseif( $_GET["sku"] == 'VW-195872' || $_GET["sku"] == 'DWL-170783REGAL63' || $_GET["sku"] == 'DWL-170783REGAL60' ){ echo "50 Yards";}
                              elseif( $_GET["sku"] == 'DW-DG20RDWEBB'){ echo "2000 ".$unit."s";}
                              elseif( $_GET["sku"] == 'DEC-DG20ELCL' || $_GET['sku'] == 'V151NE-19548'){ echo "500 Yards";}
                              elseif( $_GET["sku"] == 'VADHESIVE-161885' ||  $_GET["sku"] == 'VSEWON-181214'  ||  $_GET["sku"] == 'VOWF-170' ||  $_GET["sku"] == 'VIOL-170391'  || $_GET["sku"] == 'V121445'  || $_GET["sku"] == 'VSL3610-18171' ){ echo "500 Yards";}
                              else{echo "500 ".$unit."s";}
                        }
                        if($discount_number == 3){
                              if( $_GET["sku"] == 'DSTR-DG58BLS'){ echo "1600 Yards";}
                              elseif( $_GET["sku"] == 'DC-DGC78WHL' || $_GET["sku"] == 'VVC-192342' ){ echo "40 Rolls";}
                              elseif( $_GET["sku"] == 'DW-DG20RDWEBB'){ echo "4000 ".$unit."s";}
                              elseif( $_GET["sku"] == 'DEC-DG20ELCL' || $_GET['sku'] == 'V151NE-19548'){ echo "1000 Yards";}
                              elseif( $_GET["sku"] == 'VADHESIVE-161885' ||  $_GET["sku"] == 'VSEWON-181214'  ||  $_GET["sku"] == 'VOWF-170' ||  $_GET["sku"] == 'VIOL-170391'  || $_GET["sku"] == 'V121445'  || $_GET["sku"] == 'VSL3610-18171' ){ echo "1000 Yards";}
                              else{echo "1000 ".$unit."s";}
                        }                        
                      
                          ?>  <span class="discount-ps">  <?php echo "Discount " . $discount['discount'];?>% </span>
                
                        </th>
                        <?php  $discount_number++; } ?>

               <?php /*  <th>
                   <?php if (preg_match('/VELSTICK/', $child['name']) || preg_match('/VELSTRETCH/', $child['name'])||preg_match('/Stretch/', $child['name'])) {
                          echo $discount['qty']." ".$unit;
                        } 
                       
                        else{?>                

                      <?php echo $discount['qty'] * $child['sold_size']." ".$unit;}?>
                     <span class="discount-ps">  <?php echo "Discount " . $discount['discount'];?>% </span>
                    
                </th> */ ?>
                <?php  } ?>
                <th><?= __('Buy Now!') ?></th>
              </tr>
        </thead>
	<tbody>
                <?php
                    foreach ($childrens as $child) {

                        if($child['sold_size'] == '' || $child['sold_size']==0){$soldSize = 1;}else{$soldSize = $child['sold_size']; }
                ?>
              <tr>
                <td><?php  echo $child['sku'];?></td>
               <?php
                    foreach ($child['attributes'] as $_attribute) { ?>
		      <td> <?php echo $_attribute['att_values'];?> </td>
                <?php
                    }
                ?>
                <td><?php echo $child['min_qty']; ?></td>
                    
                <td><?php
                        $final_price    = $child['price'] ;
                        $priceformatted = number_format($final_price* $soldSize, 2, '.', '');
                        echo $priceformatted;?>    
                </td>
               <?php
                    foreach ($discounts as $discount) {
                        if($discount['discount'] != 0){?>
                        <td> <?php $total_discount = ($discount['discount'] / 100) * $final_price; ?>
                            <?php                             
                            $discounted_price           = ($final_price - $total_discount) * $child['sold_size'];
                            $discounted_price_formatted = number_format($discounted_price, 2, '.', '');
                            echo $discounted_price_formatted;?>
                        </td>
                        <?php }
                         } ?>
                   <td>
                    <?php 
    
    $product = $repository->get($child['sku']);
    $productid = $product->getId();
    $listBlock = $objectManager->get('\Magento\Catalog\Block\Product\ListProduct');
    $addToCartUrl =  $listBlock->getAddToCartUrl($product);
    $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
    $postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $productid]);
?>

<form data-role="tocart-form" action="<?php echo $addToCartUrl; ?>" method="post" class="pricelist-addtocart" data-product-sku="<?php  echo $child['sku']?>"> 
    <?php echo $block->getBlockHtml('formkey')?>
    <input name="product" value="<?php echo $productid ?>" type="hidden">
    <div class="btn">
        <button type="submit" title="Add to Cart" class="action tocart primary">
            <span><?= __('ADD TO CART'); ?></span>
        </button>
    </div>   
</form> 



                   </td>      
            </tr>
            <?php } ?>
        </tbody>
    </table>
</div>
<?php
}
?>

<script type="text/javascript">
  require([
        'jquery'
    ], function($){
    $('body').on('click', '[data-option_type_id] input[type="radio"]', function() {
      var radioLabelElm = $(this).siblings('label');
      if (typeof radioLabelElm != "undefined") {
        var radioLabelElmText = $(radioLabelElm).text().trim();
        var optionField = $(this).closest('[data-option_id]');
        if (radioLabelElmText && radioLabelElmText.toLowerCase() == 'yes') {
          $(optionField).next().show();
        }

        if (radioLabelElmText && radioLabelElmText.toLowerCase() == 'no') {
          $(optionField).next().hide();
        }
      }
    });
      $('.box-tocart .fieldset .qty .control').append('<div class="qty-buttons-wrapper"><div class="qty-button increase"></div><div class="qty-button decrease"></div></div>');
  });
</script>