<?php
/**
 * @var \Infortis\Base\Block\Catalog\Product\View $block
 */

$theme = $block->getHelperTheme();
$helperProductView = $block->getHelperProductView();
$helperLabels = $this->helper('Infortis\Base\Helper\Labels');
$helperAddToLinks = $this->helper('Infortis\Base\Helper\AddToLinks');
$product = $block->getProduct();
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$baseUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

// Get grid classes for product page sections
$grid = $helperProductView->getGridClasses();
// Get positions of blocks
$position = $helperProductView->getPositions();

// Brand info
$brandHtml = $block->getChildHtml('brand-info');
if (!empty($brandHtml)) {
    if (isset($p[$position['brand']])) {
        $p[$position['brand']] = $p[$position['brand']] . $brandHtml;
    } else {
        $p[$position['brand']] = $brandHtml;
    }
}

// Product collateral data
$collateralHtml = $block->getChildHtml('product.info.details');
if (!empty($collateralHtml)) {
    if (isset($p[$position['collateral']])) {
        $p[$position['collateral']] = $p[$position['collateral']] . $collateralHtml;
    } else {
        $p[$position['collateral']] = $collateralHtml;
    }
}

// Related products
$relatedProductsHtml = $block->getChildHtml('catalog.product.related');
if (!empty($relatedProductsHtml)) {
    if (isset($p[$position['related']])) {
        $p[$position['related']] = $p[$position['related']] . $relatedProductsHtml;
    } else {
        $p[$position['related']] = $relatedProductsHtml;
    }
}

// Up-sell products
$upsellProductsHtml = $block->getChildHtml('product.info.upsell');
if (!empty($upsellProductsHtml)) {
    if (isset($p[$position['upsell']])) {
        $p[$position['upsell']] = $p[$position['upsell']] . $upsellProductsHtml;
    } else {
        $p[$position['upsell']] = $upsellProductsHtml;
    }
}
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$discounts = $objectManager->create('Exinent\Catalog\Helper\Data')->getProductDiscounts($product);
//print_r($discounts);die('test');
$productQuantity = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($product->getId());

?>
<div class="product-view product-columns-wrapper">

    <div class="product-img-column <?php echo $grid['imgCol']; ?> no-left-gutter product media <?php echo $helperLabels->getLabelsClasses(); ?>">

        <?php echo $block->getChildHtml('product.info.media'); ?>
        <?php echo $helperLabels->getLabels($block->getProduct()); ?>
        <?php if (isset($p['imgCol_1'])) echo $p['imgCol_1']; ?>
        <?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('product_discount_box')->toHtml();
        ?>        
        <?php
        $hasCal = ($product->getBaseUnit() == 'Yard') && (preg_match('/roll/i', $product->getMeasurementSoldInUnit()) && preg_match('/Yard/i', $product->getMeasurementSoldInUnit()));
        $calClass = 'calculator';

        if (!$hasCal) {
            $calClass .= ' ds_cart';
        }
        ?>
        <?php if (count($discounts)) { ?>
            <div class="<?php echo $calClass; ?>">

                <div class="discount-box">
                    <div class="discountBox-head">
                        <span class="title"><?php echo __('Volume Discount'); ?></span>
                        <span class="sub-description"><?php echo __('Discount will be automatically applied at checkout.');?></span>
                    </div>
                    <ul>
                        <?php foreach ($discounts as $discount) {
                            ?>
                            <?php if ($discount['discount'] != 0) { ?>
                                <li>
                                    <label>
                                        <a href="/customer-incentives#volume">
                                            <?php $code = sprintf('BUY %s %s ', $discount['qty'], $discount['unit']); ?>
                                            <span class="roll-no"><?php echo $code; ?></span>
                                            <span class="roll-description"><?php echo __('or more of same product number')?></span>
                                        </a>
                                    </label>
                                    <span class="save_percent">
                                        <?php $percentage = sprintf('SAVE %s', $discount['discount']); ?>
                                        <?php echo $percentage; ?>%
                                    </span>
                                </li>
                                <?php
                            }
                        }
                        ?>
                    </ul>

                </div>
            </div>
        <?php } ?>
        <?php if ($product->getTypeId() == 'configurable' && $product->getSku() !== 'SOCIAL CHAIR STRAP'): ?>
            <div class="pdp-product-price-list"> <a href="<?php echo $baseUrl . "price-sheet?sku=" . $product->getSku() ?>" target="_blank">
                    <img src="<?php echo $mediaUrl . 'pricesheet.jpg'; ?>" alt="pricesheet">
                </a>
            </div>
        <?php endif; ?>
        <?php  
        if ($product->getSku() !== 'SOCIAL CHAIR STRAP'){
            echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('product_custom_convert')->toHtml(); 
        }
        ?>
        <?php // Container at the bottom ?>
        <?php echo $block->getChildHtml('container_product_image_1'); ?>

        <div class="non-collapsing-column-placeholder"></div>

    </div>

    <?php // TODO: remove old classes such as "product-shop"   ?>
    <div class="product-primary-column product-shop <?php echo $grid['primCol']; ?> product-info-main">

        <?php echo $block->getChildHtml('page.main.title'); ?>
        <?php echo $block->getChildHtml('product.info.review'); ?>

        <?php if (isset($p['primCol_1'])) echo $p['primCol_1']; ?>
        <?php echo $block->getChildHtml('product.info.main'); ?>
        
        <?php if (isset($p['primCol_2'])) echo $p['primCol_2']; ?>

        <?php // Container at the bottom ?>
        <?php echo $block->getChildHtml('container_product_primary_2'); ?>

    </div>
    <div class="overlay pdp_attribute">
        <div class="pop_bl">
            <div class="pop_content">Please Select: <span class="required_options"></span></div>
            <span id="close_popup" style="display: block;">X</span>
        </div>
    </div>
   
    <?php if (isset($grid['secCol'])) { ?>
        <?php
        $coinCatIds = array(15,32);
        $productCategories = $product->getAvailableInCategories();
        
        //if (($product->getSku() !== 'DC-DGC78WHL') && $product->getSku() !== 'VVC-192342'){
        if (!count(array_intersect($coinCatIds,$productCategories))) {
            $hasCal = ($product->getBaseUnit() == 'Yard') && (preg_match('/roll/i', $product->getMeasurementSoldInUnit()) && preg_match('/Yard/i', $product->getMeasurementSoldInUnit()));
            $calClass = 'calculator';

            if (!$hasCal) {
                $calClass .= ' ds_cart';
            } else {
                ?>
                <div class="product-secondary-column custom-sidebar-right <?php echo $grid['secCol']; ?> no-right-gutter">
                    <div class="inner">
                        <?php if (count($discounts)) : ?>
                            <div class="<?php echo $calClass; ?>">
                                <div class="calc_title"><?php echo 'HookandLoop.com Calculator' ?>
                                </div>
                                <div class="calc_grid clearfix">
                                    <div class="left">
                                        <ul>
                                            <li>
                                                <label><?php echo 'Yards per roll' ?></label>
                                                <span id="soldsize"><?php echo $product->getMeasurementSoldInSize() ?></span>
                                            </li>
                                            <li>
                                                <label><?php echo 'Order Quantity in Rolls' ?></label>
                                                <span id="calculator-qty">1</span></li>
                                            <li>
                                                <label><?php echo 'Cut Piece Length (inches)' ?></label>
                                                <span id="calculator-cut-piece">0<span>
                                                    </span></span></li>
                                        </ul>
                                    </div>
                                    <div class="right">
                                        <ul>
                                            <li>
                                                <label><?php echo 'Total Yards' ?></label>
                                                <span id="calculator-total-yards"></span> Yards </li>
                                            <li>
                                                <label><?php echo 'Total Feet' ?></label>
                                                <span id="calculator-total-feet"></span> Feet </li>
                                            <li>
                                                <label><?php echo 'Total Inches' ?></label>
                                                <span id="calculator-total-inches"></span> Inches </li>
                                            <li>
                                                <label><?php echo 'Total Pieces' ?></label>
                                                <span id="calculator-total-pieces">1 Piece</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- <div id="shopping-cart-link">
                                    <input type="button" onclick="location.href = '/checkout/cart/';" value="Go to Shopping Cart" class="big orange nice btn_thme_primary"></div> -->
                            </div>

                        <?php endif; ?>
                        <?php if ($tmpHtml = $block->getChildHtml('product_secondary_top_placeholder')): ?>
                            <div class="feature-wrapper bottom-border"><?php echo $tmpHtml; ?></div>
                        <?php endif; ?>
                    </div>
                </div>
            <?php } ?>
        <?php }
        } ?>
    
    <div class="product-lower-primary-column <?php echo $grid['lowerPrimCol']; ?>">

        <?php echo $block->getChildHtml('bundle.options.container'); ?>
        <?php echo $block->getChildHtml('moved.downloadable.product-info'); ?>

        <?php // Container at the top. Important: required AFTER the bundle and downloadable blocks. ?>
        <?php echo $block->getChildHtml('container_product_lower_primary_1'); ?>

        <?php if (isset($p['lowerPrimCol_1'])) echo $p['lowerPrimCol_1']; ?>

        <?php // Container at the bottom ?>
        <?php echo $block->getChildHtml('container_product_lower_primary_2'); ?>

    </div>

    <?php if (isset($grid['lowerSecCol'])): ?>

        <div class="product-lower-secondary-column custom-sidebar-right <?php echo $grid['lowerSecCol']; ?>">
            <div class="inner">

                <?php // Container at the top ?>
                <?php echo $block->getChildHtml('container_product_lower_secondary_1'); ?>
                <?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('product_custom_convert')->toHtml(); ?>
                <?php if (isset($p['lowerSecCol_1'])) echo $p['lowerSecCol_1']; ?>

                <?php // Container at the bottom ?>
                <?php echo $block->getChildHtml('container_product_lower_secondary_2'); ?>

            </div>
        </div>

    <?php endif; ?>

</div>
<script type="text/javascript">
//<![CDATA[

    requirejs(['jquery', 'qtycontrol', 'Magento_Catalog/js/price-utils'], function (jQuery, qtycontrol, priceUtils) {
        jQuery(function ($) {
            $('input.qty').qtycontrol();
            var measurementinsoldinsize = jQuery(".calc_grid #soldsize").text();
            var qty = jQuery('input.qty').val();
            jQuery("#calculator-qty").text(qty);
            jQuery("#calculator-cut-piece").text("0");
            jQuery("#calculator-total-yards").text(qty * measurementinsoldinsize);
            jQuery("#calculator-total-feet").text(qty * measurementinsoldinsize * 3);
            jQuery("#calculator-total-inches").text(qty * measurementinsoldinsize * 3 * 12);
        }); //end: on document ready
        jQuery('.decrease').click(function () {
            var measurementinsoldinsize = jQuery(".calc_grid #soldsize").text();
            var dec_qty = jQuery('input.qty').val();
            jQuery("#calculator-qty").text(dec_qty);
            jQuery("#calculator-total-yards").text(dec_qty * measurementinsoldinsize);
            jQuery("#calculator-total-feet").text(dec_qty * measurementinsoldinsize * 3);
            jQuery("#calculator-total-inches").text(dec_qty * measurementinsoldinsize * 3 * 12);
            if (jQuery("#calculator-cut-piece").text() > 0) {
                var inches = jQuery("#calculator-total-inches").text();
                var cut = jQuery("#calculator-cut-piece").text();
                var total = inches / cut;
                jQuery("#calculator-total-pieces").text(total + ' Pieces');
            }
            // alert(dec_qty);
        });
        jQuery('.increase').click(function () {
            var measurementinsoldinsize = jQuery(".calc_grid #soldsize").text();
            var inc_qty = jQuery('input.qty').val();
            jQuery("#calculator-qty").text(inc_qty);
            jQuery("#calculator-total-yards").text(inc_qty * measurementinsoldinsize);
            jQuery("#calculator-total-feet").text(inc_qty * measurementinsoldinsize * 3);
            jQuery("#calculator-total-inches").text(inc_qty * measurementinsoldinsize * 3 * 12);
            if (jQuery("#calculator-cut-piece").text() > 0) {
                var inches = jQuery("#calculator-total-inches").text();
                var cut = jQuery("#calculator-cut-piece").text();
                var total = inches / cut;
                jQuery("#calculator-total-pieces").text(total + ' Pieces');
            }
            //alert(inc_qty);
        });
        jQuery(document).on('click', '.product-add-form .qty-button', function () {
            var qty = parseInt(jQuery('input[name="qty"]').val());
            var price = jQuery('.price-final_price .price-wrapper').attr('finalprice');
            if (typeof price == typeof undefined) {
                var price = jQuery('.price-final_price .price-wrapper').attr('data-price-amount');
            }
            var finalprice = qty * price;
            if (qty > 0) {
                finalprice = priceUtils.formatPrice(finalprice);
                jQuery('.price-final_price .price-wrapper .price').text(finalprice);
            }
        });
        jQuery('.product-add-form .input-text.qty').keyup(function () {
            var qty = parseInt(jQuery('input[name="qty"]').val());
            var price = jQuery('.price-final_price .price-wrapper').attr('finalprice');
            if (typeof price == typeof undefined) {
                var price = jQuery('.price-final_price .price-wrapper').attr('data-price-amount');
            }
            var finalprice = qty * price;
            if (qty > 0) {
                finalprice = priceUtils.formatPrice(finalprice);
                jQuery('.price-final_price .price-wrapper .price').text(finalprice);
            }
        });


        jQuery(document).ready(function () {
            var poducttypeid = '<?php echo $product->getTypeId() ?>'
            if (poducttypeid === 'configurable') {
                var measurementinsoldinsize = jQuery(".calc_grid #soldsize").text();
                var minsaleqty = '<?php echo $productQuantity->getMinSaleQty() ?>';
                if (measurementinsoldinsize > minsaleqty) {
                    var price = jQuery('.price-final_price .price-wrapper').attr('data-price-amount');
                    var finalprice = measurementinsoldinsize * price;
                    jQuery('.price-final_price .price-wrapper').attr('finalprice', finalprice);
                    finalprice = priceUtils.formatPrice(finalprice);
                    jQuery('.price-final_price .price-wrapper .price').text(finalprice);
                } else if (minsaleqty > 1) {
                    var price = jQuery('.price-final_price .price-wrapper').attr('data-price-amount');
                    var finalprice = minsaleqty * price;
                    jQuery('.price-final_price .price-wrapper').attr('finalprice', finalprice);
                    finalprice = priceUtils.formatPrice(finalprice);
                    jQuery('.price-final_price .price-wrapper .price').text(finalprice);
                }
            }
            jQuery('.catalog-product-view .swatch-attribute .swatch-option.text').click(function(){
                setInterval(function(){
                jQuery('.catalog-product-view .swatch-attribute .swatch-option.text.selected').css('margin-bottom','0px !important');

            },1000);
            });

        });
    });

//]]>
</script>
