<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var $block \Magento\Sales\Block\Order\Recent */
?>
<div class="block block-dashboard-orders">
<?php
    $_orders = $block->getOrders();
    $count = count($_orders);
?>
    <div class="block-title order">
        <strong><?= $block->escapeHtml(__('Recent Orders')) ?></strong>
        <?php if ($count > 0) : ?>
            <a class="action view" href="<?= $block->escapeUrl($block->getUrl('sales/order/history')) ?>">
                <span><?= $block->escapeHtml(__('View All')) ?></span>
            </a>
        <?php endif; ?>
    </div>
    <div class="block-content">
    <?= $block->getChildHtml() ?>
    <?php if ($count > 0) : ?>
        <div class="table-wrapper orders-recent">
            <table class="data table table-order-items recent" id="my-orders-table">
                <caption class="table-caption"><?= $block->escapeHtml(__('Recent Orders')) ?></caption>
                <thead>
                    <tr>
                        <th scope="col" class="col id"><?= $block->escapeHtml(__('Order #')) ?></th>
                        <th scope="col" class="col date"><?= $block->escapeHtml(__('Date')) ?></th>
                        <th scope="col" class="col shipping"><?= $block->escapeHtml(__('Ship To')) ?></th>
                        <th scope="col" class="col total"><?= $block->escapeHtml(__('Order Total')) ?></th>
                        <th scope="col" class="col status"><?= $block->escapeHtml(__('Status')) ?></th>
                        <th scope="col" class="col actions"><?= $block->escapeHtml(__('Track Order')) ?></th>
                        <th scope="col" class="col actions"><?= $block->escapeHtml(__('Action')) ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($_orders as $_order) : ?>
                        <tr>
                            <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col id"><?= $block->escapeHtml($_order->getRealOrderId()) ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col date"><?= $block->escapeHtml($block->formatDate($_order->getCreatedAt())) ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?= $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : "&nbsp;" ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Order Total')) ?>" class="col total"><?= /* @noEscape */ $_order->formatPrice($_order->getGrandTotal()) ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status"><?= $block->escapeHtml($_order->getStatusLabel()) ?></td>
                            <td data-th="<?= $block->escapeHtml(__('Track')) ?>" class="col trsckOrder">
                              <div class=<?php echo 'getTrackingInfo-'.$_order->getRealOrderId() ?> id="track_order_view"><?= $block->escapeHtml(__('View')) ?></div>
                            </td>
                            <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
                                <a href="<?= $block->escapeUrl($block->getViewUrl($_order)) ?>" class="action view">
                                    <span><?= $block->escapeHtml(__('View Order')) ?></span>
                                </a>
                                <?php if ($this->helper(\Magento\Sales\Helper\Reorder::class)
                                    ->canReorder($_order->getEntityId())
                                ) : ?>
                                    <a href="#" data-post='<?= /* @noEscape */
                                    $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                        ->getPostData($block->getReorderUrl($_order))
                                    ?>' class="action order">
                                        <span><?= $block->escapeHtml(__('Reorder')) ?></span>
                                    </a>
                                <?php endif ?>
                            </td>
                        </tr>
                        <!--Track popup-->
                        <?php  
                        $tracksCollection = $_order->getTracksCollection();
                        foreach ($tracksCollection->getItems() as $track) 
                        {
                            if($track->getCarrierCode() == 'usps'){$order_carrier = 'United State Parcel Service';}
                            elseif($track->getCarrierCode() == 'fedex'){$order_carrier = 'Fed Ex';}
                            elseif($track->getCarrierCode() == 'ups'){$order_carrier = 'United Parcel Service';}
                            else{$order_carrier = $track->getCarrierCode();}
                        ?>
                        <div class="mb-ajaxsuite-popup-wrapper ui-draggable ui-draggable-disabled orderTrackInfo-<?= $_order->getRealOrderId() ?>" id="mb-ajaxsuite-popup-wrapper" style="background-color: rgb(237, 237, 237); display: none;">
                            <a id="mb-ajaxsuite-close" class="mb-ajaxsuite-close removeTrackPopup"></a>
                            <div id="mb-ajaxsuite-popup" class="mb-ajaxsuite-popup">
                                <div id="mb-ajaxcart-wrapper" style="display: block;">
                                    <div class="mb-login-popup-title success">
                                        <strong style="color: rgb(255, 255, 255);">Order Tracking Information</strong>
                                    </div>
                                    <div class="mb-ajaxsuite-popup-border ajaxcart-success-box">
                                        <div class="success-content">                      
                                            <div class="product_info">            
                                                <div class="product-option">
                                                    <div class="swatch-opt">
                                                        <class id="trackNumber" class="track_perameter"><?= '<span class="track-label">Track Number:</span>' .$block->escapeHtml($track->getTrackNumber()) ?></class>
                                                        <class id="carrier" class="track_perameter"><?= '<span class="track-label">Shipping Carrier:</span>' .$order_carrier ?></class>                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php } ?>
                        <script type="text/javascript">
                        require(['jquery', 'jquery/ui'], function($){ 
                            var orderId = "<?php echo $_order->getRealOrderId() ?>";
                                $('.getTrackingInfo-<?php echo $_order->getRealOrderId() ?>').click(function(e)
                                {
                                    $(".orderTrackInfo-<?php echo $_order->getRealOrderId() ?>").css("display", "block");
                                });
                                $('.removeTrackPopup').click(function(e)
                                {
                                    $(".orderTrackInfo-<?php echo $_order->getRealOrderId() ?>").css("display", "none");
                                });
                         });       
                        </script>
                        <!--end-->
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else : ?>
        <div class="message info empty"><span><?= $block->escapeHtml(__('You have placed no orders.')) ?></span></div>
    <?php endif; ?>
    </div>
</div>
