<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var $block \Magento\Sales\Block\Order\Totals
 * @see \Magento\Sales\Block\Order\Totals
 */
?>
<?php 
$order = $block->getOrder()->getID();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$order = $objectManager->create('\Magento\Sales\Model\Order')->load($order);
$rulename = '';
$proname = '';
if ($order->getFee()) {
    foreach ($order->getAllVisibleItems() as $item) {
        $options = $item->getProduct()->getTypeInstance(true)->getOrderOptions($item->getProduct());
        $cat = $item->getProduct()->getCategoryIds();

        $optionValue = '';
        if (array_key_exists('options', $options)) {

            $customOptions = $options['options'];
            if (!empty($customOptions)) {
                foreach ($customOptions as $option) {
                    $optionTitle = $option['label'];
                    if (strpos($optionTitle, 'Would you like this product cut to length') !== false) {
                        $optionValue = $option['value'];
                    }
                }
            }
        }
        $ruleids = explode(',', $item->getAppliedRuleIds());
        foreach ($ruleids as $ruleid) {
            if (($ruleid == 25) || ($ruleid == 24 && strpos($optionValue, 'Yes') !== false) || ($ruleid == 23 && strpos($optionValue, 'Yes') !== false)) {

                $ruleObject = $objectManager->create('\Magento\SalesRule\Model\Rule')->load($ruleid);
                $action = $ruleObject->getSimpleAction();
//                $logger->info($action.'_'.$ruleObject->getDescription());
                if ($action == 'cart_fixed' || $action == 'by_fixed') {
                    if ($rulename == '') {
                        $rulename = $ruleObject->getDescription();
                    } elseif (strpos($rulename, $ruleObject->getDescription()) !== 0) {
                        $rulename = $rulename . ' and ' . $ruleObject->getDescription();
                    }
                    if ($proname == '') {
                        $proname = $item->getName();
                    } elseif (strpos($proname, $item->getName()) !== 0) {
                        $proname = $proname . ',' . $item->getName();
                    }
//                    $logger->info($ruleObject->getName().'_'.$item->getName());
                }
            }
        }
    }
    $feeLabel = $rulename . '(' . $proname . ')';
    $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
    $formattedPrice = $priceHelper->currency($order->getFee(), true, false);
}

foreach ($block->getTotals() as $_code => $_total):
    ?>
    <?php if ($_total->getBlockName()) : ?>
        <?= $block->getChildHtml($_total->getBlockName(), false) ?>
    <?php else :?>
    <tr class="<?= $block->escapeHtmlAttr($_code) ?>">
        <th <?= /* @noEscape */ $block->getLabelProperties() ?> scope="row">
            <?php if ($_total->getStrong()) : ?>
                <strong><?= $block->escapeHtml($_total->getLabel()) ?></strong>
            <?php else : ?>
                <?= $block->escapeHtml($_total->getLabel()) ?>
            <?php endif ?>
        </th>
        <td <?= /* @noEscape */ $block->getValueProperties() ?> data-th="<?= $block->escapeHtmlAttr($_total->getLabel()) ?>">
            <?php if ($_total->getStrong()) : ?>
                <strong><?= /* @noEscape */ $block->formatValue($_total) ?></strong>
            <?php else : ?>
                <?= /* @noEscape */ $block->formatValue($_total) ?>
            <?php endif?>
        </td>
    </tr>
    <?php
    if ($_code == 'shipping' && $order->getFee()) {
        ?>
        <tr class="extrafee">
            <th colspan="4" class="mark" scope="row"><strong><?php echo $feeLabel; ?></strong></th>
            <td class="amount"><?php echo $formattedPrice; ?></td>
        </tr>
    <?php } ?>
    <?php endif; ?>
<?php endforeach?>
