<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart\Grid */
/** @var  $helperJs \Tigren\Ajaxcart\Helper\Data */
$helperJs = $this->helper('Tigren\Ajaxcart\Helper\Data');
$configYes = array(
    "shoppingCart1" => array(
        "emptyCartButton" => ".action.clear",
        "updateCartActionContainer" => "#update_cart_action_container"
    )
);
$configNo = array(
    "shoppingCart" => array(
        "emptyCartButton" => ".action.clear",
        "updateCartActionContainer" => "#update_cart_action_container"
    )
);
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?= $block->getChildHtml('form_before') ?>
<div id="additional_input_data">
    <input type="hidden" id="ajax_cart_hidden" name="ajax_cart_update" value="1">
</div>
<form action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>"
      method="post"
      id="form-validate"
      data-mage-init='{"Magento_Checkout/js/action/update-shopping-cart":
              {"validationURL" : "/checkout/cart/updateItemQty"}
          }'
      class="form form-cart"
      name="cartQtyUpdate">
    <?= $block->getBlockHtml('formkey') ?>
    <div class="cart table-wrapper<?= $mergedCells == 2 ? ' detailed' : '' ?>">
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-top toolbar" data-attribute="cart-products-toolbar-top"><?= $block->getPagerHtml() ?></div>
        <?php endif ?>
        <table id="shopping-cart-table"
               class="cart items data table"
               data-mage-init=<?= $helperJs->getEnableAjaxShoppingCart() ? json_encode($configYes) : json_encode($configNo) ?>>
            <caption role="heading" aria-level="2" class="table-caption"><?= /* @escapeNotVerified */ __('Shopping Cart Items') ?></caption>   
            <thead>
                <tr>
                    <th class="col image" scope="col"><span><?= /* @escapeNotVerified */ __('') ?></span></th>
                    <th class="col item" scope="col"><span><?= /* @escapeNotVerified */ __('Product') ?></span></th>
                    <th class="col price" scope="col"><span><?= /* @escapeNotVerified */ __('Unit Price ') ?></span></th>
                    <th class="col qty" scope="col"><span><?= /* @escapeNotVerified */ __('Quantity') ?></span></th>
                    <th class="col subtotal" scope="col"><span><?= /* @escapeNotVerified */ __('Subtotal') ?></span></th>
                    <th class="col remove" scope="col"><span><?= /* @escapeNotVerified */ __('') ?></span></th>
                </tr>
            </thead>
            <?php foreach ($block->getItems() as $_item): ?>
                <?= $block->getItemHtml($_item) ?>
            <?php endforeach ?>
        </table>
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar" data-attribute="cart-products-toolbar-bottom"><?= $block->getPagerHtml() ?></div>
        <?php endif ?>
    </div>
    <div class="cart main actions">      
         <?php if ($block->getContinueShoppingUrl()): ?>
            <a class="action continue"
               href="<?= $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
               title="<?= $block->escapeHtml(__('Continue Shopping')) ?>">
                <span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span>
            </a>
        <?php endif; ?>
       <!--  <button type="submit"
                name="update_cart_action"
                data-cart-empty=""
                value="empty_cart"
                title="<?= $block->escapeHtml(__('Clear Shopping Cart')) ?>"
                class="action clear" id="empty_cart_button">
            <span><?= /* @escapeNotVerified */ __('Clear Shopping Cart') ?></span>
        </button> -->
        <button type="submit"
                name="update_cart_action"
                data-cart-item-update=""
                value="update_qty"
                title="<?= $block->escapeHtml(__('Update Cart')) ?>"
                class="action update">
            <span><?= /* @escapeNotVerified */ __('Update Cart') ?></span>
        </button>
        <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
    </div>   
</form>

<?= $block->getChildHtml('checkout.cart.order.actions') ?>
<?= $block->getChildHtml('shopping.cart.table.after') ?>

<?php if(!$helperJs->getEnableAjaxShoppingCart() || $helperJs->getEnableAjaxShoppingCart() === 0): ?>
    <script type="text/x-magento-init">
    {
        "*": {
            "qtyButton": ""
        }
    }
</script>
<?php endif; ?>
<script>
require(['jquery', 'jquery/ui'], function($){ 
        jQuery('.action-delete').click(function(e)
        {
            $(".removeItemConfirm").css("display", "block");
        });
        jQuery('.removeItemClose').click(function(e)
        {
            $(".removeItemConfirm").css("display", "none");
        });
 });       
</script>
<div class="mb-ajaxsuite-popup-wrapper ui-draggable ui-draggable-disabled removeItemConfirm" id="mb-ajaxsuite-popup-wrapper" style="background-color: rgb(237, 237, 237); ">
        <a id="mb-ajaxsuite-close" class="mb-ajaxsuite-close removeItemClose"></a>
        <div id="mb-ajaxsuite-popup" class="mb-ajaxsuite-popup">
            <div id="mb-ajaxcart-wrapper" style="display: block;">
                <div class="mb-login-popup-title success">
                </div>
                <div class="mb-ajaxsuite-popup-border ajaxcart-success-box">
                    <div class="success-content">                
                        <div class="product-name">Would you like to add this item to your wish list instead?</div>
                    </div>
                    <div class="ajaxcart-buttons ajaxsuite-buttons">
                        
                    <a href="#" data-post='' class="use-ajax action towishlist moveToWishlistPopup">
                        <span>Add to Wish List</span>
                    </a>

                    <a href="#" title="Remove Item" class="action action-delete itemRemovePopup" data-post=''>
                        <span>
                            <?= $block->escapeHtml(__('Remove Item')) ?>
                        </span>
                    </a>

                    </div>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
 require(["jquery"],function($){
    $('.removeConfirm').on("click",function(){
        var idVal = $(this).attr('id');
        var baseUrl = '<?php echo $block->getBaseUrl(); ?>';
        $('.itemRemovePopup').attr('data-post','{"action":"'+baseUrl+'checkout/cart/delete/","data":{"id":'+idVal+'}}');
        $('.moveToWishlistPopup').attr('data-post','{"action":"'+baseUrl+'wishlist/index/fromcart/","data":{"item":'+idVal+'}}');
    });
}); 
</script>