<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */
$_item = $block->getItem();
$product = $_item->getProduct();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getData('entity_id'));
if ($_item->getProductType() == 'configurable') {
    $options = $_item->getOptionByCode('simple_product')->getData();
    $productId = $options["product_id"];
    $child = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);
    $leadTime = $child->getData('backorder_lead_time');
    $measurementSoldInSize = $child->getMeasurementSoldInSize();
    $productName = $child->getData('name');
    $stockItem = $child->getExtensionAttributes()->getStockItem();
    $sqty = $stockItem->getQty();
    $oqty = $block->getQty();
    $measurementSoldInUnit = $product->getData('measurement_sold_in_unit');
    $unitString = explode(" ", $measurementSoldInUnit);
    $unit = array_pop($unitString);
} else {
    $leadTime = $product->getData('backorder_lead_time');
     $stockItem = $product->getExtensionAttributes()->getStockItem();
    $sqty = $stockItem->getQty();
     $measurementSoldInUnit = $product->getData('measurement_sold_in_unit');
    $unitString = explode(" ", $measurementSoldInUnit);
    $unit = array_pop($unitString);
     $oqty = $block->getQty();
    $measurementSoldInSize = $product->getData('measurement_sold_in_size');
}
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
?>
<tbody class="cart item">
    <tr class="item-info">
        <td>
            <?php if ($block->hasProductUrl()): ?>
                <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"
                   title="<?= $block->escapeHtml($block->getProductName()) ?>"
                   tabindex="-1"
                   class="product-item-photo">
                   <?php else: ?>
                    <span class="product-item-photo">
                    <?php endif; ?>
                    <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>
                    <?php if ($block->hasProductUrl()): ?>
                </a>
            <?php else: ?>
            </span>
        <?php endif; ?>
    </td>
    <td data-th="<?= $block->escapeHtml(__('Item')) ?>" class="col item">

        <div class="product-item-details">
            <strong class="product-item-name">
                <?php if ($block->hasProductUrl()): ?>
                    <?php if ($_item->getProductType() == 'configurable') { ?>
                        <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"><?php echo $productName; ?></a>
                    <?php } else { ?>
                        <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"><?= $block->escapeHtml($block->getProductName()) ?></a>
                    <?php } ?>

                <?php else: ?>
                    <?= $block->escapeHtml($block->getProductName()) ?>
                <?php endif; ?>
            </strong>
            <?php if ($_item->getProductType() == 'configurable') { ?>
                <div  class="cart-pro-data"><strong><?php echo 'Part #: ' . $child->getData('sku'); ?></strong></div>
                <div class="cart-pro-data"><strong><?php echo 'Sold In: ' . $child->getData('measurement_sold_in_unit') ?></strong></div>
            <?php } else { ?>
                <div  class="cart-pro-data"><strong><?php echo 'Part #: ' . $product->getData('sku'); ?></strong></div>
                <div class="cart-pro-data"><strong><?php echo 'Sold In: ' . $product->getData('measurement_sold_in_unit') ?></strong></div>
            <?php } ?>
            <?php if ($_options = $block->getOptionList()): ?>
                <dl class="item-options">
                    <?php foreach ($_options as $_option) : ?>
                        <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                        <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                        <dd>
                            <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                            <?php else: ?>
                                <?php if (strpos($_formatedOptionValue['value'], ' x ') !== false) { ?>
                                    <?= /* @escapeNotVerified */ substr($_formatedOptionValue['value'], strpos($_formatedOptionValue['value'], "x") + 2); ?>
                                <?php } else {
                                                if(strpos($_formatedOptionValue['value'], ' +$'))
                                                {
                                                    $exp = explode($_formatedOptionValue['value'], 'Yes');
                                                    ?>
                                                     <?= /* @escapeNotVerified */ $exp[0] ?>
                                                <?php }else{
                                                    ?>
                                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                                            <?php }
                                        }
                            endif; ?>
                        </dd>
                    <?php endforeach; ?>
                </dl>
            <?php endif; ?>
            <?php // if ($_item->getProductType() == 'configurable') { ?>
                <?php if (empty($leadTime)) { ?>
                    <!--<div class="available-qty-nocustom-option"><?php echo "This product is made to order. Lead time is 1-2 business days."; ?></div>-->
                <?php } else if ($sqty <= 0) { ?>
                    <!--<div class="item-msg notice"><?php echo 'Currently out of stock. Order now and your order will ship to you in ' . $leadTime . "." ?></div>-->
                <?php } else if ($sqty < $oqty) { ?>
                    <!--<div class="item-msg notice"><?php echo $sqty / $measurementSoldInSize . ' ' . $unit . ' left in stock. Additional quantities available with in ' . $leadTime . "." ?></div>-->
                    <?php
                }
//            }
            ?>
            <?php if ($messages = $block->getMessages()): ?>
                <?php foreach ($messages as $message): ?>
                    <div class="cart item message <?= /* @escapeNotVerified */ $message['type'] ?>"><div><?= $block->escapeHtml($message['text']) ?></div></div>
                <?php endforeach; ?>
            <?php endif; ?>
            <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
            <?php if ($addInfoBlock): ?>
                <?= $addInfoBlock->setItem($_item)->toHtml() ?>
            <?php endif; ?>
        </div>
    </td>

    <?php if ($canApplyMsrp): ?>
        <td class="col msrp" data-th="<?= $block->escapeHtml(__('Price')) ?>">
            <span class="pricing msrp">
                <span class="msrp notice"><?= /* @escapeNotVerified */ __('See price before order confirmation.') ?></span>
                <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                <a href="#" class="action help map" id="<?= /* @escapeNotVerified */ ($helpLinkId) ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?= /* @escapeNotVerified */ $helpLinkId ?>","productName": "<?= /* @escapeNotVerified */ $product->getName() ?>","showAddToCart": false}}'>
                    <span><?= /* @escapeNotVerified */ __("What's this?") ?></span>
                </a>
            </span>
        </td>
    <?php else: ?>
        <td class="col price" data-th="<?= $block->escapeHtml(__('Price')) ?>">
            <?php if ($_item->getProductType() == 'configurable') { ?>
                <span class = "price-excluding-tax" data-label = "Excl. Tax">
                    <span class = "cart-price">
                        <span class = "price"><?php echo '$' . number_format((float) $child->getMeasurementSoldInSize() * $_item->getPrice(), 2, '.', ''); ?></span>
                    </span>
                </span>
            <?php } else { ?>
                <span class = "price-excluding-tax" data-label = "Excl. Tax">
                    <span class = "cart-price">
                        <span class = "price"><?php echo '$' . number_format((float) $product->getMeasurementSoldInSize() * $_item->getPrice(), 2, '.', ''); ?></span>
                    </span>
                </span>
            <?php } ?>
        </td>
    <?php endif; ?>
    <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
        <div class="field qty">
            <label class="label" for="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty">
                <span><?= /* @escapeNotVerified */ __('Qty') ?></span>
            </label>
            <div class="control qty">
                <input id="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                       name="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"
                       data-cart-item-id="<?= $block->escapeHtml($_item->getSku()) ?>"
                       value="<?= /* @escapeNotVerified */ $block->getQty() ?>"
                       type="number"
                       size="4"
                       title="<?= $block->escapeHtml(__('Qty')) ?>"
                       class="input-text qty"
                       data-validate="{required:true,'validate-greater-than-zero':true}"
                       data-role="cart-item-qty" style="display:none" readonly="readonly"/>
                <input id="cart-measuresold<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                       name="measurementsoldin"
                       value="<?php echo $measurementSoldInSize ?>"
                       type="number"
                       class="input-text qty" style="display:none"/>
                <input id="cart-measuresoldqty<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                       name="nrml_qty"
                       value="<?= /* @escapeNotVerified */ $block->getQty() / $measurementSoldInSize ?>"
                       type="number"
                       class="input-text qty" pattern="[0-9]+"/>

                       <div class="qty_control">
                            <button type="button"  id="<?= /* @escapeNotVerified */ $_item->getId() ?>-upt" class="increaseQty"></button>
                            <button type="button"   id="<?= /* @escapeNotVerified */ $_item->getId() ?>-dec"  class="decreaseQty"></button>
                      </div>
            </div>
        </div>
    </td>


    <td class="col subtotal" data-th="<?= $block->escapeHtml(__('Subtotal')) ?>">
        <?php if ($canApplyMsrp): ?>
            <span class="cart msrp subtotal">--</span>
        <?php else: ?>
            <?= $block->getRowTotalHtml($_item) ?>
        <?php endif; ?>
    </td>
    <td colspan="100">
        <div class="actions-toolbar">
            <?= /* @escapeNotVerified */ $block->getActions($_item) ?>
        </div>
    </td>
</tr>

<!--<tr class="item-actions">

</tr>-->



<script type="text/javascript">
require(["jquery"],function($){
    $('#<?php echo $_item->getId();?>-upt, #<?php echo $_item->getId();?>-dec').on("click",function(){ 
        var $this = $(this);
        var ctrl = ($(this).attr('id').replace('-upt','')).replace('-dec','');          
        var currentQty = $("#cart-measuresoldqty"+ctrl+"-qty").val();
        var measurementSoldVal = $("#cart-measuresold"+ctrl+"-qty").val();
        if($this.hasClass('increaseQty')){
            var newAdd = parseInt(currentQty)+parseInt(1);
            $("#cart-measuresoldqty"+ctrl+"-qty").val(newAdd);
            $("#cart-"+ctrl+"-qty").attr('value', newAdd * measurementSoldVal);
        }else{
             if(currentQty>1){
                var newAdd = parseInt(currentQty)-parseInt(1);
                $("#cart-measuresoldqty"+ctrl+"-qty").val(newAdd); 
                $("#cart-"+ctrl+"-qty").attr('value', newAdd * measurementSoldVal);
             }
        }
        setTimeout(function () {
            $('form[name=cartQtyUpdate]').attr('action','<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>');
            $('form[name=cartQtyUpdate]').submit();
        }, 2500);  
    });

    $("#cart-measuresoldqty<?php echo $_item->getId();?>-qty").keyup(function(){
        var qtyEntered = $("#cart-measuresoldqty<?php echo $_item->getId();?>-qty").val();
        if(qtyEntered != '')
        {
             setTimeout(function () {
                $('form[name=cartQtyUpdate]').attr('action','<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>');
                $('form[name=cartQtyUpdate]').submit();
            }, 1500);  
        }
    });
});
</script>
</tbody>
