<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>

<div class="product-add-form">
    <form data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>"
          action="<?= /* @NoEscape */ $block->getSubmitUrl($_product) ?>" method="post"
          id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $_product->getId() ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <?= $block->getBlockHtml('formkey') ?>
        <?= $block->getChildHtml('form_top') ?>
        <?php if (!$block->hasOptions()):?>
            <?= $block->getChildHtml('product_info_form_content') ?>
        <?php else:?>
            <?php if ($_product->isSaleable() && $block->getOptionsContainer() == 'container1'):?>
                <?= $block->getChildChildHtml('options_container') ?>
            <?php endif;?>
        <?php endif; ?>

        <?php $_product = $block->getProduct(); ?>
        <?php 
            $price = $_product->getPrice();
            if($_product->getData('measurement_sold_in_size')!='')
            {
                $price = $_product->getPrice() * $_product->getData('measurement_sold_in_size');
            }
            $price = number_format((float)$price, 2, '.', '');
        ?>      
        <h2 class="page-title"><?php echo $_product->getName(); ?></h2>
        <div class="price"></div>
        
        <?php if ($_product->isSaleable() && $block->hasOptions() && $block->getOptionsContainer() == 'container2'):?>
            <?= $block->getChildChildHtml('options_container') ?>
        <?php endif;?>
        <?= $block->getChildHtml('form_bottom') ?>
    </form>
</div>
<script>
    require([
        'jquery',
        'priceBox'
    ], function($){
        var dataPriceBoxSelector = '[data-role=priceBox]',
            dataProductIdSelector = '[data-product-id=<?= $block->escapeHtml($_product->getId()) ?>]',
            priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);

        priceBoxes = priceBoxes.filter(function(index, elem){
            return !$(elem).find('.price-from').length;
        });

        priceBoxes.priceBox({'priceConfig': <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>});


        var price = "<?php echo $price ?>";
        $('div.price').text('$'+price);
        $('body').on('click','.increase', function()            
        { 
          var qty = parseInt($('#qty').val()) + 1 ;
            var finalPrice = price * qty;
            $('div.price').text('$'+finalPrice.toFixed(2));
        }); 
        $('body').on('click','.decrease', function()            
        { 
          var qty = parseInt($('#qty').val()) - 1;
            if(qty == 0){
                qty =1;
                $(this).val(qty);
            }
            var finalPrice = price * qty;
            $('div.price').text('$'+finalPrice.toFixed(2));
        }); 


        $('body').on('input','#qty', function()            
        { 
            var qty = parseInt($('#qty').val());    
            if(qty == 0 || isNaN(qty)){
                qty =1;
                $(this).val(qty);
            }
            var finalPrice = price * qty;
            $('div.price').text('$'+finalPrice.toFixed(2));
        });   

         $(document).ready(function () {
            if($('#mb-ajaxcart-wrapper .search-product-popup .product-add-form .product-options-wrapper .fieldset .field .options-list .field.choice:first-child .product-custom-option').attr("checked") == "checked") { $('.product-options-wrapper .field.required').css('display','none'); }
         });            
    });
</script>
