<?php
/**
 * @copyright Copyright (c) 2016 www.tigren.com
 */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl = $storeManager->getStore()->getBaseUrl();

$required = '';
if ($block->hasRequiredOptions()) {
    $required = ' data-hasrequired="' . __('* Required Fields') . '"';
}
$_product = $block->getProduct();
?>
<div class="product-desc">
    <div class="popup-product-details">
        <div class="product-data"> Part #: <?php echo $_product->getSku(); ?></div>
        <div class="product-data"> Sold In: <?php echo $_product->getData('measurement_sold_in_unit'); ?> </div>
        <div class="product-data"> Width: <?php
            $_optionId = $_product->getData('width');
            $_attributeId = $_product->getResource()->getAttribute('width');
            if ($_attributeId->usesSource()) {
                $_optionText = $_attributeId->getSource()->getOptionText($_optionId);
            }
            if (is_array($_optionText) && sizeof($_optionText) > 1) {
                $_optionText = implode(',', $_optionText);
                echo $_optionText;
            } else {
                echo $_optionText;
            }
            ?>
        </div>
        <div class="product-data"> Color:
            <?php
            $_optionId = $_product->getData('colors_available');
            $_attributeId = $_product->getResource()->getAttribute('colors_available');
            if ($_attributeId->usesSource()) {
                $_optionText = $_attributeId->getSource()->getOptionText($_optionId);
            }
            if (is_array($_optionText) && sizeof($_optionText) > 1) {
                $_optionText = implode(',', $_optionText);
                echo $_optionText;
            } else {
                echo $_optionText;
            }
            ?>
        </div>
        <div class="product-data"> Side:
            <?php
            $_optionId = $_product->getData('hook_loop');
            $_attributeId = $_product->getResource()->getAttribute('hook_loop');
            if ($_attributeId->usesSource()) {
                $_optionText = $_attributeId->getSource()->getOptionText($_optionId);
            }
            ?>
            <?php if ($_optionText == 'Hook'): ?>
                <img class="hook-loop-grid-icon-small" src="<?php echo $baseurl ?>media/aw_layerednavigation/287/hook-icon.png">
            <?php elseif ($_optionText == 'Loop'): ?>
                <img class="hook-loop-grid-icon-small" src="<?php echo $baseurl ?>media/aw_layerednavigation/288/loop-icon.png">
            <?php endif ?>
            <?php
            if (is_array($_optionText) && sizeof($_optionText) > 1) {
                $_optionText = implode(',', $_optionText);
                echo $_optionText;
            } else {
                echo $_optionText;
            }
            ?>
        </div>
    </div>
</div>