<div class="webforms-gdpr">
    <?php if ($this->getShowAgreementText()) { ?>
        <div class="webforms-gdpr-text">
            <?php echo $this->getAgreementText() ?>
        </div>
    <?php } ?>
    <?php if ($this->getShowCheckbox()) { ?>
        <div class="webforms-gdpr-checkbox field choice" role="group">
                <input id="gdpr_<?php echo $this->getUid() ?>" type="checkbox" name="gdpr"
                       class="checkbox <?php if ($this->getCheckboxRequired()) { ?>required-entry<?php } ?>"
                       value="1">

            <label for="gdpr_<?php echo $this->getUid() ?>"><span><?php echo $this->getCheckboxLabel() ?></span></label>
            <?php if (strlen($this->getErrorText()) > 0) { ?>
                <div class="validation-advice" style="display: none"
                     id="advice-required-entry-gdpr_<?php echo $this->getUid() ?>">
                    <?php echo $this->getErrorText() ?>
                </div>
            <?php } ?>
        </div>
    <?php } ?>
</div>