/* Menu */
.aw-helpdesk-menu {
    color: #41362f;
    float: left;
    font-size: 1.6rem;
    margin-top: .7rem;
}
.page-main-actions._hidden .aw-helpdesk-menu {
    display: none;
}
.aw-helpdesk-menu .dropdown {
    display: inline-block;
    position: relative;
}
.aw-helpdesk-menu .dropdown:before, .aw-helpdesk-menu .dropdown:after {
    content: "";
    display: table;
}
.aw-helpdesk-menu .admin__action-dropdown {
    font-size: 1.6rem;
    letter-spacing: .025em;
    background-color: #f8f8f8;
    z-index: 520;
    transition: border-color 0.15s ease;
}
.aw-helpdesk-menu .dropdown .dropdown-menu {
    margin: 0;
    padding: 6px 0 3px 0;
    list-style: none none;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px #adadad solid;
    position: absolute;
    z-index: 500;
    top: 100%;
    line-height: 1.36;
    min-width: 25.5rem;
    margin-top: -1px;
    display: none;
    transition: all 0.15s ease;
    visibility: hidden;
    opacity: 0;
}
.aw-helpdesk-menu .dropdown.active .admin__action-dropdown-text:after {
    background-color: #ffffff;
    content: '';
    height: 6px;
    position: absolute;
    top: 100%;
    right: -6px;
    left: 0;
}
.aw-helpdesk-menu .dropdown.active .admin__action-dropdown,
.aw-helpdesk-menu .dropdown.active .dropdown-menu {
    border-color: #adadad;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.aw-helpdesk-menu .dropdown.active .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}
.aw-helpdesk-menu .dropdown .dropdown-menu li:hover,
.aw-helpdesk-menu .dropdown .dropdown-menu li.current {
    background: #e9e9e9;
    cursor: pointer;
}
.aw-helpdesk-menu .dropdown-menu li {
    margin: 0;
    border: 0;
    cursor: default;
    font-size: 1.4rem;
}
.aw-helpdesk-menu .dropdown-menu li a {
    text-decoration: none;
    color: #41362f;
    display: block;
    padding: .6rem 1.8rem;
}
.aw-helpdesk-menu .dropdown-menu li.separator {
    border-top: 1px #adadad solid;
}
.aw-helpdesk-menu .dropdown-menu li.separator a {
    padding-top: .7rem;
}

/*Form */
@media (min-width: 768px) {
    .aw_helpdesk-ticket-edit .page-columns .side-col,
    .aw-helpdesk-ticket-edit .page-columns .side-col {
        width: calc( (100%) * .30 - 15px ) !important;
    }
}

@media (min-width: 768px) {
    .aw_helpdesk-ticket-edit .page-columns .main-col,
    .aw-helpdesk-ticket-edit .page-columns .main-col {
        width: calc( (100%) * .70 - 15px ) !important;
    }
}

.aw_helpdesk-ticket-edit .admin__field.field.field-status.open .control-value,
.aw-helpdesk-ticket-edit .admin__field.field.field-status.open .control-value {
    color: #cc0000
}

.aw_helpdesk-ticket-edit .admin__field.field .control-value,
.aw-helpdesk-ticket-edit .admin__field.field .control-value {
    line-height: 3.2rem;
}

@media (min-width: 768px) {
    .aw_helpdesk-ticket-edit .page-columns .main-col,
    .aw-helpdesk-ticket-edit .page-columns .main-col {
        width: calc( (100%) * .40 - 10px );
        border: 0;
    }
    .aw_helpdesk-ticket-edit .page-columns .side-col,
    .aw-helpdesk-ticket-edit .page-columns .side-col {
        width: calc( (100%) * .60 - 30px );
        margin-left: 0;
    }
}

.aw_helpdesk-ticket-edit .page-columns,
.aw-helpdesk-ticket-edit .page-columns {
    clear: both;
    border-top: 1px solid #adadad;
    margin-left: 0;
    padding-top: 3rem;
}
.aw_helpdesk-ticket-edit .admin__fieldset > .admin__field,
.aw-helpdesk-ticket-edit .admin__fieldset > .admin__field {
    margin-bottom: 1.5rem;
    margin-left: 0;
}
.aw-helpdesk-ticket-edit .admin__field-control a,
.aw_helpdesk-ticket-edit .admin__field-control a,
.aw-helpdesk-ticket-edit .admin__field-control .control-value,
.aw_helpdesk-ticket-edit .admin__field-control .control-value {
    display: block;
}
.aw_helpdesk-ticket-edit #edit_form select,
.aw-helpdesk-ticket-edit #edit_form select {
    width: 100%;
}

.aw_helpdesk-ticket-edit #edit_form  #ticket_order_id,
.aw-helpdesk-ticket-edit #edit_form  #ticket_order_id {
    width: auto;
}

.admin__fieldset > .admin__field > .admin__field-control {
    font-weight: normal;
}

.side-col .admin__fieldset > .admin__field > .admin__field-control {
    width: calc( (100%) * .65 - 30px );
}

.side-col .admin__fieldset > .admin__field > .admin__field-label {
    width: calc( (100%) * .35 - 30px );
}

.aw_helpdesk-ticket-edit #ticket_edit_tabs,
.aw-helpdesk-ticket-edit #ticket_edit_tabs {
    float: left;
    margin-bottom: -1px;
}

.aw_helpdesk-ticket-edit .tabs-horiz .ui-tabs-anchor,
.aw-helpdesk-ticket-edit .tabs-horiz .ui-tabs-anchor {
    border-bottom: 0.1rem solid #adadad;
}

.aw_helpdesk-ticket-edit .tabs-horiz .ui-state-active .ui-tabs-anchor,
.aw-helpdesk-ticket-edit .tabs-horiz .ui-state-active .ui-tabs-anchor {
    border-bottom: 0.1rem solid #ffffff;;
}

#ticket_edit_tabs .ui-state-default {
    border: 0;
}

.tabs-horiz .ui-tabs-anchor {
    border: .1rem solid #adadad;
    border-bottom: 0;
    height: 52px;
}

#ticket_edit_tabs_general {
    border-right: .1rem solid #adadad;
    border-left: .1rem solid #adadad;
}

.ui-tabs-panel.ui-widget-content {
    background-color: #e6e6e6;
    padding: 35px 20px 0 20px;
}

.aw_helpdesk-ticket-edit .admin__field.field.field-status .control-value,
.aw-helpdesk-ticket-edit .admin__field.field.field-status .control-value {
    font-weight: bold;
}

.aw_helpdesk-ticket-edit .admin__field.field .admin__field-control a,
.aw-helpdesk-ticket-edit .admin__field.field .admin__field-control a {
    line-height: 3.2rem;
}

.admin__field.field.field-order_id.with-addon .addafter {
    float: right;
    line-height: 3.2rem;
}

.admin__field.field.field-order_items {
    margin-left: 0;
}

.admin__table-primary tfoot {
    background: transparent;
}

.admin__legend {
    border-bottom: 1px solid #adadad;
}

#ticket_general_fieldset .admin__legend.legend {
    border-bottom: 0;
}

#ticket_general_fieldset .admin__field.field.field-customer_email .loader {
    margin-left: 5px;
    display: none;
    float: left;
    z-index: 2;
    background: url("../images/loader-2.gif") no-repeat 50% 50%;
    width: 33px;
    height: 33px;
}

/* AUTOCOMPLETE*/
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

#ticket_ticket_fieldset .created_at {
    width: 33%;
}

#ticket_ticket_fieldset .open {
    color: #cc0000;
}

#ticket_ticket_fieldset .pending {
    color: #2b78e4;
}

#ticket_ticket_fieldset .solved {
    color: #009e0f;
}

#ticket_orders_fieldset .order-row {
    border-top: .1rem solid #adadad;
    border-color: #adadad;
}

#ticket_orders_fieldset .admin__table-primary td {
    border-bottom: 0;
}

#ticket_orders_fieldset .order-link {
    font-size: 1.5rem;
    font-weight: bold;
}

#ticket_orders_fieldset .order-status {
    color: #cc0000;
}

#ticket_orders_fieldset .order-status .complete {
    color: #009e0f;
}

#ticket_orders_fieldset .price {
    font-weight: bold;
}

#ticket_orders_fieldset .order-item a {
    font-size: 1.2rem;
}

.admin__fieldset > .admin__field.field.field-order_id > .admin__field-control {
    width: calc( (100%) * .44444444);
}

.aw_helpdesk-ticket-index .data-grid .data-grid-cell-content .high,
.aw-helpdesk-ticket-index .data-grid .data-grid-cell-content .high,
.aw_helpdesk-ticket-index .data-grid .data-grid-cell-content .unassigned,
.aw-helpdesk-ticket-index .data-grid .data-grid-cell-content .unassigned,
.aw_helpdesk-ticket-index .data-grid .data-grid-cell-content .open,
.aw-helpdesk-ticket-index .data-grid .data-grid-cell-content .open {
    color: #cc0000;
}

/* AUTOMATION */

#automation_general_fieldset .admin__legend.legend {
    border-bottom: 0;
}

#automation_conditions_fieldset .aw-hdu-condition-row .admin__control-multiselect {
    padding: 4px;
}

.aw-hdu-action-row {
    display: inline-block;
}

.aw-hdu-action-row div {
    float: left;
    margin-right: 10px;
}

.aw-hdu-condition-row {
    display: inline-block;
}

.aw-hdu-condition-row div {
    float: left;
    margin-right: 10px;
}

.aw_helpdesk-department-edit .aw-helpdesk-department-labels .admin__control-table th:first-child,
.aw-helpdesk-department-edit .aw-helpdesk-department-labels .admin__control-table th:first-child {
    width: 25%;
}

.aw_helpdesk-department-edit .aw-helpdesk-department-labels .admin__control-table th,
.aw-helpdesk-department-edit .aw-helpdesk-department-labels .admin__control-table th {
    width: 74%;
}

.aw_helpdesk-department-edit .aw-helpdesk-department-labels .admin__control-table td:first-child,
.aw-helpdesk-department-edit .aw-helpdesk-department-labels .admin__control-table td:first-child {
    width: 25%;
}

.aw_helpdesk-department-edit .aw-helpdesk-department-labels .admin__control-table td,
.aw-helpdesk-department-edit .aw-helpdesk-department-labels .admin__control-table td {
    width: 74%;
}

.aw-helpdesk-gateway-test-button {
    margin-left: calc( (100%) * .25 - 30px ) !important;
}

.aw_helpdesk-department-edit .modals-wrapper .error,
.aw-helpdesk-department-edit .modals-wrapper .error {
    color: red;
}

.aw_helpdesk-department-edit .modals-wrapper .success,
.aw-helpdesk-department-edit .modals-wrapper .success {
    color: #14cc08;
    font-size: 1.3em;
}

.aw_helpdesk-department-index .action-select-wrap .action-menu .action-submenu,
.aw_helpdesk-ticket-index .action-select-wrap .action-menu .action-submenu,
.aw_helpdesk-automation-index .action-select-wrap .action-menu .action-submenu,
.aw_helpdesk-department-index .action-select-wrap .action-menu,
.aw_helpdesk-automation-index .action-select-wrap .action-menu,
.aw_helpdesk-ticket-index .action-select-wrap .action-menu {
    overflow-y: initial !important;
}
