/*sampathy code*/
.discount-box{
    margin: 20px 0;
}
.email-field {
    width: 100% !important;
}
.email-field + .fieldset  {
    width: 100% !important;
}
.discount-box .title{
    color: #222;
    font-weight: 500;
    padding: 8px 0;
    display: block;
    text-align: center;
}
.discount-box>span.title {
    border: 1px solid #ddd;
    clear: both;
    font-size: 18px;
    width: 100%;
}
.discount-box>ul {
    border: 1px solid #ddd;
    width: 100%;
    margin: 0 auto;
}
.discount-box > ul li {
    background-color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.feature-wrapper .at-icon-wrapper, .feature-wrapper .at-icon
{
    height: 32px !important;
    width: 32px !important;
}
.checkout-cart-index #co-shipping-method-form label, .checkout-cart-index #co-shipping-method-form span
{
    font-weight: bold;
}
.discount-box > ul li label {
    border-right: 1px solid #ddd;
    float: left;
    background-color: #eee;
    color: #555;
    font-size: 12px;
    line-height: 24px;
    padding: 10px 0 0;
    height: auto;
    margin: 0;
    text-transform: capitalize;
    display: inline-block;
    width: 60%;
    text-align: center;
    font-weight: 700;
}
.discount-box > ul li span {
    color: #f7272b;
    display: inline-block;
    line-height: 24px;
    padding: 0;
    width: 38.5%;
    height: auto;
    text-align: center;
    font-weight: 700;
}
.discount-box > ul li label a {
    color: #555;
}

.product-view .calculator .calc_title {
    font-size: 18px;
    color: #f7272b;
    font-weight: 500;
    text-align: center;
}
.product-view .calculator .calc_grid {
    border: 1px solid #ddd;
    margin: 10px 0 20px;
    background: none #f5f5f5;
    width: 100%;
}
.product-view .calculator .calc_grid .left {
    float: left;
    width: 55%;
}
.product-view .calculator .calc_grid .left ul li {
    padding: 5px 10px;
    list-style: none;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    color: #666;
    font-size: 14px;
}
.product-view .calculator .calc_grid .left ul li label, .product-view .calculator .calc_grid .right ul li label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding: 0 0 5px;
}
.product-view .calculator .calc_grid .right {
    width: 45%;

}
.product-view .calculator .calc_grid .left, .product-view  .calculator .calc_grid .right {
    width: 50%;
    float: left;
}
.product-view .calculator .calc_grid .right ul li {
    padding: 5px 10px;
    list-style: none;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    color: #666;
    font-size: 14px;
}
.product-view .calculator #shopping-cart-link {
    padding: 0;
    text-align: center;
}
/*.product-view .calculator {
    margin-top: 140px;
}*/

p.reset_swatches {
    font-size: 12px !important;
    color: #f7272b;
    font-weight: 500;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}
.product-info-main .product-add-form
{
    width: 50% !important;
}
.swatch-option
{
    max-width: 100% !important;
}
.product-lower-secondary-column.custom-sidebar-right
{
    border: 1px solid #ddd;
    width: 25%;
    margin: 0;
    padding: 0 15px 10px;
}
.product-lower-secondary-column.custom-sidebar-right .inner
{
    padding-left: 0px;
    border: none;
}
.info-static-block .title {
    color: #404040;
    float: left;
    font-family: ArchivoNarrow-Bold;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 11px 0 0;
    text-shadow: 0 1px 1px #FFF;
    width: 100%;
}
.info-static-block .title span {
    background: transparent none;
    padding: 0;
    color: #222;
    font-family: 'Libre Franklin',sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.info-static-block .content li span
{
    color: #555 !important;
    font-weight: 600;
    font-size: 13px;
}
.feature-wrapper .addthis_counter.addthis_bubble_style
{
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-position: 0 0!important;
    height: 2pc;
    width: 56px!important;
    line-height: 2pc;
    padding: 0 0 0 6px;
}
.feature-wrapper .addthis_counter.addthis_bubble_style:hover
{
    background-position: 0 -2pc!important;
}
.feature-wrapper .addthis_counter.addthis_bubble_style a.addthis_button_expanded
{
    background: none;
    font-size: 1pc;
    line-height: 2pc;
    height: 2pc;
    margin: 0;
    width: 56px!important;
    padding: 0!important;
}
.info-static-block .red-link
{
    font-weight: bold;
    position: relative;
    top: 2px;
}
.info-static-block .red-link em
{
    font-style: normal;
}
.info-static-block .red-link:hover
{
    color: #000;
}
.info-static-block .content li {
    position: relative;
    padding-left: 12px;
    list-style: none;
}
.info-static-block .content li:before {
    background: transparent none;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #f7272b;
    border-top: 5px solid transparent;
    height: 0;
    margin-top: -2px;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 0;
    content: "";
}
.info-static-block .content li:hover span
{
    color: #ed2227 !important;
}
.info-static-block .title span {
    float: left;
    width: 100%;
}
.info-static-block .sub-title {
    color: #555;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: normal;
    padding-bottom: 10px;
}
.info-static-block .content .f-right {
    width: 40%;
    float: right;
}
.info-static-block .content ul {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    list-style: square inside none;
    margin: 0px !important;
}

/* custom css */
.cms-price-sheet #maincontent
{
    max-width: 1110px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cms-price-sheet .page-title
{
    margin: 35px 0 0;
}
.cms-price-sheet .page-title .cpl
{
    color: #EC141A;
}
.cms-price-sheet .resp-table
{
    max-height: 374px;
    overflow: auto;
}
.configurable_pricesheet_list td
{
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 12px 10px;
}
table.configurable_pricesheet_list > thead > tr > th {
    background-color: #e5e5e5;
    padding: 10px 10px;
    vertical-align: top;
    color: #222;
    font-size: 15px;
    position: relative;
    font-weight: bold;
}
.configurable_pricesheet_list th span.discount-ps {
    display: block;
    font-size: 12px;
    color: #EC141A;
}

/* cart page css */
/*.checkout-cart-index .cart-container .form-cart, .checkout-cart-index .cart-summary
{
    width: 100%;
}
.checkout-cart-index .cart-summary
{
    position: initial;
}
.checkout-cart-index .cart-summary
{
    background-color: #fff;
}
.checkout-cart-index .cart-totals
{
    width: 23%;
    float: right;
}
.checkout-cart-index .cart-summary .discount
{
    clear: both;
}
.checkout-cart-index .cart-summary .discount .content, .checkout-cart-index #block-shipping #block-summary
{
    display: block !important;
}
.cart-summary .block > .title:after
{
    display: none;
}
#shipping-zip-form .field.note
{
    width: 100%;
}
.cart-summary .block .fieldset .field
{
    width: 30%;
}
.checkout-cart-index #block-shipping .field {
    float: left;
    margin-right: 35px;
}
.checkout-cart-index button, .checkout-cart-index .cart-container .form-cart .action.continue, .checkout-cart-index .cart-summary .actions-toolbar > .primary button
{
    background-color: #333;
    border-color: transparent;
    color: #fff;
    font-weight: 700;
    height: 40px;
    padding: 0px 20px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
.checkout-cart-index .cart-container .form-cart .action.continue, .checkout-cart-index .cart-container .form-cart .action.continue:before
{
    line-height: 36px;
}
.checkout-cart-index button:hover, .checkout-cart-index .cart-container .form-cart .action.continue:hover, .checkout-cart-index .cart-summary .actions-toolbar > .primary button:hover
{
    background-color: #f7272b;
    border-color: transparent;
    color: #fff;
}
.cart-container .checkout-methods-items .action.primary.checkout
{
    width: auto;
    background-color: #f7272b;
    border: 1px solid #f7272b;
    line-height: 0px;
    float: right;
    margin-top: -5%;
}
.cart-container .checkout-methods-items .action.primary.checkout:hover
{
    background-color: #111;
    color: #fff;
    border-color: #111;
}*/
.checkout-cart-index .page-title
{
    color: #f7272b;
    font-size: 25px;
    font-weight: 700;
    padding: 30px 15px 0 0px;
    text-transform: uppercase;
}
.checkout-cart-index button, .checkout-cart-index .cart.table-wrapper .actions-toolbar > .action, .checkout-cart-index .action-gift, .checkout-cart-index .cart-container .form-cart .action.continue, .checkout-cart-index .cart-summary .actions-toolbar > .primary button
{
    background-color: #333;
    color: #fff;
}
.checkout-cart-index button:hover, .checkout-cart-index .cart.table-wrapper .actions-toolbar > .action:hover, .checkout-cart-index .action-gift:hover, .checkout-cart-index .cart-container .form-cart .action.continue:hover, .checkout-cart-index .cart-summary .actions-toolbar > .primary button:hover
{
    background-color: #f7272b;
    color: #fff;
}
.checkout-cart-index .action.primary.checkout
{
    background-color: #f7272b;
    color: #fff;
}
.checkout-cart-index .action.primary.checkout:hover
{
    background-color: #111;
    color: #fff;
}

/* end of cart page css */


.product-view .calculator .calc_grid ul {
    margin-bottom: 0;
}
.product-view .calculator .calc_grid ul li {
    margin-bottom: 0;
    height: 60px;
}
.product-view .calculator .calc_grid .left ul li:last-child{
    height: 150px;
    padding-top: 30px;
}

/* product page css */
#product_addtocart_form > .field
{
    clear: both;
}
#product_addtocart_form > .field span
{
    font-weight: bold;
    border: none !important;
    font-size: 15px;
    color: #222;
    padding-bottom: 2px;
}
#product_addtocart_form > .field .options-list .field
{
    font-weight: bold;
    float: left;
    margin: 10px 10px 10px 0;
}

/* custom strap css */
.cms-customize-hook-and-loop-strap .required em {
    color: #c00000;
    padding-right: 3px;
}
.cms-customize-hook-and-loop-strap .form-list .custom-strap-list-panel li.control {
    float: left;
    margin: 0 2% 15px 0;
    border: 1px solid #ddd;
    text-align: center;
    width: 45%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cms-customize-hook-and-loop-strap .form-list li.control img {
    width: 250px;
}
.cms-customize-hook-and-loop-strap label {
    font-weight: 700;
    font-size: 14px;
    color: #4d4d4d;
    cursor: pointer;
}
.cms-customize-hook-and-loop-strap .custom-strap-list-panel
{
    padding-top: 10px;
}
.cms-customize-hook-and-loop-strap .fieldset.fieldset-16 .webforms-fields-comment {
    font-size: 11px;
}
.cms-customize-hook-and-loop-strap input.input-text, .cms-customize-hook-and-loop-strap select, .cms-customize-hook-and-loop-strap textarea
{
    font-size: 12px;
}
.cms-customize-hook-and-loop-strap .fieldset.fieldset-16 {
    background: #f5f5f5 none;
    margin: 20px 0;
    padding: 25px 20px 15px 20px;
}
.cms-customize-hook-and-loop-strap .fieldset .legend
{
    margin-left: 0;
    width: 100%;
    margin-bottom: 10px;
}
.cms-customize-hook-and-loop-strap .webforms-fields-101
{
    width: 47% !important;
    float: left;
    margin-right: 3% !important;
    margin-top: 10px;
}
.cms-customize-hook-and-loop-strap .cstm-form-bottom-section .cstm-price-lft {
    float: left;
    width: 75%;
    padding: 20px 0 0;
}
.cms-customize-hook-and-loop-strap .cstm-form-bottom-section .cstm-price-lft label {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    vertical-align: top;
    margin-bottom: 5px;
}
.cms-customize-hook-and-loop-strap .cstm-form-bottom-section .cstm-price-lft .custom-strap-list-panel {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: #F7272B;
    padding-top: 0px;
}
.cms-customize-hook-and-loop-strap .cstm-form-bottom-section .cstm-price-lft .buttons-set {
    display: inline-block;
    clear: none;
    vertical-align: top;
    margin: 0 15px;
    padding: 0;
    text-align: right;
}
.cms-customize-hook-and-loop-strap .cstm-form-bottom-section .cstm-price-lft .custom-strap-list-panel label#price {
    margin-left: -5px;
    color: #F7272B;
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    vertical-align: top;
}
.cms-customize-hook-and-loop-strap .btn_thme_secondary {
    background-color: #333;
    border-color: transparent;
    color: #fff;
    font-weight: 700;
    height: 40px;
    padding: 0px 20px;
    text-transform: uppercase;
    position: relative;
    line-height: 36px;
    display: inline-block;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
.cms-customize-hook-and-loop-strap .btn_thme_secondary:hover {
    background-color: #f7272b;
    border-color: transparent;
    color: #fff;
}
.cms-customize-hook-and-loop-strap .btn_thme_primary
{
    height: 40px;
}
.cms-customize-hook-and-loop-strap .cstm-form-bottom-section .cstm-price-lft span#loader-add-to-cart {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    background: rgba(255,255,255,0.5);
    align-content: center;
    z-index: 999999;
}
.cms-customize-hook-and-loop-strap .overlay.strap-not-found {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.2);
    z-index: 999999;
    display: none;
}
.cms-customize-hook-and-loop-strap .pop_bl {
    text-align: center;
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: 0px auto;
    position: relative;
}
.cms-customize-hook-and-loop-strap .overlay.strap-not-found .pop_content {
    height: auto;
    padding: 30px 20px 20px;
    position: relative;
    font-size: 16px;
    color: #222;
}
.cms-customize-hook-and-loop-strap .pop_content {
    background: #fff;
    width: 400px;
    height: 80px;
    margin-top: 25%;
}
.cms-customize-hook-and-loop-strap .overlay.pdp_attribute .pop_bl span#close_popup, .overlay.strap-not-found span#close_popup {
    background-color: #f00;
    color: #fff;
    font-size: 16px;
    height: 28px;
    line-height: 26px;
    opacity: 1;
    position: absolute;
    cursor: pointer;
    right: 2px;
    text-align: center;
    top: 2px;
    width: 28px;
    display: none;
}
.top-links li.authorization-link:before {
    width: 22px;
    content: " ";
    background-image: url(../images/user_ico.png);
    position: absolute;
    left: -20px;
    top: 7px;
    height: 20px;
}
.mini-cart .ic-cart:before, .ic-cart1:before {
    width: 22px;
    content: " ";
    background-image: url(../images/cart_ico.png);
    position: absolute;
    left: 4px;
    top: 9px;
    height: 20px;
}
.header-primary .dropdown-block .dropdown-heading.mini-cart-heading > span
{
    padding-right: 0;
}

/* login page */
.customer-account-login .form-login .actions-toolbar .secondary span
{
    color: #A3AA9B;
}
.customer-account-login .or-login-with
{
    margin: 20px 0 10px;
    color: #555;
}
.customer-account-login #sociallogin_button .inchoo-socialconnect-facebook-inner
{
    background: transparent url(../images/login-button-inner.png) repeat-x scroll left top !important;
    width: 30px;
}
.customer-account-login #sociallogin_button .inchoo-socialconnect-facebook-inner a
{
    background: transparent url(../images/login-button-left.png) no-repeat scroll left top !important;
    display: block;
    line-height: 30px !important;
    text-indent: -9999px;
}
.login-container .fieldset:after
{
    display: none;
}
.login-container .block-customer-cotent
{
    width: 45% !important;
    margin-right: 20px;
}
.customer-account-login .login-container .block .block-title
{
    border: none;
    margin: 0;
    padding: 0;
}
.customer-account-create .fieldset > .field.required > .label:after, .customer-account-create .fieldset > .fields > .field.required > .label:after, .customer-account-create .fieldset > .field._required > .label:after, .customer-account-create .fieldset > .fields > .field._required > .label:after
{
    display: none;
}
.customer-account-create .fieldset > .field.required > .label:before, .customer-account-create .fieldset > .fields > .field.required > .label:before, .customer-account-create .fieldset > .field._required > .label:before, .customer-account-create .fieldset > .fields > .field._required > .label:before
{
    content: '*';
    color: #c00000;
    font-size: 1.2rem;
    padding-right: 3px;
    font-style: italic;
}
.customer-account-create .field .control
{
    margin-bottom: 10px;
}
.customer-account-create .fieldset
{
    margin: 0 0 20px;
}
.customer-account-create fieldset.create .legend {
    margin: 0 0 10px;
    font-size: 22px;
}
.customer-account-create p.required
{
    clear: both;
    color: #ff7f00;
    font-size: 12px;
    line-height: normal;
    margin: 0;
    position: relative;
    top: -10px;
}
.customer-account-create .fieldset > .newsletter .field.choice .label
{
    display: block;
    font-weight: 600;
}
.customer-account-login form{
    color: #4d4d4d;
}
#password-strength-meter-container
{
    display: none;
}
.customer-account-login .form-create-account .legend
{
    padding: 2px 0;
}
.customer-account-login .fieldset > .field:not(.choice) > .label
{
    padding: 10px 15px 0 0;
}
.customer-account-create .page-title span, .customer-account-login .page-title-wrapper .page-title span
{
    font-family: 'Libre Franklin';
}
.catalog-product-view .product-view .swatch-attribute .swatch-option.text
{
    height: auto;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    color: #222;
    padding: 0 7px;
}
.catalog-product-view .swatch-attribute .swatch-option
{
    min-width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}
.product-info-main .box-tocart .field.qty .label, .product-options-bottom .box-tocart .field.qty .label
{
    float: left;
    margin-right: 10px;
}
.box-tocart .fieldset > .field:not(.choice) > .label
{
    width: auto !important;
}
.catalog-product-view .product-info-main .box-tocart .field.qty, .catalog-product-view .product-options-bottom .box-tocart .field.qty
{
    float: left;
    margin-right: 25px;
}
.qty-button {
    height: 21px;
}
.catalog-product-view .product-info-main .box-tocart .input-text.qty, .product-options-bottom .box-tocart .input-text.qty
{
    background-color: #f5f5f5;
    height: 42px;
}
.catalog-product-view .product-info-main .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart
{
    line-height: 1.2rem;
    font-family: 'Roboto',sans-serif;
}
.catalog-product-view .swatch-option.text
{
    font-size: 14px;
    font-weight: 400;
}
/* new changes */
.product-info-main .product-reviews-summary, .product-info-stock-sku, .product-info-main .product-info-stock-sku .required_class, .options-list.nested .admin__field-option:first-child, .product-social-links, .catalog-product-view .stock.available
{
    display: none;
}
.required_class
{
    font-weight: bold;
    display: block;
    margin-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
}
.required_class em
{
    color: #c00000;
    padding-right: 3px;
}
.catalog-product-view .product-view .action.primary
{
    text-transform: uppercase;
    font-size: 14px;
    background-color: #f7272b;
    min-width: auto !important;
}
.catalog-product-view .product-view .action.primary:hover
{
    background-color: #111;
}
.page-product-configurable.catalog-product-view .product-view .action.primary:disabled
{
    background-color: #333;
    min-width: 190px !important;
}
.page-product-configurable.catalog-product-view .product-view .action.primary
{
    min-width: 190px !important;    
}
.review-fieldset.fieldset > .review-legend.legend:first-child, .review-fieldset > legend:nth-child(3)
{
    margin-bottom: 0 !important;
}
.review-fieldset > legend:nth-child(3) span, .review-fieldset legend:nth-child(3) strong
{
    float: left;
    font-size: 16px;
}
.review-fieldset > div.field.required > .label:after{
    content: '' !important;
}
.review-fieldset > div.field.required > .label:before{
    content: '*';
    color: #c00000;
    padding-right: 3px;
    font-style: italic;
    font-weight: bold;
}
.label1 span
{
    font-size: 16px;
    font-weight: bold;
    color: #222;
    position: relative;
    top: 10px;
}
#product_addtocart_form > .field span.note
{
    display: block;
    font-weight: 100;
    margin-top: 5px;
}
.catalog-product-view .product.attribute.sku, .catalog-product-view .product.attribute.sku strong
{
    font-weight: bold !important;
    color: #222;
    font-size: 15px;
    margin-top: -10px;
}
.product-info-main .page-title-wrapper .page-title
{
    line-height: 25px !important;
}
.configurable-product #product-options-wrapper label, #product-options-wrapper label
{
    color: #222 !important;
}
.product-info-main .product-info-price
{
    margin-bottom: 0px !important;
}
.qty-buttons-wrapper .qty-button.increase:before {
    content: url(../images/length-minus.jpg);
}
.qty-buttons-wrapper .qty-button.decrease:before {
    content: url(../images/length-plus.jpg);
}
.qty-buttons-wrapper .qty-button.increase
{
    margin-bottom: 0;
}
.product.info.detailed .product.data.items > .item.content
{
    padding: 10px 0;
    background-color: #fbfbfb;
    margin-top: 45px;
}
.product.info.detailed .product.data.items > .item.content#description, .product.info.detailed .product.data.items > .item.content#reviews
{
    padding: 10px 20px;
}
.product.data.items > .item.title
{
    margin: 0 !important;
}
.product.info.detailed .product.data.items > .item.content#reviews table
{
    border: 1px solid #ddd;
}
.product.info.detailed .product.data.items > .item.content#reviews table tbody tr:nth-child(1), .product.info.detailed .product.data.items > .item.content#reviews table tbody tr:nth-child(3) {
    background: #f5f5f5 none;
}
.product.info.detailed .product.data.items > .item.content#reviews table label
{
    font-weight: bold;
}
.product.info.detailed .product.data.items > .item.title > .switch
{
    height: auto;
    padding: 12px 15px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #fff;
}
.product.info.detailed .product.data.items > .item.title.active
{
    border-top: 1px solid #ed2227;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
.product.info.detailed .product.data.items > .item.title.active .switch
{
    background: #fbfbfb !important;
    color: #000 !important;
}
.product.info.detailed .product.data.items > .item.content#description li
{
    list-style: outside;
    line-height: 30px;
}
.qty-button:hover
{
    background-color: transparent !important;
}
.swatch-option:not(.disabled):hover{
    outline: none !important;
}
.swatch-attribute .swatch-option:not(.disabled):hover, .swatch-attribute .swatch-option.color:not(.disabled):hover
{
    border: 1px solid #ccc !important;
}
.swatch-attribute .swatch-option.text.selected {
    background-color: #f5f5f5 !important;
}
.swatch-attribute .swatch-option:not(.disabled).selected:hover, .catalog-product-view .swatch-option.selected {
    border: 4px solid red !important;
    position: relative;
    top: -3px;
    outline: none !important;
    /*margin-bottom: -1px;*/
}
.catalog-product-view .swatch-attribute .swatch-option.text.selected {
    margin-bottom: -1px;
}
.swatch-attribute .swatch-option:not(.disabled).color.selected:hover, .catalog-product-view .swatch-option.color.selected
{
    outline: 4px solid red !important;
    position: initial;
    border: 2px solid #fbfbfb !important;
}
.swatch-attribute-label:before {
    content: '*';
    color: #c00000;
    padding-right: 3px;
    font-style: italic;
}
.swatch-attribute-label, .swatch-attribute-selected-option {
    color: #222 !important;
    font-weight: bold;
    padding-left: 5px !important;
}
.swatch-attribute-label:after {
    content: ':';
}
.swatch-attribute {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    height: 135px;
}
.hook_loop .swatch-option
{
    padding: 0 20px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    text-transform: uppercase;
}
.swatch-attribute.hook_loop
{
    border-bottom: none;
    height: auto;
}
.swatch-attribute.hook_loop .swatch-attribute-options:after {
    content: "OR";
    position: relative;
    color: #000;
    visibility: visible;
    height: auto;
    display: inline-block;
    left: -107px;
    top: 5px;
    font-size: 15px;
}
.swatch-attribute.hook_loop .swatch-attribute-options.only_one:after
{
    content: "";
}
.swatch-attribute.hook_loop .swatch-attribute-options.noafter:after {
    content: '';
}
.swatch-attribute.hook_loop .swatch-attribute-options > .swatch-option:first-child
{
    margin-right: 35px;
}
.mb-ajaxsuite-popup-wrapper
{
    background-color: #fff !important;
    /*max-height: 390px !important;*/
    top: 15px !important;
    overflow-y: auto;
    color: rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0) 0px 0px 64px;
}
#mb-ajaxsuite-blank
{
    background-color: transparent !important;
}
.mb-ajaxsuite-popup-wrapper .mb-login-popup-title
{
    background-color: #ddd !important;
    text-align: left !important;
}
.mb-ajaxsuite-popup-wrapper .mb-login-popup-title strong{
    color: #000 !important;
    font-size: 18px !important;
    font-weight: bold;
    text-transform: initial;
}
.mb-ajaxsuite-popup-wrapper .mb-ajaxsuite-popup-border {
    margin: 20px !important;
    display: flow-root;
}
.mb-ajaxsuite-popup-wrapper #mb-ajaxcart-wrapper .product-name, .mb-ajaxsuite-popup-wrapper #mb-ajaxcart-wrapper .product-sku
{
    text-align: left;
    color: #000;
    font-weight: bold;
}
.mb-ajaxsuite-popup-wrapper .popup-title
{
    background-color: #1d1d1d;
    text-align: left;
}
.mb-ajaxsuite-popup-wrapper .popup-title span
{
    font-size: 20px;
    padding: 10px 10px 8px 15px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
}
.mb-ajaxsuite-popup-wrapper .product_info
{
    text-align: left;
}
.mb-ajaxsuite-popup-wrapper .product-image
{
    width: 135px;
    height: 135px;
    display: inline-block;
    vertical-align: middle;
}
#mb-ajaxcart-wrapper img.image
{
    width: 100% !important;
}
.mb-ajaxsuite-popup-wrapper .product-option
{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}
.mb-ajaxsuite-popup-wrapper .swatch-attribute
{
    border: none;
}
.mb-ajaxsuite-popup-wrapper #mb-ajaxcart-wrapper .ajaxcart-success-box .success-content, .mb-ajaxsuite-popup-wrapper #mb-ajaxcart-wrapper .ajaxcart-success-box .error-content {
    height: auto !important;
    overflow-y: hidden !important;
}
#mb-ajaxcart-wrapper .action.primary
{
    color: #fff;
    font-weight: 700;
    height: 40px;
    padding: 0px 20px;
    text-transform: uppercase;
    position: relative;
    line-height: 36px;
    display: inline-block;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
#mb-ajaxcart-wrapper #ajaxcart_cancel
{
    background-color: #f7272b !important;
    border: 1px solid #f7272b !important;
}
#mb-ajaxcart-wrapper #ajaxcart_checkout
{
    background-color: #333 !important;
    border-color: transparent !important;
}
#mb-ajaxcart-wrapper #ajaxcart_cancel:hover
{
    background-color: #111 !important;
    color: #fff !important;
    border-color: #111 !important;
}
#mb-ajaxcart-wrapper #ajaxcart_checkout:hover
{
    background-color: #f7272b !important;
    border-color: transparent !important;
    color: #fff !important;
}
#mb-ajaxcart-wrapper .product-option span
{
    color: #000;
}
#mb-ajaxcart-wrapper span:hover>span{
    color: #000; 
}
.mb-ajaxsuite-popup-wrapper a.mb-ajaxsuite-close
{
    color: #777;
    display: block;
    position: absolute !important;
    right: 0px !important;
    top: 10px !important;
    padding: 2px 3px;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    background: none !important;
}
.mb-ajaxsuite-popup-wrapper a.mb-ajaxsuite-close:after {
    content: 'x';
}
#mb-ajaxcart-wrapper .ajaxcart-success-box .ajaxcart-buttons
{
    text-align: left;
}
.fotorama__arr, .fotorama__caption
{
    display: none !important;
}
.swatch-option-tooltip {
    display:none !important;
}
.swatch-option.disabled, .checkout-index-index .header-container-micro
{
    display: none;
}
.checkout-index-index .header-mobile .skip-content--style, .checkout-index-index .header-mobile .skip-link {
    background-color: transparent !important;
}
.checkout-index-index #maincontent
{
    max-width: 1110px !important;
    margin: 0 auto;
}
#checkout-review-submit
{
    margin-top: -10px;
    margin-bottom: 10px;
}
.checkout-index-index .fieldset > .field:not(.choice) > .control
{
    width: 100%;
}
.checkout-index-index .opc-wrapper .form-login, .checkout-index-index .opc-wrapper .form-shipping-address
{
    max-width: 100%;
}
.hook_loop .selected
{
    position: relative !important;
    left: 6px !important;
}
.opc-progress-bar-item._active:before, .opc-progress-bar-item._active > span:before, .opc-wrapper .shipping-address-item.selected-item:after, .filter-title strong[data-count]:after, .main-color--bg
{
    background-color: #ec141a !important;
}
.checkout-index-index .minicart-items
{
    display: block !important;
}
.opc-block-summary .items-in-cart > .title:after
{
    content: '' !important;
}
.nav-regular .classic > .nav-panel--dropdown
{
    width: 18em !important;
}
#mainmenu > ul > li:nth-child(2) > ul
{
    left: 81.6375px !important;
}
#mainmenu > ul > li:nth-child(3) > ul
{
    left: 170px !important;
}
.checkout-index-index .authentication-wrapper .action-auth-toggle
{
    background-color: #ec141a;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    font-weight: bold;
    border-radius: 5px;
}
.opc-wrapper .shipping-address-item.selected-item, .main-color--border {
    border-color: #000 !important;
}
.customer-account-forgotpassword .actions-toolbar
{
    margin: 0 15px !important;
}
.customer-account-forgotpassword .actions-toolbar .secondary
{
    float: left !important;
}
.customer-account-forgotpassword .actions-toolbar > .primary button.submit.primary
{
    border: 1px solid #1e728c;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 8px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    background: linear-gradient(to bottom, #DDDDDE 0%, #DDDDDE 100%) repeat scroll 0 0 #DDDDDE;
    background-color: #DDDDDE;
    border-color: #BDBDBF;
    color: #303030;
    border-radius: 3px 3px 3px 3px;
}
.customer-account-forgotpassword .actions-toolbar .secondary a.action
{
    margin-top: 0;
    font-size: 14px;
}
.customer-account-forgotpassword p.required
{
    clear: both;
    color: #ff7f00;
    font-size: 12px !important;
    line-height: normal;
    text-align: right;
}
.customer-account-forgotpassword .label:after{
    content: '' !important;
}
.customer-account-forgotpassword .label:before
{
    content: '*';
    color: #c00000;
    padding-right: 3px;
    font-style: italic;
    font-size: 14px;
}
.customer-account-forgotpassword .fieldset > .field:not(.choice) > .control
{
    width: 100%;
}
.customer-account-forgotpassword .fieldset
{
    margin-bottom: 10px;
}
.customer-account-forgotpassword div, .customer-account-forgotpassword p, .customer-account-forgotpassword label
{
    font-size: 14px !important;
}
.customer-account-forgotpassword .page-title .base
{
    color: #222;
    font-size: 25px !important;
    font-weight: 700;
}
.customer-account-forgotpassword .page-title
{
    margin-bottom: 15px;
}
.customer-account-forgotpassword h2
{
    font-weight: 700;
    font-style: normal;
    color: #222;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 22px;
}
.customer-account-forgotpassword .page-title-wrapper
{
    margin-top: 20px
}
.fotorama__grab > .fotorama__stage__frame:not(:nth-child(1))
{
    display: none
}
.fotorama__stage__shaft.fotorama__grab {
    transform: none !important;
}
.fotorama__stage__frame
{
    border: 1px solid #ccc !important;
}
.page-product-configurable.product-hook-and-loop-straps-with-velcro-brand-fasteners .box-tocart, .page-product-configurable.product-duragrip-brand-hook-and-loop-straps .box-tocart
{
    clear: both;
    padding-top: 20px;
}
.page-product-configurable.product-hook-and-loop-straps-with-velcro-brand-fasteners .price-wrapper, .page-product-configurable.product-duragrip-brand-hook-and-loop-straps .price-wrapper
{
    float: left;
    position: relative;
}
.page-product-configurable.product-hook-and-loop-straps-with-velcro-brand-fasteners .price-final_price .price-wrapper .price, .page-product-configurable.product-duragrip-brand-hook-and-loop-straps .price-final_price .price-wrapper .price
{
    float: left;
}
.page-product-configurable.product-hook-and-loop-straps-with-velcro-brand-fasteners .f-right.min_order, .page-product-configurable.product-duragrip-brand-hook-and-loop-straps .f-right.min_order
{
    display: block;
    background: #eee none;
    border-radius: 6px;
    font-size: 12px;
    left: -o-calc(100% - -20px);
    left: -moz-calc(100% - -20px);
    left: -webkit-calc(100% - -20px); 
    left: calc(100% - -20px);
    padding: 10px;
    text-align: center;
    width: 210px;
    position: absolute;
}
.page-product-configurable.product-hook-and-loop-straps-with-velcro-brand-fasteners .min_order::before, .page-product-configurable.product-duragrip-brand-hook-and-loop-straps .min_order::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 10px solid #eee;
    border-bottom: 8px solid transparent;
    position: absolute;
    left: -10px;
    top: 16px;
}
.page-product-configurable.product-hook-and-loop-straps-with-velcro-brand-fasteners .cstm_notify, .page-product-configurable.product-duragrip-brand-hook-and-loop-straps .cstm_notify
{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    width: 400px;
}
.page-product-configurable.product-hook-and-loop-straps-with-velcro-brand-fasteners .cstm_notify a, .page-product-configurable.product-duragrip-brand-hook-and-loop-straps .cstm_notify a
{
    color: rgb(255,0,0);    
}
.page-product-configurable.product-hook-and-loop-straps-with-velcro-brand-fasteners .cstm_notify a:hover, .page-product-configurable.product-duragrip-brand-hook-and-loop-straps .cstm_notify a:hover
{
    color: rgb(255,0,0);
}
.catalog-product-view .product-secondary-column .box-brand
{
    display: none;
}
.page-product-configurable.catalog-product-view .configurable-pricerange
{
    display: none;
    font-size: 30px;
    font-weight: 700;
    line-height: 43px;
    font-family: Roboto, sans-serif;
}
.page-product-configurable.catalog-product-view .configurable-pricerange .price
{    
    color: #222222;
}
div#description .required_class {
    display: none;
}

div#description #soldunit {
    display: none;
}
#layered-filter-block .swatch-attribute
{
    border-bottom: 0;
    height: auto;
    padding: 0;
}
#layered-filter-block .swatch-attribute-options .swatch-option
{
    height: auto;
    padding: 2px 5px;
}
#layered-filter-block .filter-options-title
{
    color: #f7272b;
    font-size: 14px;
}
#layered-filter-block .filter-options-title:after
{
    content: '';
    background: url(https://hookandloop.com/skin/frontend/default/waterlee-boilerplate/aw_layerednavigation/img/layered-nav-title-arrow.png) no-repeat scroll right center transparent;
    right: 0;
    width: 30px;
    height: 30px;
}
#layered-filter-block .active>.filter-options-title:after
{
    content: '';
    background: url(https://hookandloop.com/skin/frontend/default/waterlee-boilerplate/aw_layerednavigation/img/layered-nav-title-arrow-up.png) no-repeat scroll right center rgba(0, 0, 0, 0);
    right: 0;
    width: 30px;
    height: 30px;
}
#layered-filter-block ol.sy-multiple-layered-navigation-items li a{
    font-size: 14px;
    color: #444;
    padding-left: 18px;
}
#layered-filter-block .filter-options-content .count
{
    color: #555555;
    font-weight: 400;
}
#layered-filter-block .filter-options-content
{
    padding: 4px 0 0;
}
#layered-filter-block .block-subtitle
{
    background: #1d1d1d none;
    line-height: normal;
    padding: 12px 15px;
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}
#layered-filter-block .sy-multiple-layered-navigation-items li img
{
    border: solid thin #4c4c4c;
    height: 14px;
    width: 14px;
    vertical-align: middle;
}
#layered-filter-block
{
    border: 1px solid #ddd;
}
#layered-filter-block .filter-content > .filter-options
{
    padding: 0 10px;
}
#layered-filter-block .filter-options-item
{
    border: none;
}
#layered-filter-block .filter-content .item
{
    line-height: 22px;
}
.actions-primary .action.primary:hover, .actions-primary .action.primary:focus{
    background-color: #111;
    border: 1px solid #111;
}
.checkout-index-index #onestep_form .mw-osc-block-title .onestepcheckout-numbers::before, .checkout-index-index #onestep_form .mw-osc-block-title .onestepcheckout-numbers::after {
    border-color: #ec141a !important;
    color: #fff !important;
}
.checkout-index-index #checkout-review-load, .checkout-index-index .data-table tr:nth-of-type(2n), .data-table thead {
    background-color: #eeeeee !important;
}
#checkout-review-table tbody tr.first.last, .checkout-index-index #checkout-review-load .data-table#checkout-review-table tfoot tr
{
    background-color: #f5f5f5 !important;
}
.checkout-index-index #checkout-review-table tfoot th, .checkout-index-index #checkout-review-table tfoot td span
{
    color: #222;
    text-align: right;
    font-weight: bold;
}
.checkout-index-index .actions-toolbar>.primary .action, .checkout-index-index .actions-toolbar>.secondary .action
{
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.checkout-index-index .actions-toolbar>.secondary .action
{
    padding: 5px 10px !important;
    margin: 0 !important;
}
.checkout-index-index .actions-toolbar>.secondary .action span
{
    line-height: 1.6rem;
}
.checkout-index-index .actions-toolbar
{
    margin-bottom: 10px;
}
.checkout-index-index .actions-toolbar>.primary .action:hover, .checkout-index-index .actions-toolbar>.secondary .action:hover{
    background-color: #f7272b;
    border-color: transparent;
    color: #fff;
}
#checkout-review-table tbody tr.first.last th
{
    text-align: center;
    font-size: 14px;
    border: none;
}
#checkout-review-table tfoot .totals.sub th, #checkout-review-table tfoot td span
{
    font-weight: bold;
}
.checkout-index-index .partial-shipment
{
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 20px;
    width: auto;
    float: right;
    position: sticky;
    background-color: #ec141a;
    color: #fff;
}
#checkout-review-submit
{
    top: 0;
    /*width: 60%;*/
    background: #ffffffa8;
    z-index: 2;
    display: inline-block;
    float: right;
    margin-top: 12px;
}
.mw-osc-threecolumns
{
    clear: both;
    border-top: 2px solid #ccc; 
}
.checkout-index-index button.partial-shipment:hover
{
    background-color: #111;
    color: #fff;
    border-color: #111;
}
label#order_comment {
    font-size: 14px;
    font-weight: bold;
}
.checkout-index-index #checkout-review-table tr.grand.totals th, .checkout-index-index #checkout-review-table tr.grand.totals td
{
    border-top: none;
    padding: 0 10px 12px;
}
#checkout-review-table tr.grand.totals td span
{
    color: #f7272b;
}
.checkout-index-index #onestepcheckout_place_order_button .button {
    background-color: #ec141a !important;
    border-color: #ec141a !important;
    color: #FFFBFB !important;
    display: none;
}
#checkout-review-table .product-name, #checkout-review-table .item-options, #checkout-review-table .qty-box
{
    margin-left: 15px !important;
    font-size: 14px !important;
}
#checkout-review-table .item-options dt.label
{
    font-size: 13px;
    margin-bottom: 0;
}
#checkout-review-table .product-name, #checkout-review-table .price-excluding-tax .price
{
    font-size: 14px !important;
}
.osc-delete
{
    top: 7px !important;
    left: -7px !important;
    width: 25px !important;
    height: 25px !important;
    background-size: initial !important;
}
.checkout-index-index .mw-osc-page-tittle
{
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
    font-size: 25px;
    display: inline-block;  
}
#checkout-review-table tbody tr.first.last:not(:first-child)
{
    display: none;
}
.checkout-index-index #checkout-review-load .data-table tr:nth-of-type(2n)
{
    background-color: #fff !important;
}
#checkout-review-table tfoot tr.totals th
{
    text-align: right;
}
#onestep_form .label, #onestep_form .input-box > label{
    font-weight: 700;
}
#onestep_form .field .label .required-symbol
{
    color: #c00000;
    padding-right: 3px;
    margin-left: 0;
}
.checkout-index-index #onestep_form .mw-osc-block-title .onestepcheckout-numbers:before
{
    background-color: #ed2328;
    width: 23px;
    height: 23px;
    font-size: 14px;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
.checkout-index-index #onestep_form .mw-osc-block-title .onestepcheckout-numbers
{
    border: 0;
    background: none;
    font-weight: bold;
    height: 35px;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 0 28px;
    line-height: 23px;
    margin-bottom: 10px;
    color: #222 !important;
    font-size: 18px;
}
.checkout-index-index #onestep_form .mw-osc-block-title
{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.checkout-index-index .mw-osc-page-content
{
    display: none;
}
.checkout-index-index #onestep_form .mw-osc-block-title .onestepcheckout-numbers-6:before {
    content: "4";
}
.checkout-index-index #onestep_form .review .mw-osc-block-title .onestepcheckout-numbers:after
{
    content: none;
}
.checkout-index-index #add_coupon_code_button
{
    background-color: #333;
    border-color: transparent;
    color: #fff;
    font-weight: 700;
    height: 40px;
    padding: 0px 20px;
    text-transform: uppercase;
    position: relative;
    line-height: 36px;
    display: inline-block;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
.checkout-index-index #add_coupon_code_button:hover
{
    background-color: #f7272b;
    border-color: transparent;
    color: #fff;
}
.checkout-index-index .onestepcheckout-discount label
{
    font-weight: bold;
}
.checkout-index-index #onestep_form .discount-form .actions-button
{
    padding-left: 5px;
}
.checkout-index-index input#discount-code
{
    height: 40px;
}
.checkout-index-index #onestepcheckout-logout-link
{
    display: none;
}
.checkout-index-index #onestep_form > div:not(:last-child)
{
    border-right: 1px solid #ddd;
}
.checkout-index-index #co-shipping-method-form dl.sp-methods
{
    border-bottom: 5px solid #ddd;
}
#checkout-review-table
{
    border: 1px solid #ddd;
}
#checkout-review-table.data-table tr
{
    background-color: #fff;
}
#checkout-review-table.data-table tr td, #checkout-review-table .data-table tr th
{
    border-right: none;
}
.checkout-index-index #checkout-review-table tr .last, .checkout-index-index #checkout-review-table tr .amount
{
    white-space: initial;
}
.checkout-index-index #checkout-review-table .qty-box
{
    margin-left: 0px;
}
.checkout-index-index .osc-minus, .checkout-index-index .osc-add
{
    display: none !important;
}
.checkout-index-index .box-qty
{
    padding: 0 !important;
    width: 40px !important;
}
.checkout-index-index .osc-delete {
    background-image: url('../images/fancy_close.gif');
}
.checkout-index-index .no-image
{
    width: 100% !important;
    display: block;
    word-break: break-word;
    padding-right: 0 !important;
}
#checkout-review-table .item-options dd, #checkout-review-table .product-name
{
    margin-bottom: 5px !important;
}
#checkout-review-table .item-options dd
{
    margin-left: 10px;
}
.checkout-index-index .qty-sec
{
    width: 70px !important;
}
.checkout-index-index .checkout-index-index .delete-sec
{
    width: auto !important;
}
.checkout-index-index .price-sec
{
    width: 80px;
    text-align: center;
}
.checkout-index-index .payment-methods input[type="radio"]
{
    float: left;
}
.checkout-index-index .payment-methods .choice label
{
    float: left;
    width: 92%;
}
.checkout-index-index #checkout-review-table .no-image .product-name, .checkout-index-index #checkout-review-table .no-image .item-options, .checkout-index-index #checkout-review-table .no-image .qty-box
{
    margin-left: 0px;
    font-size: 14px;
}
.checkout-index-index #checkout-review-table .no-image .product-name
{
    font-weight: bold;
}
.duplicate-ordersection .duplicate-order:not(:first-child) {
    display: none;
}
.duplicate-order{
    border: 1px solid #ec141a;
    padding: 5px 0px 9px 0px;
    margin-top: 10px;
    background-color: #ec141a2b;
}
.duplicate-order span {
    margin-left: 30px;
}
.checkout-cart-index .duplicate-ordersection {
    display: none;
}
#shipping-options-details-list-wrapper
{
    display: none;
}
#checkout-payment-method-load label
{
    font-weight: 400 !important;
}
.cart-container .cart.table-wrapper .product-item-details
{
    display: block;
}
.cart.table-wrapper .item-options dt
{
    min-width: 25%;
}
.grand.totals
{
    font-size: 18px;
}
#checkout-shipping-method-load .sp-methods dt
{
    float: none;
    width: 100%;
    font-weight: bold;   
}
#checkout-shipping-method-load .sp-methods dd
{
    float: none;
    width: 100%;
    padding-right: 0;
}
#shipping-options-details-list-wrapper
{
    border: 1px solid #ddd;
    width: 293px;
}
#shipping-options-details-list-wrapper .field _required
{
    display: table;
}
#shipping-options-details-list-wrapper .field .label, #shipping-options-details-list-wrapper .field .control
{
    display: table-cell;
    padding: 9px 10px;
    vertical-align: middle;
}
#shipping-options-details-list-wrapper .field .label span
{
    font-weight: 400;
}
#shipping-options-details-list-wrapper .field .label:before
{
    content: '*';
    color: #c00000;
    font-style: italic;
}
#shipping-options-details-list-wrapper .field .control
{
    width: 60%;
}
#shipping-options-details-list-wrapper .field:nth-child(2n) {
    background: #f5f5f5 none;
}
#tax-relief-form, .checkout-payment-method .payment-method-title
{
    padding: 3px 0 !important;
}
#tax-relief-form ul
{
    margin-top: 10px;
}
#co-shipping-method-form span.col-price
{
    font-weight: bold;
}
.field[name="ShippingOptions.shipping_option_field[shipping_options_account_zip_codes]"] label:before
{
    content: '' !important;
}
.cart-container #co-shipping-method-form .item-options div {
    margin-bottom: 10px;
}
/*.checkout-index-index #onestep_form .field.billing-address-same-as-shipping-block
{
    display: none;
}*/
#onestep_form .checkout-payment-method .payment-method-content
{
    padding-bottom: 0px;
}
@media screen and (min-width: 1199px)
{    
    #onestep_form .mw-osc-column-left, #onestep_form .mw-osc-column-2
    {
        width: 30% !important;
    }
    #onestep_form .review
    {
        width: 40% !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 394px)
{
    #checkout-review-submit
    {
        margin-top: 0px;
    }
}
@media screen and (min-width: 320px) and (max-width: 549px)
{
    .mb-ajaxsuite-popup-border .popup-title span
    {
        font-size: 13px;
        padding: 10px 8px 8px 40px;
    }    
    .mb-ajaxsuite-popup-border .popup-title img
    {
        width: 50px;
        position: relative;
    }
}
@media screen and (min-width: 320px) and (max-width: 1199px)
{
    .container .inner-container
    {
        margin: 0 !important;
    }    
}
@media screen and (min-width: 320px) and (max-width: 767px)
{
    #shopping-cart-table, #shopping-cart-table tbody, #shopping-cart-table td:first-child
    {
        display: block !important;
        text-align: left;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
    .checkout-index-index #onestep_form .mw-osc-column-left
    {
        width: 100%;
    }
    .checkout-index-index #onestep_form .review
    {
        width: 50%;
        clear: initial;
    }
}
@media screen and (min-width: 600px) and (max-width: 767px)
{
    .catalog-product-view #maincontent
    {
        max-width: 70%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 320px) and (max-width: 379px)
{
    .checkout-index-index .no-image
    {
        width: 100px !important;
    }
    #checkout-review-submit
    {
        width: 100% !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px)
{
    .checkout-index-index .mw-osc-threecolumns #onestep_form > div
    {
        border: none;
    }
    .cart-container #co-shipping-method-form .item-title
    {
        width: 100%;
        margin-left: 12px;
    }
    .cart-container #co-shipping-method-form .item-options
    {
        margin-left: 12px;
        margin-top: 8px;
        margin-bottom: 30px;
        width: 100%;
    }
    .cart-container .block #shipping-zip-form .field
    {
        width: 100%;
    }
    .mb-ajaxsuite-popup-wrapper
    {
        left: 15px !important;
    }
    .checkout-index-index .actions-toolbar > .secondary:last-child
    {
        margin-top: 10px;
    }
    #tax-relief-form li
    {
        margin-bottom: 1rem;
    }
    .checkout-index-index .actions-toolbar>.secondary .action
    {
        background: none;
        color: #ec141a;
        text-transform: capitalize;
        text-decoration: underline;
        cursor: pointer;
        width: auto;
    }
    #checkout-review-table, #checkout-review-load
    {
        overflow: auto;
        width: 100% !important;
    }
    .info_cart_checkout .box
    {
        padding: 0 10px 0 15px;
    }
    .info_cart_checkout .call
    {
        padding: 18px 0 18px 40px;
    }
    .info_cart_checkout .shipp
    {
        padding: 18px 0px 18px 50px;
    }
    .checkout-methods-button
    {
        margin-top: 0;
        width: 100%;
    }
    .cart.table-wrapper td.col
    {
        background: #fafafa;
        border: none;
        padding: 0;
        width: 108% !important;
    }
    .cart.table-wrapper td.col.item
    {
        background: #fff;
    }
    .cart.table-wrapper input[type="number"]
    {
        font-size: 12px;
        height: 25px;
    }
    .cart.table-wrapper td.col.price
    {
        padding-top: 10px;
    }
    .cart.table-wrapper .col.qty, .cart.table-wrapper .col.price, .cart.table-wrapper .col.subtotal
    {
        padding-left: 10px;
    }
    .cart.table-wrapper td.col span, .cart.table-wrapper td.col div
    {
        text-align: left;
        float: left;
    }
    .cart.table-wrapper .col.qty:before, .cart.table-wrapper .col.price:before, .cart.table-wrapper .col.subtotal:before, .cart.table-wrapper .col.msrp:before
    {
        float: left;
        width: 35%;
        text-align: left;
    }
    #shopping-cart-table thead
    {
        display: none; 
    }
    .cart-pro-data
    {
        width: 100% !important;
    }
    .cart.table-wrapper .item-options dt
    {
        min-width: 35%;
    }
    .product-item-details .cart-pro-data:nth-child(3)
    {
        margin-bottom: 20px;
    }
    .cart.table-wrapper .actions-toolbar>.action
    {
        padding: 4px 8px;
    }
    #tax-relief-form {
        float: none;
        width: 100%;
    }
    #block-shipping
    {
        clear: both;
    }
    .checkout-cart-index #cart-totals
    {
        width: 100%;
    }
    #cart-totals
    {
        width: 60%;
    }
    .cart-container .form-cart .action.continue, .cart-container .form-cart .action.update
    {
        width: 100%;
    }
    #cart-totals table.totals.sub th, #cart-totals table.totals.sub td
    {
        color: #3c3c3c;
    }
    .catalog-product-view .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison).additional-attributes tbody th
    {
        display: block;
    }
    .catalog-product-view .fotorama__stage, .fotorama__stage__shaft
    {
        width: 100% !important;
        height: auto !important;
    }
    .pdp-product-price-list
    {
        text-align: center;
    }
    .catalog-product-view .table-wrapper .additional-attributes.table th
    {
        float: left;
        width: 65%;
        display: inline-block !important;
    }
    .catalog-product-view .table-wrapper .additional-attributes.table td
    {
        width: 35%;
        display: inline-block !important;
    }
    .catalog-product-view .table-wrapper .additional-attributes.table tr.sku
    {
        display: block !important;
    }
    .product.data.items>.item.content
    {
        border: none;
    }
    .product.info.detailed .product.data.items > .item.title.active
    {
        border-top: 1px solid #ccc;
    }
    .catalog-product-view .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison)>tbody>tr td:before, .catalog-product-view .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison)>tbody>tr th:before{
        content: '';
        padding: 0;
    }
    .required_class
    {
        border-bottom: none;
        padding-bottom: 0;
    }
    #soldunit, .required_class
    {
        font-size: 14px;
        clear: both;
    }
    .catalog-product-view .product.attribute.sku strong, .catalog-product-view .product.attribute.sku .value
    {
        display: inline-block;
    }
    .product-secondary-column .calculator
    {
        margin: 15px 0;
    }
    .product-info-main .product.attribute.overview, .product-info-main .product.attibute.overview
    {
        border-top: 1px solid #ddd;
        padding: 40px 0 10px;
        margin: 30px 0 40px;
        border-bottom: 1px solid #ddd;
    }
    .product.attribute.overview:before{
        content: 'Description';
        font-weight: bold;
        position: relative;
        bottom: 15px;
    }
    .product.info.detailed .product.data.items > .item.title > .switch {
        font-size: 12px;
        padding: 0 15px;
        font-weight: 500;
    }
    .swatch-opt
    {
        margin-top: 0;
    }
    .product-info-main .product-add-form
    {
        width: 100% !important;
    }
    .catalog-product-view .product-info-main .box-tocart .field.qty, .catalog-product-view .product-options-bottom .box-tocart .field.qty
    {
        margin-right: 0;
    }
    .product-info-main .box-tocart .field.qty .label, .product-options-bottom .box-tocart .field.qty .label
    {
        position: relative;
        top: 10px;
    }
    .catalog-product-view .product-info-main .box-tocart .field.qty .control, .catalog-product-view .product-options-bottom .box-tocart .field.qty .control
    {
        float: left;
        width: auto;
    }
    .page-product-configurable.catalog-product-view .product-view .box-tocart .action.primary
    {
        min-width: auto !important;
    }
    .product-info-main .box-tocart .actions, .product-options-bottom .box-tocart .actions
    {
        width: auto;
        float: left;
    }
    .product.info.detailed .product.data.items > .item.content
    {
        margin-top: 0;
    }
    fieldset
    {
        min-width: auto !important;
    }
    .checkout-index-index .form-login .fieldset.hidden-fields
    {
        min-width: 100% !important;
    }
    .available-qty .availableqty, .available-qty .notavailableqty, .available-qty .limitavailableqty, .available-qty-nocustom-option
    {
        float: left;
        clear: both;
    }
    .columns .column.main
    {
        width: 100% !important;
    }
    .catalog-product-view .review-field-ratings table>thead>tr>th, .catalog-product-view .review-field-ratings table>tbody>tr>th, .catalog-product-view .review-field-ratings table>tfoot>tr>th, .catalog-product-view .review-field-ratings table>thead>tr>td, .catalog-product-view .review-field-ratings table>tbody>tr>td, .catalog-product-view .review-field-ratings table>tfoot>tr>td
    {
        padding: 8px 5px;
    }
    .product.data.items>.item.title>.switch
    {
        color: #777;
    }
    .product.info.detailed .product.data.items > .item.title.active .switch {
        background: #f0f0f0 !important;
        color: #222 !important;
    }
    .review-fieldset.fieldset
    {
        margin-bottom: 0px;
    }
    .page-product-configurable.catalog-product-view .product-view .action.primary
    {
        min-width: auto !important;
    }
    .swatch-attribute
    {
        height: auto;
    }
    #mb-ajaxcart-wrapper, .fieldset > .field:not(.choice) > .control {
        width: auto !important;
    }
    .cart.table-wrapper .product-item-photo
    {
        position: initial;
        max-width: 100%;
    }
    .cart.table-wrapper .item .col.item
    {
        padding: 0px 0 10px 10px;
    }
}
@media screen and (min-width: 479px) and (max-width: 767px)
{
    .cart-container .form-cart .action.continue, .cart-container .form-cart .action.update
    {
        width: auto;
    }
    .cart-container .form-cart .action.continue
    {
        float: left;
    }
    .abs-shopping-cart-items-mobile .actions, .cart-container .form-cart .actions
    {
        text-align: right !important;
    }
    .cart-container .form-cart .action.update
    {
        display: unset;
    }
}
@media screen and (min-width: 320px) and (max-width: 484px)
{
    #mb-ajaxcart-wrapper #ajaxcart_cancel
    {
        margin-bottom: 8px;
    }    
}
@media screen and (min-width: 320px) and (max-width: 991px)
{
    .info_cart_checkout .col-md-4, .info_cart_checkout .col-md-8
    {
        padding: 0px 15px !important;
    }
    .info_cart_checkout .box
    {
        margin-bottom: 8px;
    }
}
.discount-box>ul li{
    overflow:auto;
}
#checkout-payment-method-load, #co-payment-form .payment-method-billing-address .fieldset {
    width: 270px;
    margin-bottom: 15px;
}
.payment-method-billing-address .billing-address-same-as-shipping-block input {
    float: left;
}

/* new changes */
.overlay.pdp_attribute{
    background: rgba(0, 0, 0, 0.5) none;
    color: #000;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: none;
}
.overlay.pdp_attribute .pop_bl{
    background-color: #fff;
    display: inherit;
    height: auto;
    position: relative;
    top: 30%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
}
.overlay.pdp_attribute .pop_bl .pop_content{
    height: auto;
    margin: 0;
    padding: 20px;
    width: auto;
    font-size: initial;
    font-weight: bold;
}
.overlay.pdp_attribute .pop_bl #close_popup{
    display: block;
    background-color: #f00;
    color: #fff;
    font-size: 16px;
    height: 28px;
    line-height: 26px;
    opacity: 1;
    position: absolute;
    cursor: pointer;
    right: 2px;
    text-align: center;
    top: 2px;
    width: 28px;
}
.mage-error{
    clear: both;
}
