/*----------- Category Page Popup ------------------*/
.catalog-category-view #mb-ajaxcart-wrapper img.image {
    width: 100px !important;
}
.notice-msg{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
    color: #333;
}
.acp-msg-block {
    margin: 10px 10px 0px;
}
.catalog-category-view #mb-ajaxcart-wrapper .product-add-form {
    float: left;
    width: 100%;
    padding: 6px 0.75em 2px 0.75em;
}
.catalog-category-view #mb-ajaxcart-wrapper .price-box .price {
    color: #000;
    font-size: 22px;
}
.catalog-category-view #mb-ajaxcart-wrapper .product-options-bottom .box-tocart .field.qty {
    float: left;
    padding-left: 0;
}
.catalog-category-view #mb-ajaxcart-wrapper .product-add-form .product-options-wrapper .field.qty > .control {
    width: 50%;
}
#mb-ajaxcart-wrapper .product-add-form .product-options-wrapper .field.qty > .label {
    color: #4d4d4d !important;
}
#mb-ajaxcart-wrapper .product-add-form .qty input {
    width: 60px;
}
.catalog-category-view #mb-ajaxcart-wrapper .product-add-form .actions {
    border: none;
    padding: 0px 30px;
}
.catalog-category-view #mb-ajaxcart-wrapper .product-add-form .actions button.primary {
    padding: 0 40px;
}
.catalog-category-view #mb-ajaxcart-wrapper .product-options-wrapper .options-list .field:not(:first-child) {
    display: inline-block;
    padding: 0 15px 0 5px;
}
.catalog-category-view .mb-ajaxsuite-popup-wrapper #mb-ajaxcart-wrapper .product-name{
    font-size: 17px;
}
.catalog-category-view #mb-ajaxcart-wrapper .fieldset {
    margin-bottom: 15px;
}
.catalog-category-view #mb-ajaxcart-wrapper .fieldset > .field:not(:first-child) {
    border-top: 1px solid #ddd;
    padding: 10px 0px;
}
.catalog-category-view #mb-ajaxcart-wrapper .fieldset > .field.required {
    padding-bottom: 10px;
}
.catalog-category-view .mb-ajaxsuite-popup-wrapper {
    overflow-y: hidden;
}
.mb-ajaxcart-body {
    overflow-y: auto;
    max-height: 345px;
}
/*---------- Functionality Issues ------------------*/
.checkout-cart-index #co-shipping-method-form .items.methods dt:last-of-type, .checkout-cart-index #co-shipping-method-form .items.methods dd:last-of-type {
    display: none;
}
/*--------- Cart Page ----------------*/
.cart-container .form-cart .action.continue, .cart-container .form-cart .action.update{
    border-radius: 0;
    font-weight: 700;
    text-transform: uppercase;
}
/*--------- Checkout Page ----------------*/
.checkout-index-index #tax-relief-form, .checkout-index-index #tax-relief-form ul li {
    width: 100%;
}
#checkout-review-table .notice p {
    color: #ED2227;
    font-size: 12px;
    font-weight: 700;
}
/*--------- CMS Page ----------------*/
p{
    font-size: 14px;
}
.cms-page-view .main.container{
    padding: 0;
}
.cms-customer-feedback .main_container .col-lg-12 {
    padding: 0;
}
.contact-index-index .main.container > .inner-container {
    width: 75%;
}
.contact-index-index #contact-form, .contact-index-index .fieldset>.field:not(.choice)>.control, .contact-index-index #contact-form textarea{
    width: 100%;
}
.contact-index-index .page-title-wrapper h1{
    font-size: 25px;
}
.contact-index-index #maincontent {
    padding: 0 5px;
}
.contact-index-index #contact-form {
    padding-bottom: 25px;
}
.cms-what-is-hook-and-loop .page-title {
    padding: 0 15px;
}
.cms-what-is-hook-and-loop .columns .column.main {
    padding-bottom: 60px;
}
.cms-performance-measures .main-container {
    margin-top: 0;
}
.cms-product-development .fp_container{
    padding-bottom: 30px;
}
.cms-product-development .main.container {
    padding-top: 0 !important;
}
.cms-product-development .fn_main_contianer{
    width: 100%;
}
.cms-product-development .column.main {
    width: 55% !important;
    padding: 0 15px;
}
.cms-product-development .fp_container p {
    font-size: 14px;
}
.cms-product-development .columns .sidebar-additional {
    width: 25% !important;
    padding: 0 10px;
}
.cms-product-development .top-border {
    width: 100%;
    padding: 0 18px 25px;
}
.cms-velcro-faq #maincontent, .cms-duragrip-faq #maincontent{
    padding-bottom: 30px;
}
.cms-page-view .container .inner-container p[align="center"] {
    text-align: center;
}
.sidebar-additional .btn_thme_primary {
    font-size: 14px;
    padding: 0 20px;
    line-height: 36px;
}
.cms-product-development .export-support .export-support-content.bottom-border {
    padding: 0;
}
.cms-industry-solutions #maincontent {
    padding-bottom: 30px;
}
.cms-industry-solutions #maincontent .columns .main{
    padding: 0 15px;
}
.cms-industry-solutions .columns .sidebar-additional {
    width: 25%;
    padding: 0 15px;
}
.cms-industry-solutions .export-support {
    padding: 0;
}
.cms-custom-strap-form .column.main{
    padding-bottom: 30px;
}
.cms-custom-strap-form .columns .column.main .form .field .control div .choice{
    width: 48%;
}
.cms-specialty-products .btn_thme_primary{
    padding: 0 20px;
    line-height: 36px;
}
.cms-specialty-products .column.main .top-speciality-products{
    background: #f8f8f8 none repeat scroll 0 0;
    display: inline-block;
    padding-top: 15px;
}
.cms-contacts .columns .column.main{
    padding-bottom: 50px;
}
.cms-contacts .fieldset>.field:not(.choice)>.control{
    width: 100%;
}
.cms-contacts .column:not(.sidebar-main) .form.contact, .column:not(.sidebar-additional) .form.contact{
    width: 72.3%;
}
.cms-contacts .action.primary{
    border: none;
}
@media only screen and (min-width:768px) and (max-width:1023px){
    .page-layout-3columns .sidebar-main {
        width: 22% !important;
        padding-right: 10px;
    }
    .sidebar-additional .btn_thme_primary{
        padding: 5px 10px;
        line-height: normal;
        height: auto;
    }
    .cms-product-development .columns .sidebar-additional{
        padding-right: 0;
    }
    .cms-product-development .top-border{
        padding: 0 10px 25px;
    }
    .cms-product-development .export-support .export-support-content.bottom-border{
        padding: 0;
    }
    .cms-product-development .btn_thme_primary{
        line-height: normal;
        text-align: left;
        padding: 5px 10px;
        height: auto;
    }
    .cms-product-development .columns .column.main{
        width: 50% !important;
        padding: 0 5px;
    }
    .cms-custom-made-straps .columns .column.main{
        padding: 0 5px;
    }
    .cms-custom-made-straps .columns .col-lg-12{
        width: 100%;
    }
    .export-support .export-support-content.bottom-border {
        padding: 0 10px 25px;
    }
    .cms-industry-solutions .btn_thme_primary {
        text-align: left;
    }
    .cms-industry-solutions .block-grid .col-lg-4 {
        width: 48.5%;
        padding: 0 10px 8px;
        margin-right: 1.5%;
        float: left;
    }
    .cms-industry-solutions #maincontent .columns .main{
        padding: 0 5px;
    }
    .cms-industry-solutions .col-lg-12 {
        padding: 0;
    }
    .cms-industry-solutions .button.medium {
        padding: 8px 20px;
    }
    .cms-velcro-brand-fasteners-and-nasa .page-title-wrapper, .cms-velcro-brand-fasteners-and-nasa .row {
        width: 68.6%;
    }
    .cms-velcro-brand-fasteners-and-nasa .border-top-bottom.panel .five.columns{
        width: 58.6%;
        padding-right: 15px;
    }
    .cms-velcro-brand-fasteners-and-nasa .border-top-bottom.panel .four.columns{
        width: 40%;
        padding: 0 6px;
    }
    .cms-hook-loop-101 .page-title-wrapper, .cms-hook-loop-101 .row{
        width: 71.4%;
    }
    .cms-hook-loop-101 .columns .fn_main_container{
        width: 100%;
    }
    .cms-hook-loop-101 .space_101{
        padding: 0 10px;
    }
    .cms-custom-strap-form .column.main{
        padding: 0 5px 30px;
    }
    .cms-custom-strap-form .columns .column.main .form .field .control div .choice input{
        margin-left: 0;
    }
    .cms-custom-strap-form .fieldset > .field .choice label{
        width: 90%;
    }
    .cms-velcro-brand-product-white-papers .row{
        width: 100%;
    }
}
@media only screen and (max-width:767px){
    .cms-ordering-information .columns .column.main{
        padding-left: 0;
        padding-right: 0;
    }
    .cms-ordering-information .main_container {
        padding-left: 0px;
    }
    .cms-customer-feedback .columns .column.main {
        padding: 0; 
    }
    .contact-index-index .main.container > .inner-container{
        width: 100%;
    }
    .contact-index-index #maincontent{
        padding: 0 10px;
    }
    .contact-index-index .fieldset>.field:not(.choice)>.control, .contact-index-index #contact-form textarea {
        width: 100% !important;
    }
    #contact-form h2 {
        font-weight: 700;
    }
    .cms-page-view .container .inner-container p{
        text-align: justify;
    }
    .cms-product-development .columns .sidebar-additional {
        padding: 0 0;
    }
    .cms-product-development .export-support .export-support-content.bottom-border{
        padding: 0;
    }
    .cms-invention-velcro-brand .white.button{
        text-align: center;
        display: block;
    }
    .cms-invention-velcro-brand .six.columns{
        padding: 0 15px;
        width: 100%;
    }
    .cms-customer-incentives .row .col-xs-12 {
        padding-bottom: 30px;
    }
    .cms-industry-solutions #maincontent .columns .main{
        padding: 0;
    }
    .cms-industry-solutions .col-lg-12 {
        padding: 0;
    }
    .cms-industry-solutions .indus_img {
        width: auto;
    }
    .cms-industry-solutions .columns .sidebar-additional{
        padding: 4px 0 5px;
    }
    .cms-industry-solutions #maincontent .columns .main{
        padding-bottom: 30px;
    }
    .cms-velcro-brand-fasteners-and-nasa .border-top-bottom.panel .four.columns{
        display: block;
    }
    .cms-custom-strap-form .form .actions-toolbar{
        margin-left: 25%;
    }
    .cms-specialty-products .top-speciality-products .three.columns{
        width: 100%;
        padding: 0;
    }
    .cms-contacts .column:not(.sidebar-main) .form.contact, .column:not(.sidebar-additional) .form.contact{
        width: 100%;
    }
    .cms-contacts .require_label {
        float: right;
    }
    .cms-contacts  .actions-toolbar > .primary{
        float: none !important;
    }
    .cms-contacts .actions-toolbar{
        width: 90%;
        margin: 0 auto;
    }    
}