.subtitle {
    color: #404040;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
p {
    color: #555;
    line-height: 1.6;
}
.subtitle a,.subtitle a:hover {
    color: #ed2227;
}
/*.page-title span {
    color: #222;
    font-size: 25px !important;
    font-weight: 700;
} nishitha*/
.block-grid>li {
    text-align: left;
    display: block;
    height: auto;
    float: left;
}
.category-configurable-products ul.products-grid.block-grid li h2.product-name {
    background-color: #e9282d;
    /*padding-bottom: 10px;*/
    padding-top: 2px;
    text-align: center !important;
    font-family: 'Roboto',sans-serif !important;
    cursor: pointer;
}
.category-configurable-products ul.products-grid.block-grid li h2 {
    margin: 0;
    padding: 8px 20px;
    line-height: 20px;
}
.category-configurable-products ul.products-grid.block-grid li h2.product-name a {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
}
.block-grid.three-up>li {
    padding: 0 10px 50px;
}
.category-configurable-products ul.products-grid.block-grid li:hover h2.product-name {
    background-color: #000;
    color: #fff;
}
.converting-image {
    padding: 0px 0px 10px 10px ;
}
.converting-image img {
    border: solid thin #c9c9c9;
    padding: 5px;
    border-radius: 5px;
}
.white.button {
    background: linear-gradient(to bottom, #DDDDDE 0%, #DDDDDE 100%) repeat scroll 0 0 #DDDDDE;
    background-color: #DDDDDE;
    border-color: #BDBDBF;
    color: #303030;
    font-family: inherit;
    padding: 8px 20px;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    font-weight: bold;
}
.six.columns .block-title {
    background: #1d1d1d none;
    color: #fff;
    font-family: libre franklin;
    font-size: 15px;
    margin-bottom: 0;
    padding: 0;
    text-shadow: none;
    width: 100%;
    padding: 12px 0px;
}
.six.columns .block-title strong {
    line-height: normal;
    width: 100%;
    padding: 0 20px;
}
.six.columns {
    float: left;
    min-height: 1px;
    padding: 0 6px;
    position: relative;
}
iframe {
    max-width: 100%;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.block-grid>li {
    text-align: left;
    display: block;
    height: auto;
    float: left;
    width: 29.3333%;
}
.category-industries .hide-for-industry-landing, .category-conversion-services .hide-for-converting-landing,.category-converting .hide-for-converting-landing {display: none;}

.navigate li {
    border: 1px solid #ddd;
    float: left;
    margin: 15px 1% 0;
    padding: 0;
    text-align: center;
    width: 22%;
}
.navigate.clearfix a {
    background: #eee none;
    color: #000;
    display: block;
    font-size: 16px;
    padding: 20px;
}
.block-grid.six-up>li {
    border: medium none;
    margin-right: 1.46%;
    padding: 0;
    width: 15.2%;
    margin-bottom: 20px;
}
.colored-velcro li img {
    border: 1px solid #ddd;
    padding: 2px;
}
.category-view .category-image {
    display: none;
}


/*, .category-description .hide-for-converting-interior */
.category-description .hide-for-industry-interior
{
    display: none;
}
.converting-image img {
    border: solid thin #c9c9c9;
    padding: 5px;
    border-radius: 5px;
}

.block-grid.three-up>li:nth-child(3n+1) {
    clear: both;
}
.cms-page-view .breadcrumbs{
    /*visibility: hidden;*/
    display: none;
}

@media all and (max-width:1024px){
    .block-grid>li {
        width: 45%;
    }
}
@media all and (min-width:768px){
    .page-layout-3columns .column.main {
        width: 60% !important;
    }
    .page-layout-3columns .sidebar-main, .page-layout-3columns .sidebar-additional {
        width: 20% !important;
    }
    .page-layout-2columns-left .column.main {
        width: 75% !important;
    }
    .page-layout-2columns-left .sidebar-main {
        width: 25% !important;
    }
}
@media all and (max-width:568px){
    .block-grid>li {
        width: 100%;
    }
}
@media all and (max-width:1023px){
    p {

        font-size: 14px;
    }
}
.cms-custom-strap-form .webforms-description-text {
    margin-bottom: 1rem;
}
.cms-custom-strap-form .fieldset .legend {
    margin-left: 0px;
    margin-bottom: 10px;
}
.cms-custom-strap-form .fieldset > .field:not(.choice) > .label {
    clear: both;
    text-align: left;
    padding-left: 1px;
}
.cms-custom-strap-form .fieldset > .field:not(.choice) > .control {
    clear: both;
    width: 100%;
}
.cms-custom-strap-form .fieldset > .field .field.choice {
    float: left;
    width: 42%;
    margin: 0 2% 15px 0;
    border: 1px solid #ddd;
    padding:10px;
}
.cms-custom-strap-form .webforms figcaption{
    display: none;
}
.cms-custom-strap-form .field.type-select-checkbox .label {
    display: none;
}
.cms-custom-strap-form .fieldset > .field .field.choice label figure {
    width: 90%;
    float: right;
    vertical-align: middle;
}
.cms-custom-strap-form .fieldset > .field .choice label {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    margin-left: 4%;
}
.cms-custom-strap-form .fieldset > .field .choice input, .fieldset > .fields > .field .choice input {
    vertical-align: middle;
    display: inline-block;
}
.cms-custom-strap-form .fieldset > .field{
    margin-bottom: 10px;
}
.cms-custom-strap-form .fieldset.fieldset-6 {
    background: #f5f5f5 none;
    margin: 20px 0;
    padding: 25px 20px 15px 20px;
}

.cms-custom-strap-form .webforms-fields-strap-length,.cms-custom-strap-form .webforms-fields-hook-length,.cms-custom-strap-form .webforms-fields-first_name,.cms-custom-strap-form .webforms-fields-last_name,.cms-custom-strap-form .webforms-fields-phone_number,.cms-custom-strap-form .webforms-fields-email {
    width: 49%;
    float: left;
}
.cms-custom-strap-form .webforms-fields-strap-length,.cms-custom-strap-form .webforms-fields-first_name,.cms-custom-strap-form .webforms-fields-phone_number{
    margin-right: 2% !important;
}
.cms-custom-strap-form .fieldset > .field:not(.choice) > .label{
    width: auto;
}

/****Header****/
.item-left .txt_font.txt_padding {
    margin-top: -4px;
}
.txt_font.txt_padding a{
    color:#555;
    font-size: 18px;
}
.nav-container .inner-container{
    padding-left:0px;
}
.nav.container {
    padding: 0 15px;
    z-index: 10;
}
.level0 .level-top .caret:before {
    width: 9px;
    content: "";
    background-size: 100% 100%;
    background-image: url(/pub/media/wysiwyg/arraow.png);
    height: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
}
.hp-block.right-column {
    padding-top: 21px;
}
.skip-link .counter {
    width: auto;
    padding: 0px !important;
    min-width: auto !important;
}
.nav-item--home {
    padding-right: 15px;
    padding-left: 15px;
}
.nav-regular li.level0.nav-item--home > a
{
    padding: 0;
}
.header-regular .block-search #search {
    width: 240px;
    padding: 6px;
}
.nav-regular li.level0 > a {
    padding: 0 7.5px;
}
.nav-item--home a {
    color: #fff !important;
}
.nav-item--home a:hover {
    color: #f7272b !important;
}
.nav-regular li.nav-5.level0 > a {
    padding-left: 23px;
}

/****Header****/
.page-layout-2columns-right.catalog-category-view .breadcrumbs{
    margin: 3px 15px;
}
.page-layout-2columns-right #maincontent {
    padding: 0 15px;
}

/*------------------ Modified by Sandeep -------------------------*/
.account .main-container{
    padding: 30px 0;
}
#account-nav ul.nav {
    padding: 10px 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
}
.account-nav .content {
    padding: 0 0;
}
.account-nav .item.current, .account-nav .item.current a {
    color: #f7272b;
    font-weight: 700;
}
.account-nav .item a {
    color: #444;
    font-weight: 500;
}
.account-nav .item a:hover{
    background: #fff;
    color: #f7272b;
}
.account .sidebar-main{
    width: 20.67% !important;
    padding-right: 15px;
}
.account-nav .item.current a, .account-nav .item a, .account-nav .item.current strong {
    border: none;
    padding: 0;
}
.account .column.main {

    width: 58.31%;
    padding-left: 12px;
}
.account-nav .item a, .account-nav .item > strong {
    line-height: normal;
}
.account .page-title-wrapper .page-title {
    font-size: 25px;
    font-weight: 700;
    margin:5px 0 15px;
}
.fieldset > .legend{
    font-family: 'Libre Franklin',sans-serif;
    font-weight: 700;
    margin: 0 0 10px;
    color: #222;
    margin-left: 0% !important;
}
.fieldset > .field:not(.choice) > .label {
    width: 100% !important;
    text-align: left !important;
    color: #4d4d4d;
    line-height: 23px;
}
.fieldset > .field{
    margin-bottom: 5px !important;
}
.fieldset > .field.choice:before, .fieldset > .field.no-label:before{
    padding: 0 !important;
    width: 0% !important;
}
.fieldset > .field.choice .label, .fieldset > .fields > .field.choice .label{
    font-weight: 700;
}
.fieldset > .field.choice{
    margin-top: 10px;
}
.account .column:not(.sidebar-main) form .actions-toolbar{
    margin-left: 0%;
}
.actions-toolbar > .secondary:last-child{
    float: left;
}
.actions-toolbar > .primary{
    float: right !important;
}
.account .fieldset{
    margin-bottom: 20px;
}
.account .action.primary{
    color: #fff;
    font-size: 14px !important;
    font-weight: 700;
    height: 40px;
    padding: 0px 20px !important;
    background-color: #f7272b;
    border: 1px solid #f7272b;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}

.account .box-information .box-title, .account .box-newsletter .box-title, .account .block-dashboard-addresses .block-title {
    background: #f1f1f1;
    padding: 2px 10px 5px;
    width: 100%;
}
.account .column.main .block:not(.widget) .block-title > strong, .account .column.main .block:not(.widget) .box-title > span {
    font-weight: bold;
    font-size: 14px;
    margin: 2px;
}
.account .column.main .block:not(.widget).block-dashboard-info .block-title > strong {
    color: #4c4c4c;
}
.box-billing-address .box-content, .box-shipping-address .box-content, .box-information .box-content, .box-newsletter .box-content,
.box-billing-address .box-actions, .box-shipping-address .box-actions, .box-information .box-actions, .box-newsletter .box-actions,
.account .column.main .block:not(.widget) .box-billing-address .box-title, .account .column.main .block:not(.widget) .box-shipping-address .box-title {
    margin-left: 10px;
}
.account .column.main .block:not(.widget) .block-title > .action {
    float: right;
}
.block.block-dashboard-info {
    margin-bottom: 10px;
}
.account #quick_links {
    display: none;
}
.account-nav .item {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 10px;
}
.header-container .item-right {
    padding-left: 0;
}
#maincontent {
    padding: 0 15px;
}
.products_showcase {
    padding: 0 15px;
}
.home_content.columns {
    padding: 0 15px;
}
h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
}
.fp_lft ul li {
    margin: 0;
}
@media only screen and (min-width: 768px){
    .product-view .product.data.items > .item.title > .switch {
        background: #fff !important;
        color: #666 !important;
        font-weight: 600 !important;
        font-size: 15px !important;
    }
    .product.data.items.style1 > .item.title.active > .switch {
        border-top: 1px solid #ed2227;
        background: #fbfbfb;
    }
}
.product.data.items.style1 > .item.content{
    background: #fbfbfb;
}
#additional table tbody tr:nth-child(2n) {
    background: #f5f5f5 none;
}
.product.info.detailed .additional-attributes{
    width: 100%;
}
/*#additional table tbody tr {
    background: #fff none;
}*/
#additional table {
    border: 1px solid #ddd;
    border-collapse: inherit;
}
#additional table tbody tr .label {
    padding: 9px 10px;
}
#additional table tbody tr td {
    padding: 9px 10px;
}
.fotorama__caption__wrap {
    display: none;
}
/*.fotorama__arr {
    display: none;
}*/
/*------------------ ******* -------------------------*/



/*------------------ Cart Page -------------------------*/
.cart-container .form-cart {
    width: 100% !important;
    margin-bottom: 20px;
    border-bottom: 1px #ccc solid;
}
.cart-container .cart-summary {
    width: 100%;
    background: transparent;
    top: 0px !important;
    padding: 0px;
}
.cart-container .block #shipping-zip-form .field.note {
    width: 100%;
}
.cart-container .block #shipping-zip-form .field {
    width: 33.3%;
    float: left;
    padding-left: 2%;
}
#shipping-zip-form {
    margin-left: -2%;
}
.getquote {
    float: right;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 13px 20px;
}
.cart-container #co-shipping-method-form .item-title {
    width: 29.3%;
    float: left;
    margin-left: 4%;
    padding-bottom: 1%;
    border-bottom: 1px solid #ccc;
}
.cart-container #co-shipping-method-form .item-options {
    float: left;
    position: relative;
    margin-left: -29.3%;
    margin-top: 5%;
    width: 29.3%;
}
.fieldset.rate {
    margin-left: -4% !important;
}
.cart-container #co-shipping-method-form {
    display: none;
}
.totals .table>tbody>tr>td, .totals .table>tbody>tr>th,.cart-summary .block > .title{
    border: none;
}
.multicheckout {
    display: none;
}
.cart-container .checkout-methods-items {
    width: 205px;
    float: right;
}
.cart-summary .block > .title:after {
    content: '' !important;
}
.info_cart_checkout {
    padding: 25px 0 0px;
}
.cart-totals .table-wrapper {
    width: 100%;
    overflow: auto;
}
#cart-totals table.totals {
    width: auto;
    float: right;
}
.info_cart_checkout .call {
    background: url(../images/hl_call.png) no-repeat 0 50% #eee;
    display: inline-block;
    padding: 18px 10px 18px 35px;
    text-align: left;
}
.info_cart_checkout .shipp {
    background: url(../images/hl_shipping.png) no-repeat 0 50% #eee;
    display: inline-block;
    padding: 18px 10px 18px 50px;
    text-align: left;
}
.info_cart_checkout .box {
    background-color: #eee;
    text-align: center;
}
.info_cart_checkout .box {
    background-color: #eee;
    text-align: center;
}
.info_cart_checkout p {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #111;
}
.info_cart_checkout .col-md-4,.info_cart_checkout .col-md-8 {
    padding-right: 0px;
}
.info_cart_checkout .col-md-4{
    padding-left: 0px;
}
.checkout-cart-index .action.primary.checkout {
    height: 40px;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}
#cart-totals table.totals th, #cart-totals table.totals td {
    border: none;
    font-weight: 700;
    color: #333;
    padding: 5px;
    text-align: right;
}
#cart-totals table.totals th strong {
    font-weight: 700;
    color: #000;
}
#cart-totals table.totals .grand  th,#cart-totals table.totals .grand  td{
    padding: 10px;
}
#cart-totals table.totals td.amount {
    color: #000;
}
#shopping-cart-table th {
    border-top: 1px solid #ccc;
    border-bottom: 0px solid #ccc;
}
.cart.table-wrapper .product-item-photo{
    padding-right: 0px !important;
}
#shopping-cart-table th.image {
    width: 125px;
}
.cart.table-wrapper .item-options {
    margin-top: 12px;
}
.cart .product-item-details strong {
    margin: 0;
}
.checkout-cart-index .cart.table-wrapper .action-edit {
    display: none;
}
.checkout-cart-index .cart.table-wrapper .action-delete {
    background-color: transparent !important;
    border: 1px solid #ccc;
    color: red !important;
}
#block-shipping-heading {
    font-weight: 700;
    font-size: 21px;
    color: #000;
}
.checkout-methods-button {
    position: sticky;
    width: 70%;
    float: right;
    margin-top: -80px;
    top: 10px;
    background: #ffffffa8;
    z-index: 2;
}
.cart-container .form-cart .action.update:before,.cart-container .form-cart .action.continue:before {
    content: '';
    padding: 0 5px;
}
.cart.table-wrapper .col.price, .cart.table-wrapper .col.qty,.cart.table-wrapper .col.subtotal{
    text-align: center;
}
.item-info .item-msg.notice {
    color: #ED2227;
    font-size: 13px;
    font-weight: 700;
}

.cart-container #shipping-zip-form .fieldset>.field:not(.choice)>.control {
    width: auto;
    float: none;
}
.cart-container #shipping-zip-form .legend + br,.cart-container #shipping-zip-form .legend {
    display: none;
}
#tax-relief-form {
    float: left;
    width: 66.66%;
}
#cart-totals {
    float: right;
    width: 33.33%;
    border: none;
    padding: 0px;
}
#tax-relief-form ul li {
    width: 48%;
    float: left;
    margin-right: 2%;
}
#tax-relief-form ul li label{
    font-weight: bold;
}
/*------------------ Cart Page -------------------------*/

/*------------------ Product Page availabe text-------------------------*/
.available-qty .availableqty,.available-qty .notavailableqty,.available-qty .limitavailableqty{
    display:none;
    color: #f7272b;
    font-weight: 700;
}
.available-qty-nocustom-option{
    color: #f7272b;
    font-weight: 700;
}
.account .block-viewed-products-grid strong.product-item-name{
    padding-left:0px !important;
}
/*------------------ Product Page availabe text-------------------------*/