<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 */
// @codingStandardsIgnoreFile
/**
 * @var \Magento\Payment\Block\Adminhtml\Transparent\Form $block
 */
$code = $block->escapeHtml($block->getMethodCode());
$ccType = $block->getInfoData('cc_type');
$ccExpMonth = $block->getInfoData('cc_exp_month');
$ccExpYear = $block->getInfoData('cc_exp_year');
/** @var \Magenest\SagepayUS\Helper\ConfigHelper $configHelper */
$configHelper = $this->helper("Magenest\SagepayUS\Helper\ConfigHelper");
?>
<fieldset class="admin__fieldset payment-method" id="payment_form_<?= /* @noEscape */ $code ?>"
          style="display:none">
    <input type="hidden" name="payment[sage_resp]" id="paya-resp">
    <input type="hidden" name="payment[sage_hash]" id="paya-hash">
    <input type="hidden" name="payment[sage_cardinfo]" id="paya-cardinfo">
    <input type="hidden" name="payment[sage_savecard]" value="0">


        <div class="field-number admin__field _required">
            <label class="admin__field-label" for="<?= /* @noEscape */ $code ?>_cc_number">
                <span><?= $block->escapeHtml(__('Credit Card Number')) ?></span>
            </label>
            <div class="admin__field-control">
                <input type="text" id="<?= /* @noEscape */ $code ?>_cc_number" name="payment[cc_number]"
                       title="<?= $block->escapeHtml(__('Credit Card Number')) ?>" class="admin__control-text"
                       value="<?= /* @noEscape */ $block->getInfoData('cc_number') ?>"/>
            </div>
        </div>
        <div class="field-date admin__field _required">
            <label class="admin__field-label" for="<?= /* @noEscape */ $code ?>_expiration">
                <span><?= $block->escapeHtml(__('Expiration Date')) ?></span>
            </label>
            <div class="admin__field-control">
                <select id="<?= /* @noEscape */ $code ?>_expiration" name="payment[cc_exp_month]"
                        class="admin__control-select admin__control-select-month">
                    <?php foreach ($block->getCcMonths() as $k => $v): ?>
                        <option value="<?= $block->escapeHtml($k) ?>"
                                <?php if ($k == $ccExpMonth): ?>selected="selected"<?php endif ?>>
                            <?= $block->escapeHtml($v) ?>
                        </option>
                    <?php endforeach; ?>
                </select>
                <select id="<?= /* @noEscape */ $code ?>_expiration_yr" name="payment[cc_exp_year]"
                        class="admin__control-select admin__control-select-year">
                    <?php foreach ($block->getCcYears() as $k => $v): ?>
                        <option value="<?= /* @noEscape */ $k ? $block->escapeHtml($k) : '' ?>"
                                <?php if ($k == $ccExpYear): ?>selected="selected"<?php endif ?>>
                            <?= $block->escapeHtml($v) ?>
                        </option>
                    <?php endforeach ?>
                </select>
            </div>
        </div>

        <div class="field-number required admin__field _required">
            <label class="admin__field-label" for="<?= /* @noEscape */
            $code ?>_cc_cid">
                <span><?= $block->escapeHtml(__('Card Verification Number')) ?></span>
            </label>
            <div class="admin__field-control">
                <input type="text" title="<?= $block->escapeHtml(__('Card Verification Number')) ?>"
                       class="admin__control-cvn admin__control-text"
                       id="<?= /* @noEscape */
                       $code ?>_cc_cid"
                       name="payment[cc_cid]" value="<?= /* @noEscape */
                $block->getInfoData('cc_cid') ?>"/>
            </div>
        </div>

</fieldset>

<script>
    require([
        'jquery',
        'prototype',
        'Magento_Sales/order/create/scripts',
        "Magento_Sales/order/create/form"

    ], function($){
        order.addExcludedPaymentMethod('<?php /* @noEscape */ echo $code; ?>');
        if(!window.mgn_list_payment){
            window.mgn_list_payment = [];
        }
        var methodCode = '<?=$block->getMethodCode()?>';
        window.mgn_list_payment.push(methodCode);
        var selector = $('#submit_order_top_button, .order-totals-actions>.actions>button');
        var is_select = false;
        var clientId, merchantId, authKey, postbackUrl, salt,
            requestType, orderNumber, amount, preAuth, doVault, data,
            token, sage_environment, browser_debug;

        setInterval(function () {
            if($('#p_method_magenest_sagepayus').is(":checked")){
                is_select = true;
                selector.attr("onclick", "");
            }else{
                if(window.mgn_list_payment.indexOf(order.paymentMethod) === -1) {
                    is_select = false;
                    selector.attr("onclick", "order.submit()");
                }
            }
        },100);

        // selector.unbind('click');
        selector.on("click", function () {
            if( (is_select)&&($('#p_method_magenest_sagepayus').is(":checked"))&&(jQuery('#edit_form').valid()) ) {
                $('body').trigger("processStart");
                $.getScript('https://www.sagepayments.net/pay/1.0.2/js/pay.min.js', function () {
                    console.log("Loaded SagePaymentJs v1.02");
                    $.ajax({
                        type: 'GET',
                        url: '<?=$block->getUrl('sagepayus/checkout/request')?>',
                        dataType: "json",
                        success: function (response) {
                            if (response.success) {
                                clientId = response.clientId;
                                merchantId = response.merchantId;
                                authKey = response.authKey;
                                postbackUrl = response.postbackUrl;
                                salt = response.salt;
                                requestType = response.requestType;
                                orderNumber = response.orderNumber;
                                amount = response.amount;
                                sage_environment = response.environment;
                                browser_debug = response.debug;
                                preAuth = response.preAuth;
                                doVault = response.doVault;
                                data = response.data;
                                token = response.token;
                                if(sage_environment == 'prod'){
                                    browser_debug = false;
                                    is_test = false;
                                }
                                require(['jquery', 'PayJS/Core', 'Magenest_SagepayUS/js/Request', 'PayJS/Response'],
                                    function ($, $CORE, $REQUEST, $RESPONSE) {
                                        var option = {
                                            clientId: clientId,
                                            merchantId: merchantId,
                                            authKey: authKey,
                                            salt: salt,
                                            requestType: requestType,
                                            amount: amount,
                                            orderNumber: orderNumber,
                                            environment: sage_environment,
                                            debug: browser_debug,
                                            postbackUrl: postbackUrl,
                                            preAuth: preAuth,
                                            doVault: doVault,
                                            data: data
                                        };


                                        $CORE.Initialize(option);
                                        setupAddress();
                                        var expMonth = $('#magenest_sagepayus_expiration').val();
                                        var expYear = $('#magenest_sagepayus_expiration_yr').val();
                                        var ccNum = $('#magenest_sagepayus_cc_number').val();
                                        var ccv = $('#magenest_sagepayus_cc_cid').val();
                                        if(expMonth<10){
                                            expMonth = "0"+expMonth.toString();
                                        }else{
                                            expMonth = expMonth.toString();
                                        }
                                        expYear = expYear.slice(-2);
                                        var exp = (expMonth+""+expYear).toString();
                                        $REQUEST.doPayment(
                                            ccNum,
                                            exp,
                                            ccv,
                                            callbackHandleResponse
                                        );

                                        function setupAddress(){
                                            $CORE.setBilling(getAddress('billing'));
                                            if (!window.order.isOnlyVirtualProduct) {
                                                $CORE.setShipping(getAddress('shipping'));
                                            }
                                            $CORE.setCustomer({
                                                email: $('#email').val()
                                            })
                                        }

                                        function getAddress(address) {
                                            var firstname = $('#order-'+address+'_address_firstname').val();
                                            var lastname = $('#order-'+address+'_address_lastname').val();
                                            var _address = {
                                                name: firstname + " " + lastname
                                            };
                                            _address['address'] = $('#order-'+address+'_address_street0').val();
                                            _address['city'] = $('#order-'+address+'_address_city').val();
                                            if($('#order-'+address+'_address_region').val()){
                                                _address['state'] = $('#order-'+address+'_address_region').val();
                                            }
                                            _address['postalCode'] = $('#order-'+address+'_address_postcode').val();
                                            _address['country'] = $('#order-'+address+'_address_country_id').val();
                                            return _address;
                                        }

                                        function callbackHandleResponse(_resp, status, jqxhr) {
                                            // console.log(JSON.parse(_resp));
                                            //$RESPONSE.tryParse(_resp, status, jqxhr);
                                            if (status==="success") {
                                                $('#paya-resp').val(_resp);
                                                $('#paya-hash').val(JSON.parse(_resp).ResponseHash);
                                                //$('#paya-cardinfo').val($RESPONSE.getPaymentDetails());
                                                $('#edit_form').submit();
                                            } else {
                                                var responseObj = JSON.parse(_resp.responseText);
                                                console.log(responseObj);
                                                alert("Error, check console log for more detail");
                                            }
                                            $('body').trigger("processStop");
                                        }

                                    },
                                    function (err) {
                                        $('body').trigger("processStop");
                                        alert("Error !");
                                        console.log(err);
                                    }
                                );
                            }

                            if (response.error) {
                                alert(response.message);
                                console.log(response.message);
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                });
            }
        });
    });
</script>