<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */

$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());


}
?>
<li class="authorization-link" data-label="<?= $block->escapeHtmlAttr(__('or')) ?>">
    <a <?= /* @noEscape */ $block->getLinkAttributes() ?><?= /* @noEscape */ $dataPostParam ?>>
        <?= $block->escapeHtml($block->getLabel()) ?>
    </a>
</li>

<?php
if (!$block->isLoggedIn()):?>

<script>
//console.log('not logged in');
require(['jquery'], function($){

	$('#header-account li a').each(function(){
			if($(this).text()=="MY ACCOUNT") {
     		    $(this).css('display','none');
             }
//             if($(this).text()=="LOGIN") {
//                 alert();
//     		    $(this).css('display','none');
//             }

		});
     });


</script>


<?php endif;?>

<?php
if ($block->isLoggedIn()):?>
    <script>
//console.log('logged in');
require(['jquery'], function($){

	$('#header-account li a').each(function(){
//			if($(this).text()=="MY ACCOUNT") {
//     		    $(this).css('display','block');
//             }
             if($(this).text()=="LOGIN") {
//                 alert();
     		    $(this).css('display','none');
             }



		});
     });


</script>
<?php endif;?>



