<?php
/**
 * Copyright 2019 aheadWorks. All rights reserved.
See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<div class="aw-helpdesk-file-upload__container">
    <ul id="aw-helpdesk-attachments-added" style="display: none;"></ul>
    <script id="aw-helpdesk-attachments-added-template" type="text/x-magento-template">
        <li>
            <span><%- fileName %> (<%- fileSize %>)</span><a href="#" class="action-item-remove"/>
            <input type="hidden" name="attachment[<%- index %>][name]" value="<%- fileName %>" />
            <input type="hidden" name="attachment[<%- index %>][file]" value="<%- file %>" />
            <input type="hidden" name="attachment[<%- index %>][removed]" data-role="remove" value="0" />
        </li>
    </script>
    <span class="aw-helpdesk-file-upload">
        <span id="aw-helpdesk-attachments-add-link" class="aw-helpdesk-file-upload__link" data-switch-title="<?php echo $block->escapeHtml(__('Add another file')) ?>"><?php echo $block->escapeHtml(__('Add file')) ?></span>
        <input type="file" id="aw-helpdesk-attachments" name="file[]" data-url="<?php echo $block->escapeUrl($block->getFileUploadUrl()) ?>" multiple />
    </span>
    <div id="aw-helpdesk-attachments-error" style="display: none;"></div>
    <script type="text/x-magento-init">
        {
            "#aw-helpdesk-attachments": {
                "awHelpdeskFileUpload": {
                    "addLink": "#aw-helpdesk-attachments-add-link",
                    "itemTemplate": "#aw-helpdesk-attachments-added-template",
                    "itemsContainer": "#aw-helpdesk-attachments-added",
                    "removeLinks": ".action-item-remove",
                    "errorContainer": "#aw-helpdesk-attachments-error"
                }
            }
        }
    </script>
</div>