<?php
///**
// * @var \Magento\Payment\Block\Adminhtml\Transparent\Form $block
// */
//
//$code = $block->escapeHtml($block->getMethodCode());
//$ccExpMonth = $block->getInfoData('cc_exp_month');
//$ccExpYear = $block->getInfoData('cc_exp_year');
//?>
<!--<fieldset class="admin__fieldset payment-method" id="payment_form_--><?//= /* @noEscape */ $code ?><!--" style="display:none">-->
<!--        <div class="field-type admin__field _required" id="paya-form-save-card-div" style="display: none">-->
<!--            <label class="admin__field-label" for="paya-form-save-card">-->
<!--                <span>--><?//= $block->escapeHtml(__('Choose Card')) ?><!--</span>-->
<!--            </label>-->
<!--            <div class="admin__field-control">-->
<!--                <select name="payment[cardId]" class="admin__control-select" id="paya-form-save-card">-->
<!---->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--    <div id="paya-form-cc-field" style="margin-left: 30px; margin-bottom: 25px;">-->
<!--        <div class="field-number admin__field _required">-->
<!--            <label class="admin__field-label" for="--><?//= /* @noEscape */ $code ?><!--_cc_number">-->
<!--                <span>--><?//= $block->escapeHtml(__('Credit Card Number')) ?><!--</span>-->
<!--            </label>-->
<!--            <div class="admin__field-control">-->
<!--                <input type="text" id="--><?//= /* @noEscape */ $code ?><!--_cc_number" name="payment[cc_number]"-->
<!--                       title="--><?//= $block->escapeHtml(__('Credit Card Number')) ?><!--" class="admin__control-text"-->
<!--                       value="--><?//= /* @noEscape */ $block->getInfoData('cc_number') ?><!--"/>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="field-date admin__field _required">-->
<!--            <label class="admin__field-label" for="--><?//= /* @noEscape */ $code ?><!--_expiration">-->
<!--                <span>--><?//= $block->escapeHtml(__('Expiration Date')) ?><!--</span>-->
<!--            </label>-->
<!--            <div class="admin__field-control">-->
<!--                <select id="--><?//= /* @noEscape */ $code ?><!--_expiration" name="payment[cc_exp_month]"-->
<!--                        class="admin__control-select admin__control-select-month">-->
<!--                    --><?php //foreach ($block->getCcMonths() as $k => $v): ?>
<!--                        <option value="--><?//= $block->escapeHtml($k) ?><!--"-->
<!--                                --><?php //if ($k == $ccExpMonth): ?><!--selected="selected"--><?php //endif ?><!-->-->
<!--                            --><?//= $block->escapeHtml($v) ?>
<!--                        </option>-->
<!--                    --><?php //endforeach; ?>
<!--                </select>-->
<!--                <select id="--><?//= /* @noEscape */ $code ?><!--_expiration_yr" name="payment[cc_exp_year]"-->
<!--                        class="admin__control-select admin__control-select-year">-->
<!--                    --><?php //foreach ($block->getCcYears() as $k => $v): ?>
<!--                        <option value="--><?//= /* @noEscape */ $k ? $block->escapeHtml($k) : '' ?><!--"-->
<!--                                --><?php //if ($k == $ccExpYear): ?><!--selected="selected"--><?php //endif ?><!-->-->
<!--                            --><?//= $block->escapeHtml($v) ?>
<!--                        </option>-->
<!--                    --><?php //endforeach ?>
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!---->
<!--        <div class="field-number required admin__field _required">-->
<!--            <label class="admin__field-label" for="--><?//= /* @noEscape */
//            $code ?><!--_cc_cid">-->
<!--                <span>--><?//= $block->escapeHtml(__('Card Verification Number')) ?><!--</span>-->
<!--            </label>-->
<!--            <div class="admin__field-control">-->
<!--                <input type="text" title="--><?//= $block->escapeHtml(__('Card Verification Number')) ?><!--"-->
<!--                       class="admin__control-cvn admin__control-text"-->
<!--                       id="--><?//= /* @noEscape */
//                       $code ?><!--_cc_cid"-->
<!--                       name="payment[cc_cid]" value="--><?//= /* @noEscape */
//                $block->getInfoData('cc_cid') ?><!--"/>-->
<!--            </div>-->
<!--        </div>-->
<!--</fieldset>-->
<!---->
<!--<script>-->
<!--    require([-->
<!--        'jquery',-->
<!--        'prototype',-->
<!--        'Magento_Sales/order/create/scripts',-->
<!--        "Magento_Sales/order/create/form"-->
<!---->
<!--    ], function($){-->
<!--        order.addExcludedPaymentMethod('--><?php ///* @noEscape */ echo $code; ?>//');
//        var selector = $('#submit_order_top_button, .order-totals-actions>.actions>button');
//        var is_select = false;
//        var methodCode = '<?//=$block->getMethodCode()?>//';
//        var idFormCardSave = '#paya-form-save-card';
//        setInterval(function () {
//            //add card to select div card save
//            if($(idFormCardSave).children().length === 0) {
//                if (window.paya_form_save_card_html) {
//                    $('#paya-form-save-card-div').show();
//                    $(idFormCardSave).html(window.paya_form_save_card_html);
//                }
//            }
//
//            //hide form card field when select card save
//            if($(idFormCardSave).val()){
//                $('#paya-form-cc-field').hide();
//            }else{
//                $('#paya-form-cc-field').show();
//            }
//
//            //get list card save
//            if(!window.paya_form_ajax_load) {
//                window.paya_form_ajax_load = true;
//                $.ajax({
//                    type: 'GET',
//                    data: {
//                        customer_id: order.customerId,
//                    },
//                    url: '<?//=$block->getUrl('payaconnect/customer/getCard')?>//',
//                    dataType: "json",
//                    success: function (response) {
//                        if(response.success && response.canUseCardMoto){
//                            window.paya_form_save_card_html = response.html;
//                        } else {
//                            $('#paya-form-save-card-div').remove();
//                        }
//                    },
//                });
//            }
//        },200);
//    });
//</script>
