<div class="info_cart_checkout clearfix">
    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <p class="call"><?= __('Call for Saturday delivery options');?></p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box">
                    <p class="shipp"><?= __('Air orders in by 3:00 EST will ship same day');?></p>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 class="page-title">
<span class="base" data-ui-id="page-title-wrapper"><?= __('Shopping Cart');?></span> </h1>