<p>duplicate order</p>
<?php
    $objectManager  = \Magento\Framework\App\ObjectManager::getInstance();;
    $url = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $url->get('\Magento\Store\Model\StoreManagerInterface');
    $websiteId = $storeManager->getWebsite()->getWebsiteId();
    $state = $objectManager->get('\Magento\Framework\App\State');
    $state->setAreaCode('frontend');
    
    $cart = $objectManager->get('\Magento\Checkout\Model\Cart');
    $customerId = $cart->getQuote()->getCustomer()->getId();
    //echo $customerId;
    //echo "<pre>";print_r($cart->getQuote()->getItemsQty());
    $itemsCollection = $cart->getQuote()->getItemsCollection();
    $itemsVisible = $cart->getQuote()->getAllVisibleItems();
    //echo count($itemsVisible).'<br />';
    $items = $cart->getQuote()->getAllItems();
    
    /* order collection of this customerid */
    $orderCollection = $objectManager->create('\Magento\Sales\Model\ResourceModel\Order\Collection');
    $orderCollection->addAttributeToFilter('customer_id',$customerId)
		    ->setOrder('created_at','desc');

    //echo "<pre>";print_r($orderCollection->getData());
    foreach($orderCollection->getData() as $orders){
	//echo $orders['entity_id'].'<br />';
	$order = $objectManager->create('Magento\Sales\Model\Order')->load($orders['entity_id']);
	$orderItems = $order->getItemsCollection();
	//echo count($orderItems).'<br />';
	//echo $order->getTotalQtyOrdered().'<br />';
	
	foreach($orderItems as $orderitem) {
	    foreach($items as $quoteitem) {
//		echo 'Sku: '.$quoteitem->getSku().'<br />';
//		echo 'Quantity: '.$quoteitem->getQty().'<br />';
//		echo 'Sku: '.$orderitem->getSku().'<br />';
//		echo 'Quantity: '.$orderitem->getQtyOrdered().'<br />';
		if((count($orderItems) == count($itemsVisible)) && 
			($quoteitem->getSku() == $orderitem->getSku()) && 
			($quoteitem->getQty() == number_format($orderitem->getQtyOrdered()))){ ?>
		    <div class="duplicate-order">
			<?php echo "Duplicate order"." ".$orders['increment_id'];?>
		    </div>
		<?php }
		
	
    }
//	    echo 'Sku: '.$orderitem->getSku().'<br />';
//	    echo 'Quantity: '.$orderitem->getQtyOrdered().'<br />';
	    
	    
	}
    }
?>