<?php
// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Checkout\Block\Cart\Sidebar
 */
?>
<?php
    $theme = $this->helper('Infortis\Base\Helper\Data');    
    $helperHeader = $this->helper('Infortis\Base\Helper\Template\Theme\Html\Header');

    //
    // Counter classes
    // ----------------------------------------------
    $counterClasses = ' ic ic-char ib';

    // Counter size
    $counterSize = $theme->getCfgDesign('dropdowns/cart_counter_size');
    $counterClasses .= ' ib-size-' . $counterSize;

    // Counter shape
    $counterClasses .= ' ib-' . $theme->getCfgDesign('dropdowns/cart_counter_shape');
    
    //
    // Icon classes
    // ----------------------------------------------
    $iconClasses = ' ic';

    // Icon name
    $iconName = $theme->getCfgDesign('dropdowns/cart_icon');
    $iconName = ' ic-' . $iconName;

    // Icon size
    $iconSize = $theme->getCfgDesign('dropdowns/cart_icon_size');

    // Iconbox classes
    $iconboxClasses = '';
    $iconboxSize = $theme->getCfgDesign('dropdowns/cart_iconbox_size');
    if ($iconboxSize !== '0')
    {
        // Iconbox size
        $iconboxClasses .= ' ib ib-size-' . $iconboxSize;

        // Iconbox shape
        $iconboxClasses .= ' ib-' . $theme->getCfgDesign('dropdowns/cart_iconbox_shape');
    }

    // Merge icon and iconbox classes
    $iconClasses .= $iconName . $iconboxClasses;

    //
    // Wrapper classes
    // ----------------------------------------------
    $headingClasses = '';

    // Counter position
    $headingClasses .= ' counter-over-' . $theme->getCfgDesign('dropdowns/cart_counter_position');

    //
    // Block classes
    // ----------------------------------------------
    $blockClasses = $helperHeader->getDropdownsClasses();

?>

<div data-block="minicart" class="minicart-wrapper mini-cart dropdown-block" id="minicart">
    <div class="checkout_space"> <a href="<?php echo $this->getUrl('checkout'); ?>">CHECKOUT</a></div>
   <?php /* <a class="action showcart" href="<?php echo $block->getShoppingCartUrl(); ?>" */ ?>
    <div data-skiptarget="#header-cart" class="mini-cart-heading dropdown-heading cover skip-link skip-cart  action showcart" data-bind="scope: 'minicart_content'">

        <span>
            <span class="icon ic ic-cart"></span>
            <span class="counter qty empty"
                  data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">

                <span class="counter-number">                
                     <!-- ko if: getCartParam('summary_count') -->
                        <!-- ko text: getCartParam('summary_count') --><!-- /ko -->                    
                    <!-- /ko -->
                    <!-- ko ifnot: getCartParam('summary_count') -->
                        <!-- ko text: 0 --><!-- /ko -->                    
                    <!-- /ko -->
                </span>
              

            </span>
            <span class="label<?php if (!$theme->getCfg('header/cart_label')) echo ' hide'; ?>"><?php /* @escapeNotVerified */ echo __('Cart'); ?></span>
            <span class="caret"></span>
        </span>
    </div>
    <?php if ($block->getIsNeedToDisplaySideBar()): ?>
        <div id="header-cart" class="mini-cart-content dropdown-content left-hand skip-content skip-content--style block-cart block block-minicart empty"
            data-role="dropdownDialog"
            data-mage-init='{"dropdownDialog":{
                "triggerEvent": "click mouseenter",
                "appendTo": "[data-block=minicart]",
                "triggerTarget": ".showcart",
                "timeout": "200",
                "closeOnMouseLeave": true,
                "closeOnEscape": true,
                "parentClass": "active open",
                "buttons": []}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?php echo $block->getChildHtml('minicart.addons'); ?>
        </div>
    <?php endif ?>
    <script>
        window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }
    </script>
    <script type="text/javascript">
        //<![CDATA[
        requirejs(['jquery'], function(jQuery) {
            jQuery(function($) {
                // Remove display of minicart dialog which is applied on initialization of dropdownDialog
                $(document).on('dropdowndialogcreate', function(event) {
                    var x;
                    
                    /*$('.product-item-details .cart-pro-data:nth-child(3)').each(function(){
                      x=$(this).find('strong').text();
                      if(x.length>0){
                       
                      var y=x.replace(/\D/g,'');
                      var parseVal=parseFloat(y,10);
                      // var c = $('.count_test').text();
                      var cache_response=JSON.parse(window.localStorage.getItem('mage-cache-storage')).cart.summary_count;
                       var new_val=cache_response/parseVal;
                       $('span.counter-number-cm.test1').text(new_val);

                   }else{

                    JSON.parse(window.localStorage.getItem('mage-cache-storage')).cart.summary_count=JSON.parse(window.localStorage.getItem('mage-cache-storage')).cart.summary_count;
                   }
                      // if(c.length>0){
                      //    var d=parseInt(c,10);
                      //    console.log(d);
                      // }


                });*/
                    //$('#header-cart').css('display', '');
                    $('#header-cart').css('display', 'none');
                });



            });
        }); //end: requirejs
        //]]>
    </script>
</div>
