<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Cart\Shipping */ ?>

<div id="block-shipping" class="block shipping active" style="display:none;">
    <!--<div class="title" data-role="title">
        <strong id="block-shipping-heading" role="heading" aria-level="2">
            <?= /* @escapeNotVerified */ $block->getQuote()->isVirtual() ? __('Estimate Tax') : __('Estimate Shipping and Tax') ?>
        </strong>
    </div>
    <div id="block-summary" data-bind="scope:'block-summary'" class="content" data-role="content" aria-labelledby="block-shipping-heading">
        <!-- ko template: getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">
            {
                "#block-summary": {
                    "Magento_Ui/js/core/app": <?= /* @escapeNotVerified */ $block->getJsLayout() ?>
                }
            }
        </script> 
        <script>
            window.checkoutConfig = <?= /* @escapeNotVerified */ $block->getSerializedCheckoutConfig() ?>;
            window.customerData = window.checkoutConfig.customerData;
            window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
            require([
                'mage/url',
                'Magento_Ui/js/block-loader'
            ], function(url, blockLoader) {
                blockLoader("<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/loader-1.gif') ?>");
                return url.setBaseUrl('<?= /* @escapeNotVerified */ $block->getBaseUrl() ?>');
            })
        </script>
        <script type="text/javascript">
            require(['jquery'],function($){
                $(document).ready(function(){
                    $(document).on('click', '.getquote', function () {
                        var country = $(this).parent().find("select[name='country_id']").val();
                        var region_id = $(this).parent().find("select[name='region_id']").val();
                        var region = $(this).parent().find("input[name='region']").val();
                        var postcode = $(this).parent().find("input[name='postcode']").val();
                        $.ajax({
                             url: "<?php echo $block->getUrl('customzip/index/index')?>",
                             type:'POST',
                             data:{postcode:postcode},
                             success: function(result){
                                if(result.success=='true'){
                                    var res = result.state;
                                    var countries = result.country;
                                    var seleVal = '';
                                    var countryVal = '';
                                    $("select[name='country_id']").val(countries);
                                    $("select[name='country_id']").trigger("change");
                                    $("select[name='region_id'] option").each(function(){
                                        if($(this).text()==res){
                                            seleVal  = $(this).val();
                                            $("select[name='region_id']").val(seleVal);
                                            $("select[name='region_id']").trigger("change");
                                            return;
                                        }

                                    });

                                    // setInterval(function(){
                                    // $("select[name='region_id']").val(seleVal);
                                    // $("select[name='region_id']").trigger("change");
                                    //  },5000);




                                    // $("select[name='region_id']").val(seleVal);
                                    // $("select[name='region_id']").trigger("change");

                                // if(result.zipinfo[2] !=='US'){
                                //     $("[name='region_id']").val(result.zipinfo[1]);
                                //     }else{
                                //         $("select[name='region_id']").text(result.zipinfo[1]);
                                //     }

                                    // $("select[name='country_id']").val(result.zipinfo[2]);
                                    // alert('success');

                                }
                                //  $("#test").html(result);
                             }
                            });
                        });

                    // console.log('tset');
                });
            });
          </script>
    </div>
</div>
