<?php
/**
 * @var \Magenest\PayaConnect\Block\Card $block
 */
$canSaveCard = $block->checkCanSaveCard();
$cards = $block->getDataCard();
?>
<?php if($canSaveCard) { ?>
    <a id="add-card-action" href="#">Add a credit card</a>
<?php } ?>
<form id="card-field">

</form>

<table id="customer-booking-order-list" class="data table table-downloadable-products">
    <?php if (!sizeof($cards)) { ?>
        <div class="message info empty">
            <span><?php echo __('You don\'t store any card yet.'); ?></span>
        </div>
    <?php } else {?>
        <thead>
        <tr>
            <th><?php echo __('Credit Card'); ?></th>
            <th><?php echo __('Expires'); ?></th>
            <th><?php echo __('Created At'); ?></th>
            <th><?php echo __('Action'); ?></th>
            <th></th>
        </tr>
        </thead>

        <tbody id="card_table_body">
        <?php foreach ($cards as $card) {
        $k = 0;
        ?>
        <tr id="row-<?= $k; ?>">
            <td><span><?= $card->getCardType(); ?></span> - <span><?= $card->getMaskedNumber() ?></span></td>
            <td><?= $card->getExpirationDate()?></td>
            <td><?= $card->getCreatedAt(); ?></td>
            <td>
                <a href="<?=$block->getDeleteUrl($card->getId())?>" class="action delete"
                   onclick="return confirm('Are you sure you want to delete this card?');"
                >
                    <span><?php echo __('Delete')?></span>
                </a>
            </td>
            <?php
            $k++;
            } ?>
        </tbody>
    <?php } ?>
</table>

<script>
    require(['jquery', 'Magento_Ui/js/model/messageList', 'mage/cookies'], function ($, message) {
        $('#add-card-action').on("click", function (e) {
            var self = this;
            $('body').trigger('processStart');
            $.ajax({
                type: 'GET',
                data: {
                    form_key: $.cookie('form_key'),
                    is_token: true
                },
                url: '<?=$block->getUrl('payaconnect/card/payaaccountform')?>',
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        var src = "src=" + response.url;
                        var cardElement = '#card-field';
                        $(cardElement).html('<iframe height="430px" width="305px"' + src  + '></iframe>');

                        window.addEventListener("message", receiveMessage, false);

                        function receiveMessage(event) {
                            // Verify sender's identity
                            if (event.isTrusted && event.data) {
                                $(cardElement).hide();

                                //save card
                                $.ajax({
                                    type: 'POST',
                                    data: {
                                        form_key: $.cookie('form_key'),
                                        card_data: event.data,
                                        contact_id: response.contact_id
                                    },
                                    url: '<?=$block->getUrl('payaconnect/card/save')?>',
                                    dataType: "json",
                                    success: function (response) {
                                        setTimeout(window.location.reload(), 1000);
                                    },
                                });
                            } else {
                                self.messageContainer.addErrorMessage({
                                    message: $.mage.__('CURL API does not work')
                                });
                            }
                        }
                        $('body').trigger('processStop');
                    }

                    if (response.error) {
                        $('body').trigger('processStop');
                    }
                },
                error: function (err) {
                    $('body').trigger('processStop');
                }
            });
        })
    })
</script>
