<!--
/**
 * ClassyLlama_AvaTax
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @copyright  Copyright (c) 2016 Avalara, Inc.
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<!-- <li id="validate_address" role="presentation" class="checkout-validate-address" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: 'Verify Your Address'" data-role="title" />
    <div class="step-content" data-role="content" role="tabpanel" aria-hidden="false"> -->
        <!-- ko template: getBaseValidateAddressTemplate() --><!-- /ko -->
    <!-- </div>
</li> -->
