<?php
/**
 * @category FishPig
 * @package FishPig_WordPress
 * @notes This template is used when there post/list.phtml doesn't have a child block called 'renderer'
 * @notes This happens when post/list.phtml is called in via PHP rather than via the default layout handles
 */
?>
<?php if ($post = $this->getPost()): ?>
	<div class="post-list-item">
		
		<div class="post-entry">
			<?php if ($image = $post->getImage()): ?>
        	<?php $imageUrl =  $image->getResizer()->constrainOnly(true)->keepFrame(false)->keepAspectRatio(true)->resize(600, null) ?>
				<div class="post-image">
					<a href="<?php echo $post->getUrl() ?>" title="<?php echo $this->escapeHtml($post->getName()) ?>"><img src="<?php echo $imageUrl ?>" alt="<?php echo $this->escapeHtml($post->getName()) ?>"/></a>
				</div>
			<?php endif; ?>
            <div class="post-item-content">
            	<h2>
                    <a href="<?php echo $post->getUrl() ?>" title="<?php echo $this->escapeHtml($post->getName()) ?>">
                        <?php echo $this->escapeHtml($post->getName()) ?>
                    </a>
                </h2>
                <div class="post-meta">
                	<div class="post-date post-meta-item">
						<strong><?php echo __('Updated On') ?>:</strong> <?php echo $post->getPostModifiedDate() ?>
					</div>
                    <div class="post-user post-meta-item">
                        <strong><?php echo __('Posted By') ?>:</strong> <a href="<?php echo $post->getUser()->getUrl() ?>"><?php echo $post->getUser() ->getDisplayName() ?></a>
                    </div>
                </div>
				<div class="post-excerpt"><?php echo $post->getExcerpt(60) ?></div>
                <div class="post-meta">
					<?php if ($categoryString = $post->getTermCollectionAsString('category')): ?>
                        <div class="post-categories post-meta-item">
                            <strong><?php echo __('Categories') ?>:</strong> <?php echo $categoryString ?>
                        </div>
                    <?php endif; ?>
                    <?php if ($tagString = $post->getTermCollectionAsString('post_tag')): ?>
                        <div class="post-tags post-meta-item">
                            <strong><?php echo __('Tags') ?>:</strong> <?php echo $tagString ?>
                        </div>
                    <?php endif; ?>
                    
                </div>
            </div>
            
		</div>
		
	</div>
<?php endif; ?>