<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer\Actions\Remove */
$_item = $block->getItem();
?>
<a href="#"
   title="<?= $block->escapeHtml(__('Remove Item')) ?>"
   class="action action-delete removeConfirm" id="<?= $_item->getId() ?>"
   data-post='<?php //echo $block->getDeletePostJson() ?>'>
    <span>
        <?= $block->escapeHtml(__('Remove Item')) ?>
    </span>
</a>
 


