
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
/* $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category */
/* $catId = $category->getId(); */ // Parent Category ID
$catId = 24;
$subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
$subcats = $subcategory->getChildrenCategories();
$categoryHelper = $this->getCategoryHelper();
?>
<div class="row">
    <ul id="list_item_top_nav" class="col-lg-12">
        <div class="block-title"><? echo $subcategory->getName(); ?></div>
        <?php
        echo '<br>';

        foreach ($subcats as $subcat) {
            ?>
            <li class="list_item">
                <?php
                if (!$subcat->getIsActive()) {
                    continue;
                }

                $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
                echo $_category->getName();
                echo '<br>';
                ?>
            </li>
            <?
        }
        ?>


    </ul>

</div>