<ul class="block-grid four-up medium-two-up mobile-two-up converting-landing">
    <?php
    $current_category = $block->getLayer()->getCurrentCategory();
    $_categories = $current_category->getChildrenCategories();
    $categorycount = 0;
    $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $media = $_objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
    $filter = $_objectManager->get('Magento\Cms\Model\Template\FilterProvider');
    foreach ($_categories as $_category):
        if ($_category->getIsActive()):
            $cur_category = $_objectManager->create('Magento\Catalog\Model\Category')->load($_category->getId());
            if($cur_category->getId() == '142'){$cat_sewing = 'sewing';}else{$cat_sewing ='';}
            ?>
            <li>
                <div class="converting-landing-inner">
                    <div class="widget widget-static-block">
                        <h3><?php echo $cur_category->getName(); ?></h3>
                        <p class="conveting-subcat-img <?= $cat_sewing ?>"><img src="<?php echo $media . 'catalog/category/' . $cur_category->getImage(); ?>" alt="<?php echo $cur_category->getName(); ?>" /></p>
                        <?php echo $filter->getBlockFilter()->filter($cur_category->getDescription()) ?>
                        <p class="see_converting_detail"><a href="<?php echo "converting/".$cur_category->getUrlKey(); ?>" class="btn_thme_primary">See Conversion Details</a></p>
                    </div>
                </div>
            </li>
            <?php
        endif;
    endforeach;
    ?>
</ul>



