<ul class="block-grid three-up medium-two-up mobile-one-up industry-landing">
    <?php
    $current_category = $block->getLayer()->getCurrentCategory();
    $_categories = $current_category->getChildrenCategories();
    $categorycount = 0;
    $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $media=$_objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
    $filter = $_objectManager->get('Magento\Cms\Model\Template\FilterProvider');
    foreach ($_categories as $_category):
        if ($_category->getIsActive()):
            $cur_category = $_objectManager->create('Magento\Catalog\Model\Category')->load($_category->getId());
            ?>
            <li class="block-grid-list">
                <div class = "industries-landing-inner">
                    <div class = "widget widget-static-block">
                        <h3><?php echo $cur_category->getName() ?></h3>
                        <p>
                            <a href="<?php echo $cur_category->getUrlKey() ?>">
                                <img src="<?php echo $media . 'catalog/category/' . $cur_category->getImage() ?>" alt="Hook and Loop products for <?php echo $cur_category->getName() ?>" title="Hook and Loop products for <?php echo $cur_category->getName() ?>" />
                            </a>
                        </p>
                        <?php echo $filter->getBlockFilter()->filter($cur_category->getDescription()) ?>
                        <p><a href="<?php echo $cur_category->getUrlKey() ?>" class="btn_thme_primary">See Industry Details</a></p>
                    </div>
                </div>
            </li>
            <?php
        endif;
    endforeach;
    ?>
</ul>