<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('customize-strap')->toHtml(); ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$img_path= $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                    ->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);


?>
<div class="form-list">
    <h2 class="legend" >Select Strap Style</h2>
    <div class="custom-strap-list-panel clearfix">
        <label class="required"><em>*</em>Select Strap Style</label>
        <ul class="list-select" id="strap-type-select">
            <li class="control">
                <label style="display:none">Cinch Strap With Ring</label>
                <input type="radio" name="strap-type" value="Cinch Strap" checked>
                <img src="<?php echo $img_path?>/form-images/design-your-own/cinch.jpg">
                <img style="display:none" id="img_test" src='<?php echo $img_path ."/dcs_249.jpg" ?>'>

            </li>
            <li class="control">
            <label style="display:none">Back strap</label>
                <input type="radio" name="strap-type" value="Back Strap" checked>
                <img src="<?php echo $img_path?>/form-images/design-your-own/back.jpg">
                <img style="display:none" id="img_test" src='<?php echo $img_path ."/dbs_280.jpg " ?>'>

            </li>
            <li class="control">
            <label style="display:none">Face Strap</label>
                <input type="radio" name="strap-type" value="Face Strap" checked>
                <img src="<?php echo $img_path?>/form-images/design-your-own/face.jpg">
                <img style="display:none" id="img_test" src='<?php echo $img_path ."/dcs_250.jpg" ?>'>

            </li>
            <li class="control">
            <label style="display:none">Two way Face Strap</label>
                <input type="radio" name="strap-type" value="Two Way Face Strap" checked>
                <img src="<?php echo $img_path?>/form-images/design-your-own/two_way.jpg">
                <img style="display:none" id="img_test" src='<?php echo $img_path ."/dcs_251.jpg" ?>'>

            </li>

        </ul>
        <input type="hidden" name="strap-type-hidden"  id="strap-type-hidden" value="Cinch Strap" />
    </div>
</div>
<div class="fieldset clearfix fieldset-16">
    <h2 class="legend" >Select Product Details</h2>
    <ul class="form-list clearfix">
        <li class="webforms-fields-101 fields">
            <label class="required"><em>*</em>Select Material</label>
            <div class="input-box custom-strap-list-panel clearfix">
                <select  id="brand" class=" required-entry" >
                    <option value="DuraGrip">Duragrip Brand</option>
                    <option value="VELCRO">Velcro Brand</option>
                </select>
                <input type="hidden" name="strap-brand-hidden"  id="strap-brand-hidden" value="DuraGrip" />
            </div>
        </li>
        <li class="webforms-fields-101 fields">
            <label class="required"><em>*</em>Select Width</label>
            <div class="input-box custom-strap-list-panel clearfix">
                <select id="strap-width" class=" required-entry">
                    <option value="5/8">5/8"</option>
                    <option value="3/4">3/4"</option>
                    <option value="1">1"</option>
                    <option value="1.5">1.5"</option>
                    <option value="2">2"</option>
                    <option value="3">3"</option>
                </select>
                <input type="hidden" name="strap-width-hidden"  id="strap-width-hidden" value="5/8" />
            </div>
        </li>
        <li class="webforms-fields-101 fields">
            <label class="required"><em>*</em>Enter Strap Length </label>
            <div class="input-box custom-strap-list-panel clearfix">
                <input id="strap-length" type="number" class=" required-entry input-text" style="" placeholder="Strap Length" value="">
                <input type="hidden" name="strap-length-hidden"  id="strap-length-hidden" value="" />
                <label class="webforms-fields-comment required" id="length-require"><em>*</em>Enter strap length in inches (between 6" and 120")</label>
            </div>
        </li>
        <li class="fields webforms-fields-101">
            <label class="required">
                <em>*</em>Quantity
            </label>
            <div class="input-box custom-strap-list-panel clearfix">
                <input id="qunatity" type="text" class=" required-entry input-text" style="" placeholder="Quantity" value="">
                <label class="webforms-fields-comment required" id="quantity-require"><em>*</em>Minimum purchase quantity is 25</label>
            </div>
        </li>
        <li class="webforms-fields-101 fields">
           <button class="btn_thme_primary" id="custom_strap_apply" title="Apply">
                    <span><span>Apply</span></span></button>
        </li>
    </ul>
    <div class="cstm-form-bottom-section">
        <span class="straps-logo-text">All straps come with our HookandLoop.com logo. Straps are available without logo imprinting upon request <a href="/custom-strap-form" class="customStrapFormPage" target="_blank">Custom logos also available.</a></span>
        <div class="cstm-price-lft">
            <label id="price-label" class="required">Price: </label>
            <div class="input-box custom-strap-list-panel clearfix">
                <div class="price_cont clearfix">$ <label id="price" >0.0</label></div>
                <label id="sku" style="display: none;"></label>
                <label id="unit-price" style="display: none;" ></label>
            </div>
            <div class="buttons-set">
                <button type="submit" class="btn_thme_secondary" id="custom_strap_atc" disabled title="Add to cart" >
                    <span><span>Add to cart</span></span></button>
            </div>
            <span class="please-wait" id="loader-add-to-cart" style="display: none;">
                <div style="display: table;width: 100%;height: 100%;">
                    <div style="display:table-cell;height: 100%;vertical-align: middle;">
                        <img src="<?php echo $img_path?>customize-strap/spinner.gif" alt="Adding..." title="Adding..." class="v-middle">
                        <span id="webform_ouzrdn_progress_text">Adding...</span>
                    </div>
                </div>
            </span>
        </div>
        <a href="/custom-strap-form" class="customStrapFormLink" target="_blank">Custom orders also available</a>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="mb-login-popup-title"> Add to Cart<span class="close">&times;</span></div>
        <div class="title_appended">Something went worng, Product Not Added To Cart</div>
        <div class="title_appended_success"><img src="<?php echo $img_path.'images/top-menu-icon.png' ?>" /><span>Product Added to Cart!<span></div>
        <div class="product-name"></div>
        <div style="margin:0px auto;" class="product-sku"><label>Part #:</label><span></span></div>
        <div class="test_b" style="width:30%;">
                <label id="test_img"></label>
                <img src="" style="width:75% ;    height:auto;">
        </div>
        <div class="test_a" style="width:50%;">

        <!-- <div class="part" sty;e="    height: 35px;"><p>part#:</p><p id="product-sku"></p></div> -->
        <div ><p>Strap Style:</p><p id="strap_style"></p></div>
        <div ><p>Select Material:</p><p id="strap_material"></p></div>
        <div ><p>Select Width:</p><p id="strap_width"></p></div>
        <div style="float: left;    width: 100%;"><p>Enter Strap Length:</p><p id="strap_length"></p></div >
        <div ><p>Quantity:</p><p id="strap_qty"></p></div >
        </div>

        <div class="ajaxcart-buttons ajaxsuite-buttons">
            <button type="button" id="ajaxcart_cancel" class="action primary mb-ajaxsuite-close" title="Continue Shopping" style="color: rgb(255, 255, 25`5); background-color: rgb(0, 107, 180);">
                <span>Continue Shopping </span>
            </button>
            <a href="<?php echo $block->getUrl('checkout/cart', ['_secure' => true]);?>"> <button type="button" id="ajaxcart_checkout" class="action focus primary" title="Go to Shopping Cart"  style="color: rgb(255, 255, 255); background-color: rgb(0, 107, 180);">
            <span>Go to Shopping Cart</span>
            </button>
            </a>
        </div>
    </div>

</div>

<script type="text/javascript">
    requirejs(['jquery','Magento_Customer/js/customer-data'], function (jQuery, customerData) {
        jQuery(function ($) {
            $(document).ready(function () {
                var strapType;
                var width;
                var brand;
                var strapLength;
                var lab;// selected label text
                var imgName;//selected img url
                var img_name;
                  $('input:radio[name="strap-type"][value="Cinch Strap"]').prop('checked', true);
                  $('.control').each(function(){
                    var value=$(this).find('input:radio[name="strap-type"]:checked').siblings('label').text();
                    // alert(value);

                  });
                  $('.test_b img').attr('src','<?php $this->getUrl()?>media/customize-strap/dcs_249.jpg');
                  $('.control ').click(function() {
                   lab=$(this).find('input:radio[name="strap-type"]').siblings('label').text();
                    //  alert(lab);
                    imgName=$(this).find('input:radio[name="strap-type"]').siblings('#img_test').attr('src');
                    $('.test_b img').attr('src',imgName);
                    });
                $('#strap-type-select li').click(function () {
                    $(this).children("input[type=radio]").prop("checked", true);
                    $('#strap-type-hidden').val($(this).children("input[type=radio]").val());
                    //getPrice();
                });

                $('#strap-width').on('change', function () {
                    $('#strap-width-hidden').val($(this).find(":selected").val());
                    //getPrice();
                });

                $('#brand').on('change', function () {
                    $('#strap-brand-hidden').val($(this).find(":selected").val());
                    //getPrice();
                });

                $("#strap-length").change(function () {
                    $('#sku').text('');
                    $('#custom_strap_atc').attr('disabled','disabled');
                    $('#strap-length-hidden').val($(this).val());
                    //getPrice();
                });

                $("#qunatity").change(function () {
                    if ($('#qunatity').val() != '') {
                        if ($('#qunatity').val() < 25) {
                            $('#quantity-require').css("color", "red");
                        } else {
                            $('#quantity-require').css("color", "#666");
                            //getPrice();
                        }
                    }
                });

                $("#custom_strap_apply").click(function() {
                    if ($('#qunatity').val() >= 25) {
                       getPrice();
                    } else {
                        $('#quantity-require').css("color", "red");
                        $('#custom_strap_atc').attr('disabled','disabled');
                    }
                });

                $('#myModal .close').click(function (e) {
                    var modal = document.getElementById('myModal');
                    modal.style.display = "none";
                });
                $('#myModal #ajaxcart_cancel').click(function (e) {
                    var modal = document.getElementById('myModal');
                    modal.style.display = "none";
                });
                $('#custom_strap_atc').click(function (e) {
                    e.preventDefault();
                    var strapType = $('#strap-type-hidden').val();
                    var width = $('#strap-width-hidden').val();
                    var brand = $('#strap-brand-hidden').val();
                    var strapLength = $('#strap-length-hidden').val();
                    var qty = $('#qunatity').val();
                    var sku = $('#sku').text();
                    var unitPrice = $('#unit-price').text();
                    if (strapLength == '') {
                        $('#length-require').css("color", "red");
                    } else {
                        $('#length-require').css("color", "#666");
                    }

                    if (qty == '') {
                        $('#quantity-require').css("color", "red");
                    } else {
                        $('#quantity-require').css("color", "#666");
                    }

                    if (strapType != '' && width != '' && brand != '' && strapLength != ''  && sku != '') {
                        if ($('#qunatity').val() >= 25) {
                            console.log($('#qunatity').val());
                            $('#loader-add-to-cart').css("display", "block");
                            $.ajax({
                                url: '<?php echo $block->getUrl('customstrap/index/addProduct') ?>',
                                type: "post",
                                data: "&sku=" + sku + "&qty=" + qty + "&price=" + unitPrice + "&brand=" + brand + "&width=" + width + "&strapType=" + strapType + "&strapLength=" + strapLength,
                                dataType: 'json',
                                success: function (data) {
                                    // alert(data.sku);
                                    var strapType = $('#strap-type-hidden').val();
                                    // alert(strapType);
                                    // window.location.href=data;

                                    $('.title_appended_success').css('color','#ffffff').css({'background-color':'#1d1d1d','font-size':'20px'}).show();
                                    $('.title_appended').css('color','red').hide(1000);
                                    $('#loader-add-to-cart').css("display", "none");
                                    var modal = document.getElementById('myModal');
                                    modal.style.display = "block";
                                    var brand = $("#brand").find(':selected').text();
                                    var width = $("#strap-width").find(':selected').text();
                                    var len = $('.webforms-fields-101:nth-child(3) input').val();
                                    var qty = $('.webforms-fields-101:nth-child(4) input').val();
                                    var proname = brand+' '+strapType ;
                                    $('.product-name').text(proname);
                                    $('.product-sku span').text(sku);
                                    $('#strap_material').text(brand);
                                    $('#strap_width').text(width);
                                    $('#strap_length').text(len);
                                    $('#strap_qty').text(qty);
                                    $('.test_b').css('float','left');
                                    $('.test_a').css('float','left');
                                    // $('.test_b img').attr('src',data);
                                    $(' #strap_style').text(strapType);
                                    $('#test_img').attr('src',imgName);
                                    var counter_num=parseInt($('.counter-number-cm.test').text(),10);
                                    var qty_num=parseInt(qty,10);
                                    var final_result=counter_num+qty_num;
                                    $('.counter-number-cm.test').text(final_result);


                                    window.onclick = function (event) {
                                        if (event.target == modal) {
                                            modal.style.display = "none";
                                        }
                                    }
                                    var sections = ['cart'];
                                    customerData.invalidate(sections);
                                    customerData.reload(sections, true);
                                },
                                error: function(){
                                 $('.title_appended_success').show();
                                 $('.title_appended').css('color','red').show();
                                },
                                complete:function(data, status, xhr){

                                   $('#loader-add-to-cart').css("display", "none");
                                  if(status=='error'){
                                     $('.title_appended_success').hide();
                                     $('.title_appended').css('color','red').show(1000);
                                     $('#myModal').show();
                                  }
                                   $('#myModal').show();
                                }
                            });
                        } else {
                            $('.overlay.strap-not-found .pop_content').html('Minimum purchase quantity is 25.' + '<span id="close_popup">X</span>');
                            $('.overlay.strap-not-found').css("display", "block");
                            $('span#close_popup').css("display", "block");
                        }
                    } else {
                        if (sku != 'Not found' && strapLength == '') {
                            $('.overlay.strap-not-found .pop_content').html('Please fill all required fields.' + '<span id="close_popup">X</span>');
                            $('.overlay.strap-not-found').css("display", "block");
                            $('span#close_popup').css("display", "block");
                        }
                        if (qty < 25) {
                            $('.overlay.strap-not-found .pop_content').html('Minimum purchase quantity is 25.' + '<span id="close_popup">X</span>');
                            $('.overlay.strap-not-found').css("display", "block");
                            $('span#close_popup').css("display", "block");
                        }
                    }

                });

                function getPrice() {
                    var strapType = $('#strap-type-hidden').val();
                    var width = $('#strap-width-hidden').val();
                    var brand = $('#strap-brand-hidden').val();
                    var strapLength = $('#strap-length-hidden').val();
                    var qty = $('#qunatity').val();

                    if (strapLength == '') {
                        $('#length-require').css("color", "red");
                    } else {
                        $('#length-require').css("color", "#666");
                    }

                    if (qty == '') {
                        $('#quantity-require').css("color", "red");
                    } else {
                        $('#quantity-require').css("color", "#666");
                    }

                    if (strapType != '' && width != '' && brand != '' && strapLength != '' && qty != '' && qty >= 25) {
                        $('#loader-add-to-cart').show();
                        $.ajax({
                            url: '<?php echo $block->getUrl('customstrap/index/getProduct') ?>',
                            type: "post",
                            data: "brand=" + brand + "&width=" + width + "&strapType=" + strapType + "&strapLength=" + strapLength,
                            dataType: 'json',
                            success: function (response) {
                                $('#loader-add-to-cart').hide();
                                // alert(response.sku);
                                if (response == 'Not found') {
                                    $('#sku').text('Not found');
                                    $('#price').text('0.0');
                                    $('#custom_strap_atc').removeClass('btn_thme_primary');
                                    $('#custom_strap_atc').addClass('btn_thme_secondary');

                                    if ($('#strap-length-hidden').val() < 120) {
                                        $('.overlay.strap-not-found .pop_content').html('The size selected requires additional information. Please request a custom quote through our ' + '<a href="/custom-strap-form" target="_blank">custom strap form</a>' + '.' + '<span id="close_popup">X</span>');

                                    } else {
                                        $('.overlay.strap-not-found .pop_content').html('For all strap lengths over 120 inches, please call or email Or request a custom quote through our ' + '<a href="/custom-strap-form" target="_blank">custom strap form</a>' + '.' + '<span id="close_popup">X</span>');
                                    }

                                    if (qty < 25) {
                                        $('.overlay.strap-not-found .pop_content').html('Minimum order quantity is 25.');
                                    }
                                    $('.overlay.strap-not-found').css("display", "block");
                                    $('span#close_popup').css("display", "block");

                                } else {
                                    $('#custom_strap_atc').removeClass('btn_thme_secondary');
                                    $('#custom_strap_atc').addClass('btn_thme_primary');
                                    var sku = response.sku;
                                    var minQty = response.minQty;
                                    if (minQty > qty) {
                                        qty = minQty;
                                        $('#qunatity').val(minQty);
                                    }
                                    var finalPrice = qty * response.price;
                                    $('#price').text(finalPrice.toFixed(2));
                                    $('#unit-price').text(response.price);
                                    $('#sku').text(sku);
                                    $('#custom_strap_atc').removeAttr('disabled');
                                }
                            }

                        });
                    }
                }

            });
            $('.overlay.strap-not-found').click(function () {
                $('.overlay.strap-not-found').hide();
            })

        });

    });
</script>
<style>
    .title_appended_success span{font-size:20px;position: relative;top: 10px;    width: 80%;    float: right;}
    #ajaxcart_cancel{color: #ffffff;}
    .modal-content .test_a {    margin-bottom: 15px;}
    .modal-content .test_a div p{    width: 50%;float: left;margin:0px;}
    .modal-content >div{font-weight: bold;}
</style>