& when (@media-common = true) {
    .block.newsletter {
        .field.g-recaptcha {
            margin-top: @indent__s;
            transition: all 300ms linear;

            .grecaptcha-badge {
                margin-right: -180px;
            }
        }

        .hidden-recaptcha {
            .field.g-recaptcha {
                max-height: 0 !important;
                min-height: 0 !important;
                overflow: hidden !important;
                margin: 0 !important;
                padding: 0 !important;
                opacity: 0 !important;
                transform: translateY(-5px);
            }
        }
    }
}
