<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$states = $objectManager->create('Magento\Directory\Model\RegionFactory')
                ->create()->getCollection()->addFieldToFilter('country_id', 'US');
?>
<form id="tax-relief-form">
    <h3><?= __('Tax Exempt, If Applicable'); ?></h3>
    <?php $taxCode = $this->getTaxcode(); ?>   
    <?php $taxState = $this->getTaxregion(); ?>   
    <ul class="form-list">
        <li>
            <label class="required" for="customer-tax-relief-code"><?= __('Tax Exempt Number'); ?></label>
            <div class="input-box">
                <input id="tax-relief-code" name="tax_relief_code" type="text"  autocomplete="off" value="<?php
                if ($taxCode): echo $taxCode;
                endif;
                ?>"
                       />
            </div>
            <div id="advice-required-cart-tax" class="validation-advice" style="display: none;color: #ED2227;"></div>
        </li>

        <li>
            <label class="required" for="customer-tax-relief-state"><?= __('Tax Exempt State'); ?></label>
            <select name='customer_region' id='customer-region' class="validate-select" >
                <option><?= __('Please select region, state or province'); ?></option>
                <?php
                foreach ($states->getData() as $region) {
                    ?>
                    <option <?php
                    if ($region['name'] == $taxState) {
                        echo "selected";
                    }
                    ?> value="<?php echo $region['name'] ?>" ><?php echo $region['name'] ?></option>
                    <?php }
                    ?>
            </select>
            <div id="advice-required-cart-tax-state" class="validation-advice" style="display: none;color: #ED2227;"><?= __('This is a required field.'); ?></div>
        </li>
    </ul>
</form>

