.option-description-text {
    font-size: 0.75em;
    font-weight: 400;
    opacity: 0.9;
}

.qtip {
    font-size: 12.5px;
    line-height: 14px;
}

.mageworx-hidden {
     display: none !important;
}

.mageworx-product-final-price{
    min-height: 78px;
    font-weight: 600;
}