<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var \Magento\Payment\Block\Adminhtml\Transparent\Form $block
 */
$code = $block->escapeHtml($block->getMethodCode());
$ccType = $block->getInfoData('cc_type');
$ccExpMonth = $block->getInfoData('cc_exp_month');
$ccExpYear = $block->getInfoData('cc_exp_year');
?>
<fieldset class="admin__fieldset payment-method" id="payment_form_<?= /* @noEscape */
$code ?>"
          style="display:none">

    <input type="hidden" name="payment[paya_apiresponce]" id="paya-resp">
    <input type="hidden" name="payment[paya_cardinfo]" id="paya-cardinfo">
    <input type="hidden" name="payment[token]" id="paya-token">

    <div class="field-type admin__field _required">
        <label class="admin__field-label" for="<?= /* @noEscape */
        $code ?>_cc_type">
            <span><?= $block->escapeHtml(__('Credit Card Type')) ?></span>
        </label>
        <div class="admin__field-control">
            <select id="<?= /* @noEscape */
            $code ?>_cc_type" name="payment[cc_type]"
                    class="required-entry validate-cc-type-select admin__control-select">
                <option value=""></option>
                <?php foreach ($block->getCcAvailableTypes() as $typeCode => $typeName): ?>
                    <option value="<?= $block->escapeHtml($typeCode) ?>"
                            <?php if ($typeCode == $ccType): ?>selected="selected"<?php endif ?>>
                        <?= $block->escapeHtml($typeName) ?>
                    </option>
                <?php endforeach ?>
            </select>
        </div>
    </div>
    <div class="field-number admin__field _required">
        <label class="admin__field-label" for="<?= /* @noEscape */
        $code ?>_cc_number">
            <span><?= $block->escapeHtml(__('Credit Card Number')) ?></span>
        </label>
        <div class="admin__field-control">
            <input type="text" id="<?= /* @noEscape */
            $code ?>_cc_number" name="payment[cc_number]"
                   title="<?= $block->escapeHtml(__('Credit Card Number')) ?>"
                   class="admin__control-text validate-cc-number"
                   value="<?= /* @noEscape */
                   $block->getInfoData('cc_number') ?>"/>
        </div>
    </div>
    <div class="field-date admin__field _required">
        <label class="admin__field-label" for="<?= /* @noEscape */
        $code ?>_expiration">
            <span><?= $block->escapeHtml(__('Expiration Date')) ?></span>
        </label>
        <div class="admin__field-control">
            <select id="<?= /* @noEscape */
            $code ?>_expiration" name="payment[cc_exp_month]"
                    class="admin__control-select admin__control-select-month validate-cc-exp required-entry">
                <?php foreach ($block->getCcMonths() as $k => $v): ?>
                    <option value="<?= $block->escapeHtml($k) ?>"
                            <?php if ($k == $ccExpMonth): ?>selected="selected"<?php endif ?>>
                        <?= $block->escapeHtml($v) ?>
                    </option>
                <?php endforeach; ?>
            </select>
            <select id="<?= /* @noEscape */
            $code ?>_expiration_yr" name="payment[cc_exp_year]"
                    class="admin__control-select admin__control-select-year required-entry">
                <?php foreach ($block->getCcYears() as $k => $v): ?>
                    <option value="<?= /* @noEscape */
                    $k ? $block->escapeHtml($k) : '' ?>"
                            <?php if ($k == $ccExpYear): ?>selected="selected"<?php endif ?>>
                        <?= $block->escapeHtml($v) ?>
                    </option>
                <?php endforeach ?>
            </select>
        </div>
    </div>

    <?php if ($block->hasVerification()): ?>
        <div class="field-number required admin__field _required">
            <label class="admin__field-label" for="<?= /* @noEscape */
            $code ?>_cc_cid">
                <span><?= $block->escapeHtml(__('Card Verification Number')) ?></span>
            </label>
            <div class="admin__field-control">
                <input type="text" title="<?= $block->escapeHtml(__('Card Verification Number')) ?>"
                       class="required-entry validate-cc-cvn admin__control-cvn admin__control-text"
                       id="<?= /* @noEscape */
                       $code ?>_cc_cid"
                       name="payment[cc_cid]" value="<?= /* @noEscape */
                $block->getInfoData('cc_cid') ?>"/>
            </div>
        </div>
    <?php endif; ?>


    <div class="field-tooltip-content">
        <input type="checkbox" id="paya_enable_vault" name="payment[save_card]"
               class="admin__control-checkbox">
        <label class="label admin__field-label" for="paya_enable_vault">
            <span><?= $block->escapeHtml(__('Save for later use.')) ?></span>
        </label>
    </div>
</fieldset>


<script>
    require([
        'jquery',
        'prototype',
        'Magento_Sales/order/create/scripts',
        "Magento_Sales/order/create/form"

    ], function ($) {
        order.addExcludedPaymentMethod('<?php /* @noEscape */ echo $code; ?>');
        if (!window.mgn_list_payment) {
            window.mgn_list_payment = [];
        }
        var methodCode = '<?=$block->getMethodCode()?>';
        window.mgn_list_payment.push(methodCode);
        var selector = $('#submit_order_top_button, .order-totals-actions>.actions>button');
        var is_select = false;
        var clientId, merchantId, authKey, postbackUrl, salt,
            requestType, orderNumber, amount, preAuth, doVault, data,
            token, sage_environment, browser_debug;

        setInterval(function () {
            if ($('#p_method_paya').is(":checked")) {
                is_select = true;
                selector.attr("onclick", "");
            } else {
                if (window.mgn_list_payment.indexOf(order.paymentMethod) === -1) {
                    is_select = false;
                    selector.attr("onclick", "");
                }
            }
        }, 100);

        // selector.unbind('click');
        selector.on("click", function () {
            if ((is_select) && ($('#p_method_paya').is(":checked")) && ($('#edit_form').valid())) {
                $('body').trigger("processStart");

                var clientId, postbackUrl, environment, merchantId, authKey, salt, requestType,
                    orderNumber, amount, preAuth;

                $.getScript('https://www.sagepayments.net/pay/1.0.2/js/pay.min.js', function () {

                    $.ajax({
                        type: 'GET',
                        data: {
                            form_key: $("input[name='form_key']").val()
                        },
                        url: '<?=$block->getUrl('paya/checkout/request')?>',
                        dataType: "json",
                        success: function (response) {
                            if (response.success) {

                                clientId = response.clientId;
                                postbackUrl = response.postbackUrl;
                                environment = response.environment;
                                merchantId = response.merchantId;
                                authKey = response.authKey;
                                salt = response.salt;
                                requestType = response.requestType;
                                orderNumber = response.orderNumber;
                                amount = response.amount;
                                preAuth = response.preAuth;

                                require(['jquery', 'PayJS/Core', 'PayJS/Request', 'PayJS/Response', 'PayJS/Formatting', 'PayJS/Validation'],
                                    function ($, $CORE, $REQUEST, $RESPONSE, $FORMATTING, $VALIDATION) {


                                        $CORE.Initialize({
                                            clientId: clientId,
                                            postbackUrl: postbackUrl,
                                            environment: environment,
                                            merchantId: merchantId,
                                            authKey: authKey,
                                            salt: salt,
                                            requestType: requestType,
                                            orderNumber: orderNumber,
                                            amount: amount,
                                            preAuth: preAuth
                                        });

                                        $CORE.setBilling(getAddress('billing'));
                                        if (!window.order.isOnlyVirtualProduct) {
                                            $CORE.setShipping(getAddress('shipping'));
                                        }
                                        $CORE.setCustomer({
                                            email: $('#email').val()
                                        });


                                        var cc = $(" #paya_cc_number").val();
                                        var expYear = $("#paya_expiration_yr").val();
                                        expYear = expYear.toString();

                                        var exp = $("#paya_expiration").val() + expYear.substr(expYear.length - 2);
                                        var cvv = $("#paya_cc_cid").val();

                                        exp = $FORMATTING.formatExpirationDateInput(exp, '/');
                                        cc = $FORMATTING.formatCardNumberInput(cc, '-');

                                        cvv = cvv.replace(/\D/g, '');
                                        $("#paya_cc_cid").val(cvv);

                                        var restfulHeaders = {"Content-Type": "application/json"};
                                        restfulHeaders["clientId"] = clientId;
                                        restfulHeaders["clientVersion"] = "@@VERSION".replace(/\./g, '');

                                        var url = getUrl("transactionPath");
                                        var transactionPayload = {
                                            "merchantId": $CORE.getMerchantId(),
                                            "authKey": $CORE.getAuthKey(),
                                            "requestId": $CORE.getRequestId(),
                                            "cardExpirationDate": $FORMATTING.stripNonNumeric(exp),
                                            "cardNumber": $FORMATTING.stripNonNumeric(cc),
                                            "amount": $CORE.getAmount(),
                                            "cvv": $FORMATTING.stripNonNumeric(cvv),
                                            "nonce": $CORE.getNonce(),
                                        };

                                        if (customData = $CORE.getCustomData()) {
                                            transactionPayload["data"] = customData
                                        }
                                        if (pbUrl = $CORE.getPostbackUrl()) {
                                            transactionPayload["postbackUrl"] = pbUrl
                                        }
                                        if (billing = $CORE.getBilling()) {
                                            transactionPayload["billing"] = billing
                                        }
                                        if (customer = $CORE.getCustomer()) {
                                            transactionPayload["customer"] = customer
                                        }
                                        if (shipping = $CORE.getShipping()) {
                                            transactionPayload["shipping"] = shipping
                                        }
                                        if (isPreAuth = $CORE.getPreAuth()) {
                                            transactionPayload["preAuth"] = isPreAuth
                                        }
                                        if (taxAmount = $CORE.getTaxAmount()) {
                                            transactionPayload["taxAmount"] = taxAmount
                                        }
                                        if (shippingAmount = $CORE.getShippingAmount()) {
                                            transactionPayload["shippingAmount"] = shippingAmount
                                        }
                                        if (level2 = $CORE.getLevel2()) {
                                            transactionPayload["level2"] = level2
                                        }
                                        if (level3 = $CORE.getLevel3()) {
                                            transactionPayload["level3"] = level3
                                        }
                                        if (doVault = $CORE.getDoVault()) {
                                            transactionPayload["doVault"] = doVault
                                        }
                                        if (isRecurring = $CORE.getIsRecurring()) {
                                            transactionPayload["isRecurring"] = isRecurring
                                        }
                                        if (recurringSchedule = $CORE.getRecurringSchedule()) {
                                            transactionPayload["recurringSchedule"] = recurringSchedule
                                        }

                                        $.ajax({
                                            async: false,
                                            method: "POST",
                                            url: url,
                                            headers: restfulHeaders,
                                            data: JSON.stringify(transactionPayload),
                                            crossDomain: true,
                                            dataType: "text",
                                            beforeSend: function (xhr) {
                                            }
                                        }).done(function (data, textStatus, jqXHR) {

                                            if (textStatus == 'success') {

                                                var paya_cc_type = 4;
                                                switch ($('#paya_cc_type').val()) {
                                                    case 'AE':
                                                        paya_cc_type = 3;
                                                        break;
                                                    case 'VI':
                                                        paya_cc_type = 4;
                                                        break;
                                                    case 'MC':
                                                        paya_cc_type = 5;
                                                        break;
                                                    case 'DI':
                                                        paya_cc_type = 6;
                                                        break;
                                                }

                                                var paya_cc_number = $("#paya_cc_number").val().replace(/\d{12}(\d{4})/, "XXXXXXXXXXXX$1");

                                                var jsonObj = {
                                                    "cardType": paya_cc_type,
                                                    "expirationDate": exp,
                                                    "lastFourDigits": cc.substr(cc.length - 4),
                                                    "maskedNumber": paya_cc_number
                                                };


                                                $('#payment_form_paya #paya-resp').val(JSON.parse(data).Response);
                                                $('#payment_form_paya #paya-cardinfo').val(JSON.stringify(jsonObj));


                                                if ($('#paya_enable_vault').prop("checked")) {


                                                    var vaultPayload = {
                                                        "merchantId": $CORE.getMerchantId(),
                                                        "authKey": $CORE.getAuthKey(),
                                                        "requestId": $CORE.getRequestId(),
                                                        "cardExpirationDate": $FORMATTING.stripNonNumeric(exp),
                                                        "cardNumber": $FORMATTING.stripNonNumeric(cc),
                                                        "nonce": $CORE.getNonce(),
                                                    };

                                                    if (customData = $CORE.getCustomData()) {
                                                        vaultPayload["data"] = customData
                                                    }
                                                    if (pbUrl = $CORE.getPostbackUrl()) {
                                                        vaultPayload["postbackUrl"] = pbUrl
                                                    }

                                                    var url = getUrl("vaultPath");
                                                    $.ajax({
                                                        async: false,
                                                        method: "POST",
                                                        url: url,
                                                        headers: restfulHeaders,
                                                        data: JSON.stringify(vaultPayload),
                                                        crossDomain: true,
                                                        dataType: "text",
                                                        beforeSend: function (xhr) {
                                                        }
                                                    }).done(function (vaultResponse) {

                                                        vaultResponse = JSON.parse(vaultResponse);
                                                        var res = JSON.parse(vaultResponse.Response);

                                                        token = res.vaultResponse.data;
                                                        if (res.vaultResponse.status) {
                                                            $('#paya-token').val(token);
                                                            $('#edit_form').submit();
                                                        }
                                                        $('body').trigger("processStop");

                                                    }).fail(function (jqXHR, textStatus, errorThrown) {
                                                        $('body').trigger("processStop");
                                                    }).always(function () {
                                                        transactionPayload = null;
                                                        $('body').trigger("processStop");
                                                    });

                                                } else {
                                                    $('#edit_form').submit();
                                                }

                                            }
                                            $('body').trigger("processStop");

                                        }).fail(function (jqXHR, textStatus, errorThrown) {
                                            $('body').trigger("processStop");
                                        }).always(function () {
                                            transactionPayload = null;
                                            $('body').trigger("processStop");
                                        });

                                        $('body').trigger("processStop");

                                        function getAddress(address) {

                                            var firstname = $('#order-' + address + '_address_firstname').val();
                                            var lastname = $('#order-' + address + '_address_lastname').val();
                                            var _address = {
                                                name: firstname + " " + lastname
                                            };
                                            _address['address'] = $('#order-' + address + '_address_street0').val();
                                            _address['city'] = $('#order-' + address + '_address_city').val();
                                            if ($('#order-' + address + '_address_region').val()) {
                                                _address['state'] = $('#order-' + address + '_address_region').val();
                                            }
                                            _address['postalCode'] = $('#order-' + address + '_address_postcode').val();
                                            _address['country'] = $('#order-' + address + '_address_country_id').val();
                                            return _address;
                                        }

                                        function getUrl(type) {
                                            var BASE_URL = $CORE.getApiUrl();
                                            var transactionPath = "/api/payment/card";
                                            if (type == 'vaultPath') {
                                                transactionPath = "/api/vault/card";
                                            }
                                            if ($CORE.getEnvironment() == "cert") {
                                                BASE_URL = BASE_URL.replace("api.sage", "api-cert.sage");
                                            }
                                            return BASE_URL + transactionPath;

                                        }

                                    },
                                    function (err) {
                                        $('body').trigger("processStop");
                                    }
                                );
                            }

                            if (response.error) {
                                jQuery('body').trigger("processStop");
                            }
                        },
                        error: function (err) {
                            jQuery('body').trigger("processStop");
                        }
                    });
                });
            }
        });
    });
</script>