<?php

use Magento\Vault\Model\Ui\TokenUiComponentProviderInterface;

$details = $block->getData(TokenUiComponentProviderInterface::COMPONENT_DETAILS);
$icon = $block->getData('icons')[$details['type']];
$id = $block->escapeHtml($block->getData('id'));
$code = $block->getData('code');
?>

<input type="hidden" name="payment[paya_apiresponce]" id="paya-resp">

<div data-mage-init='{
        "Meetanshi_Paya/js/vault": {
            "container": "payment_<?php /* @noEscape */
echo $id; ?>",
            "publicHash": "<?php echo $block->escapeHtml($block->getData(TokenUiComponentProviderInterface::COMPONENT_PUBLIC_HASH)); ?>",
            "code": "<?php echo $block->escapeHtml($block->getData('code')); ?>",
            "nonceUrl": "<?php echo $block->escapeUrl($block->getData('nonceUrl')); ?>"
        }
    }' id="payment_<?php /* @noEscape */
echo $id; ?>" class="admin__field">
    <div class="admin__field-control control">
        <input type="radio" id="token_switcher_<?php /* @noEscape */
        echo $id; ?>" name="payment[token_switcher]"/>
        <img src="<?php echo $block->escapeUrl($icon['url']); ?>"
             width="<?php echo $block->escapeHtml($icon['width']); ?>"
             height="<?php echo $block->escapeHtml($icon['height']); ?>"
             class="payment-icon">
        <span><?php echo $block->escapeHtml(__('ending')); ?></span>
        <span><?php echo $block->escapeHtml($details['maskedCC']); ?></span>
        (<span><?php echo $block->escapeHtml(__('expires')); ?></span>:
        <span><?php echo $block->escapeHtml($details['expirationDate']); ?></span>)
    </div>
</div>


<script>
    require([
        'jquery',
        'prototype',
        'Magento_Sales/order/create/scripts',
        "Magento_Sales/order/create/form"

    ], function ($) {
        order.addExcludedPaymentMethod('<?php /* @noEscape */ echo $code; ?>');
        if (!window.mgn_list_payment) {
            window.mgn_list_payment = [];
        }
        var methodCode = '<?php /* @noEscape */ echo $code; ?>';
        window.mgn_list_payment.push(methodCode);
        var selector = $('#submit_order_top_button, .order-totals-actions>.actions>button');
        var is_select = false;

        setInterval(function () {
            if ($('#p_method_paya_vault').is(":checked")) {
                is_select = true;
                selector.attr("onclick", "");
            } else {
                if (window.mgn_list_payment.indexOf(order.paymentMethod) === -1) {
                    is_select = false;
                    selector.attr("onclick", "");
                }
            }
        }, 100);

        selector.on("click", function () {
            if ((is_select) && ($('#p_method_paya_vault').is(":checked")) && ($('#edit_form').valid())) {
                $('body').trigger("processStart");


                var clientId, postbackUrl, environment, merchantId, authKey, salt, requestType,
                    orderNumber, amount, preAuth, token, transactionId;

                pblicHash = $('#paya_vault_public_hash').val();

                $.ajax({
                    type: 'GET',
                    data: {
                        pblicHash: pblicHash,
                        form_key: $("input[name='form_key']").val()
                    },
                    url: '<?=$block->getUrl('paya/checkout/getToken')?>',
                    dataType: "json",
                    async: false,
                    showLoader: true,
                    success: function (response) {
                        if (response.success) {
                            token = response.token;
                        }
                    },
                    error: function (err) {

                    }
                });

                $.getScript('https://www.sagepayments.net/pay/1.0.2/js/pay.min.js', function () {
                    $.ajax({
                        type: 'GET',
                        data: {
                            form_key: $("input[name='form_key']").val(),
                            token: token
                        },
                        url: '<?=$block->getUrl('paya/checkout/requestToken')?>',
                        dataType: "json",
                        async: false,
                        success: function (response) {
                            if (response.success) {
                                clientId = response.clientId;
                                postbackUrl = response.postbackUrl;
                                environment = response.environment;
                                merchantId = response.merchantId;
                                authKey = response.authKey;
                                salt = response.salt;
                                requestType = response.requestType;
                                orderNumber = response.orderNumber;
                                amount = response.amount;
                                preAuth = response.preAuth;

                                require(['jquery', 'PayJS/Core', 'PayJS/Request', 'PayJS/Response', 'PayJS/Formatting', 'PayJS/Validation'],
                                    function ($, $CORE, $REQUEST, $RESPONSE, $FORMATTING, $VALIDATION) {


                                        $CORE.Initialize({
                                            clientId: clientId,
                                            postbackUrl: postbackUrl,
                                            environment: environment,
                                            merchantId: merchantId,
                                            authKey: authKey,
                                            salt: salt,
                                            requestType: 'payment',
                                            orderNumber: orderNumber,
                                            amount: amount,
                                            preAuth: preAuth
                                        });

                                        $CORE.setBilling(getAddress('billing'));
                                        if (!window.order.isOnlyVirtualProduct) {
                                            $CORE.setShipping(getAddress('shipping'));
                                        }
                                        $CORE.setCustomer({
                                            email: $('#email').val()
                                        });

                                        var restfulHeaders = {"Content-Type": "application/json"};
                                        restfulHeaders["clientId"] = clientId;
                                        restfulHeaders["clientVersion"] = "@@VERSION".replace(/\./g, '');

                                        var url = getUrl("vaultTransactionPath");
                                        var transactionPayload = {
                                            "merchantId": $CORE.getMerchantId(),
                                            "authKey": $CORE.getAuthKey(),
                                            "requestId": $CORE.getRequestId(),
                                            "token": $FORMATTING.stripNonAlphanumeric(token),
                                            "amount": $CORE.getAmount(),
                                            "nonce": $CORE.getNonce(),
                                        };

                                        if (customData = $CORE.getCustomData()) {
                                            transactionPayload["data"] = customData
                                        }
                                        if (pbUrl = $CORE.getPostbackUrl()) {
                                            transactionPayload["postbackUrl"] = pbUrl
                                        }
                                        if (billing = $CORE.getBilling()) {
                                            transactionPayload["billing"] = billing
                                        }
                                        if (customer = $CORE.getCustomer()) {
                                            transactionPayload["customer"] = customer
                                        }
                                        if (shipping = $CORE.getShipping()) {
                                            transactionPayload["shipping"] = shipping
                                        }
                                        if (isPreAuth = $CORE.getPreAuth()) {
                                            transactionPayload["preAuth"] = isPreAuth
                                        }
                                        if (taxAmount = $CORE.getTaxAmount()) {
                                            transactionPayload["taxAmount"] = taxAmount
                                        }
                                        if (shippingAmount = $CORE.getShippingAmount()) {
                                            transactionPayload["shippingAmount"] = shippingAmount
                                        }
                                        if (level2 = $CORE.getLevel2()) {
                                            transactionPayload["level2"] = level2
                                        }
                                        if (level3 = $CORE.getLevel3()) {
                                            transactionPayload["level3"] = level3
                                        }
                                        if (doVault = $CORE.getDoVault()) {
                                            transactionPayload["doVault"] = doVault
                                        }
                                        if (isRecurring = $CORE.getIsRecurring()) {
                                            transactionPayload["isRecurring"] = isRecurring
                                        }
                                        if (recurringSchedule = $CORE.getRecurringSchedule()) {
                                            transactionPayload["recurringSchedule"] = recurringSchedule
                                        }


                                        $.ajax({
                                            async: false,
                                            method: "POST",
                                            url: url,
                                            headers: restfulHeaders,
                                            data: JSON.stringify(transactionPayload),
                                            crossDomain: true,
                                            dataType: "text",
                                            beforeSend: function (xhr) {
                                            }
                                        }).done(function (data, textStatus, jqXHR) {


                                            if (textStatus == 'success') {

                                                $('#paya-resp').val(JSON.parse(data).Response);
                                                $('#edit_form').submit();

                                            }

                                        }).fail(function (jqXHR, textStatus, errorThrown) {
                                            $('body').trigger("processStop");
                                        }).always(function () {
                                            transactionPayload = null;
                                            $('body').trigger("processStop");
                                        });


                                        function getAddress(address) {

                                            var firstname = $('#order-' + address + '_address_firstname').val();
                                            var lastname = $('#order-' + address + '_address_lastname').val();
                                            var _address = {
                                                name: firstname + " " + lastname
                                            };
                                            _address['address'] = $('#order-' + address + '_address_street0').val();
                                            _address['city'] = $('#order-' + address + '_address_city').val();
                                            if ($('#order-' + address + '_address_region').val()) {
                                                _address['state'] = $('#order-' + address + '_address_region').val();
                                            }
                                            _address['postalCode'] = $('#order-' + address + '_address_postcode').val();
                                            _address['country'] = $('#order-' + address + '_address_country_id').val();
                                            return _address;
                                        }

                                        function getUrl(type) {
                                            var BASE_URL = $CORE.getApiUrl();
                                            var transactionPath = "/api/payment/card";
                                            if (type == 'vaultTransactionPath') {
                                                transactionPath = "/api/payment/token";
                                            }
                                            if ($CORE.getEnvironment() == "cert") {
                                                BASE_URL = BASE_URL.replace("api.sage", "api-cert.sage");
                                            }
                                            return BASE_URL + transactionPath;

                                        }

                                    },
                                    function (err) {
                                        $('body').trigger("processStop");
                                    }
                                );
                            }

                        }
                        , error: function (err) {
                            jQuery('body').trigger("processStop");
                        }
                    });

                    jQuery('body').trigger("processStop");

                });

            }
        });
    });
</script>
