<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>

<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>

<?php
$defaultLeadTime = false;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
$stockItem = $_product->getExtensionAttributes()->getStockItem();
$qty = $stockItem->getQty();
$Qty = $qty / $_product->getMeasurementSoldInSize();
$Qty = round($Qty);
$Qty = 1;
$measurementSoldInUnit = $_product->getMeasurementSoldInUnit();
$name = $_product->getName();
if (strpos($name, 'Wide Loop') !== false) {
    $measurementSoldInUnit = "yard";
} elseif (strpos($name, 'Straps') !== false || strpos($name, 'Cable Ties') !== false || strpos($name, 'ONE-WRAP&#174; Strap') !== false) {
    $measurementSoldInUnit = "strap";
} elseif (strpos($name, 'Rings') !== false) {
    $measurementSoldInUnit = "ring";
} else {
    $measurementSoldInUnit = "roll";
}
$productQuantity = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getData('entity_id'));
$leadTime = $_product->getBackorderLeadTime();
$defaultLeadTime = false;
if (!empty($leadTime)) {
    $defaultLeadTime = true;
 }
?>
<div id="backorder_lead_time" class="available-qty-nocustom-option availableqty">
    <?php if($defaultLeadTime): echo __($leadTime); 
    endif;?>
</div>
<?php if ($_product->getTypeId() == 'configurable'): ?>

    
    <!-- <p class="both-button-note"><?php //echo $_product->getHasHookAndLoopBoth(); ?></p> -->
    <p class="reset_swatches">Reset Selections</p>
<?php endif; ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <input type="hidden" name="measurement_sold_in_size" id="measurement_sold_in_size" value="<?php echo $_product->getData('measurement_sold_in_size') ?>" />
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty">
                    <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></label>
                    <div class="control">
                        <input type="number"
                               name="qty"
                               id="qty"
                               title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                               class="input-text qty"
                               data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                               value="<?php echo $Qty ?>"/>
                    </div>
                </div>
            <?php endif; ?>
            <div class="actions">
                <button type="submit"
                        title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                        class="action primary tocart"
                        id="product-addtocart-button">
                    <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
                </button>
                <?= $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
<?php endif; ?>
<?php //echo $_product->getTypeId(); ?>
<?php //if ($_product->getData('type_id') != 'configurable') { ?>
    <?php if (false) { ?>
    <?php if (empty($leadTime)) { ?>
        <div class="available-qty-nocustom-option"><?php echo "This product is made to order. Lead time is 1-2 business days."; ?></div>
        <?php
    } else {
        ?>
        <?php
        if ($Qty <= 0) {
            if ($defaultLeadTime) {
                ?>

            <?php } else {
                ?>
                <div class="available-qty-nocustom-option"><?php echo 'Currently out of stock. Order now to be 1st in line for new stock. Additional quantities available with in ' . $leadTime . "." ?></div>
                <?php
            }
        }
        ?>
        <?php if ($Qty > 0) { ?>
            <?php
            if ($Qty != 1) {
                $measurementSoldInUnit = $measurementSoldInUnit . "s";
            }
            ?>

            <div class="available-qty-nocustom-option">  <span class="qty-availabel">
                    <span id="avl-qty"><?php //echo $productQuantity->getQty()/$soldSize          ?></span>
                    <?php echo 'Only ' . round($Qty) . " " . $measurementSoldInUnit . ' left in stock- Order Soon!' ?></span>
                <span><?php echo 'Additional quantities available with in ' . $leadTime . "." ?></span>
            </div>
            <?php
        }
    }
    ?>
<?php } else if(false) { ?>
    <div class="available-qty">
        <div class="available-qty-nocustom-option availableqty"><?php echo "This product is made to order. Lead time is 1-2 business days."; ?></div>
        <!-- <div class="available-qty-nocustom-option notavailableqty"><?php //echo 'Currently out of stock. Order now to be 1st in line for new stock. Additional quantities available within ' . '<span class="leadtime"></span>' . "." ?></div> -->
        <div class="available-qty-nocustom-option notavailableqty"><?php echo 'Currently out of stock. Order now and your order will ship to you in ' . '<span class="leadtime"></span>' . "." ?></div>

        <div class="available-qty-nocustom-option limitavailableqty">  <span class="qty-availabel">
                <span id="avl-qty"><?php //echo $productQuantity->getQty()/$soldSize          ?></span>
                <?php echo 'Only ' . '<span class="sqty"></span>' . " " . '<span class="msis"></span>s' . ' left in stock- Order Soon!' ?></span>
            <span><?php echo 'Additional quantities available with in ' . '<span class="leadtime"></span>' . "." ?></span>
        </div>
    </div>
<?php } ?>


<script type="text/x-magento-init">
    {
    "#product_addtocart_form": {
    "Magento_Catalog/js/validate-product": {}
    }
    }
</script>
