<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$catalogSession = $objectManager->get('\Magento\Catalog\Model\Session');
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$storeManager->getStore()->getBaseUrl();
?>
<?php if ($_additional = $block->getAdditionalData()): ?>
    <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-specs-table">
    	<caption class="table-caption"><?= /* @escapeNotVerified */ __('More Information') ?></caption>
    	<tbody>
		<?php foreach ($_additional as $_data): ?>
		    <?php if ($_data['value'] == 'No') continue; ?>
		    <tr>
			<th class="col label" scope="row"><?= $block->escapeHtml(__($_data['label'])) ?></th>
			<td class="col data" data-th="<?= $block->escapeHtml(__($_data['label'])) ?>"><?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
		    </tr>
		<?php endforeach; ?>
    	</tbody>
        </table>
    </div>
<?php endif; ?>

<script type = "text/JavaScript">
    require(['jquery'], function($){
    $(document).on("click",".swatch-option",function(){
	var simplesku = $("div.product-info-main .sku a").text();
	 console.log('SKU: '+simplesku);
	$('td[data-th="Part Number"]').text(simplesku);
	var parentid = '<?php echo $_product->getId()?>';
	var url = '<?php echo $storeManager->getStore()->getBaseUrl() ."partialshipping/index/skuvalue" ?>';
        if(simplesku!=''){
			$.ajax({
			url: url,
                type: 'POST',
                data: {parentid: parentid,simplesku : simplesku},
                success:function(data)
                {
                	 console.log('result: '+data.result);
                	attr_count = Object.keys(data.result).length;

				    for(var i=0; i < attr_count; i++){
					var label = data.result[i].label;
					var value = data.result[i].value;
		                if(label=='Soldunit'){
		                	var split = value.split("Length:");
		                    $('#soldunit').html("<span class='size-attribute-label'>Length: </span>"+split[1]);
		                }else if(label=='Soldsize'){
		                    $('.calc_grid #soldsize').text(value);
		                }else{
							if($('td[data-th="'+label+'"]').length ){
							    $('td[data-th="'+label+'"]').text(value);
							}
							else{
							    $('table#product-attribute-specs-table').append('<tr><th class="col label" scope="row">'+label+'</th><td class="col data" data-th="'+label+'">'+value+'</td></tr>');
							}
				  		}				  		
		            }

		            if(data.result.isBothExist != null){		  		 	
			  			$('.both-button-note').text(data.result.isBothExist);
			  		}else{
			  			$('.both-button-note').text('');
			  		}

                    $('.increase').trigger('click');
                    $('.decrease').trigger('click');
                }
	 		});
          }
	});

   });
</script>
