<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

$renderLabel = true;
// if defined as 'none' in layout, do not render
if ($_attributeLabel == 'none') {
    $renderLabel = false;
}

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getStoreLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>
<?php if ($_attributeValue): ?>
    <div class="product attribute <?= /* @escapeNotVerified */ $_className ?>">
        <?php if ($renderLabel): ?><strong class="type"><?= /* @escapeNotVerified */ $_attributeLabel ?></strong><?php endif; ?>
        <div class="value" <?= /* @escapeNotVerified */ $_attributeAddAttribute ?>><?= /* @escapeNotVerified */ $_attributeValue ?></div>
    </div>
    <?php //if ($_helper->productAttribute($_product, $_product->getMeasurementSoldInSize(), 'measurement_sold_in_unit')) {
    ?>
        <!--<div id="soldunit"><?php //echo "Sold on " . $_helper->productAttribute($_product, $_product->getMeasurementSoldInSize(), 'measurement_sold_in_unit') . " Yard Rolls"; 
        ?></div>-->
    <?php //} 
    ?>
    <div class="product-more-info"><a href="#" id="productTabSection"><?= __('More Information available below');?></a></div>
    <?php if($_product->getTypeId() == 'configurable'){ ?>
    <div class="product-detail-option">
        <div class="both-button-note"><?php echo $_product->getHasHookAndLoopBoth() ?></div> 
        <h3 class="choose-your-product"><?= __('Choose Your Products:');?></h3>
        <div class="required_class"><em>*</em> Required field</div>
    </div><?php } ?>
    <div id="soldunit">
        <?php $soldSize = $_helper->productAttribute($_product, $_product->getMeasurementSoldInUnit(), 'measurement_sold_in_unit');?>
        <?php if($soldSize){?>
            <?php
                 if ($_product->getTypeId() == 'simple') {
                     echo $soldSize;
                }else{
                    echo "<span class='size-attribute-label'>Length: </span>";
                    echo $_helper->productAttribute($_product, $_product->getMeasurementSoldInUnit(), 'measurement_sold_in_unit'); 
                }
            }
            ?>          
    </div>
    <?php //echo $_helper->productAttribute($_product, $_product->getMeasurementSoldInSize(), 'measurement_sold_in_size');
    ?>
    
<?php endif; ?>

<script type="text/javascript">
    require(['jquery'], function($){
        $("#productTabSection").click(function() {
            $('html, body').animate({
                scrollTop: $("#tab-label-description").offset().top
            }, 1000);
        });
    });    
</script>