.admin__menu .item-paya.parent.level-0 > a:before {
    background: url(../Magenest_PayaConnect/images/paya_logo.png) center no-repeat;
    background-size: auto 20px;
    margin-left: 16px;
    width: 46px;
    height: 43px;
    content: "";
}
