<?php
$category = $block->getLayer()->getCurrentCategory();
$_categories = $category->getChildrenCategories();
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$media = $_objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$filter = $_objectManager->get('Magento\Cms\Model\Template\FilterProvider');
?>
<div class = "industry-detail">
    <?php
    if (count($_categories)):
        $categorycount = 0;
        foreach ($_categories as $_category):
            if ($_category->getIsActive()):
                $cur_category = $_objectManager->create('Magento\Catalog\Model\Category')->load($_category->getId());
                ?>
                <div class="row">
                    <div class="columns twelve">
                        <div class="industry-detail-box">
                            <h2><?php echo $cur_category->getName(); ?></h2>
                            <div class="row">
                                <div class="columns eight industry-detail-desc">
                                    <?php echo $filter->getBlockFilter()->filter($cur_category->getDescription()) ?>
                                </div>
                                <div class="columns four  industry-detail-thumbnail">
                                    <img
                                        src="<?php echo $media . 'catalog/category/' . $cur_category->getImage() ?>"
                                        alt="<?php echo $this->htmlEscape($_category->getName()) ?>"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="industry-detail-products twelve columns">
                                    <h3>Products for <?php echo $cur_category->getName(); ?></h3>
                                    <ul class="block-grid three-up medium-two-up mobile-one-up industry-detail-product-container">
                                        <?php
                                        $cateinstance = $_objectManager->create('Magento\Catalog\Model\CategoryFactory');
                                        $allcategoryproduct = $cateinstance->create()->load($cur_category->getId())->getProductCollection()->addAttributeToSelect('*');
                                        foreach ($allcategoryproduct as $_product) {
                                            ?>
                                            <li>
                                                <div class="thumbnail">
                                                    <a href="<?php echo $_product->getProductUrl() ?>"
                                                       class="product-image"><img src="<?php echo 'media/catalog/product' . $_product->getImage(); ?>" /></a>
                                                </div>
                                                <div class="details">
                                                    <?php $_productNameStripped = $_product->getName(); ?>
                                                    <h4 class="product-name"><a
                                                            href="<?php echo $_product->getProductUrl() ?>"
                                                            title="<?php echo $_productNameStripped; ?>"><?php echo $_productNameStripped; ?></a>
                                                    </h4>
                                                    <div class="action">
                                                        <a href="#" class="medium button radius">See Product</a>
                                                    </div>
                                                </div>
                                            </li>
                                        <?php } ?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?
            endif;
        endforeach;
    endif;
    ?>
</div>
