<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$category = $block->getLayer()->getCurrentCategory();
$categories = $category->getChildrenCategories();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl = $storeManager->getStore()->getBaseUrl();

?>

<?php if (($category->getData('custom_use_parent_settings') == 1 || $category->getData('custom_design') != "") && $category->getData('entity_id') != '2') { ?>
    <?php if (!$_productCollection->count()): ?>
        <div class="message info empty custom"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
    <?php else: ?>
        <div class="category-configurable-products row">
            <?php $_collectionSize = $_productCollection->count() ?>
            <?php $_columnCount = 3; ?>
            <div class="columns twelve">
                <?php if (in_array($category->getID(), array(6))) {  
                    echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('brand_page_subcategory_head')->toHtml();
                 }?>
                <ul class="products-grid block-grid three-up mobile-two-up medium-four-up">
                    <?php
                    $i = 0;
                    foreach ($_productCollection as $_product):
                        if ($_product->getTypeId() == 'configurable' ||  $_product->getSku() == 'VSPE-1707' || $_product->getSku() == 'DGSPE-1707' || $_product->getSku() == 'DG20ODWEBB-HW' || $_product->getSku() == 'D15B106BL' ) {
                            ?>
                            <?php if ($i++ % $_columnCount == 0): ?>
                            <?php endif ?>
                            <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                                <span>
                                    <?php
                                    $customUrl = $_product->getCustomUrl();
                                    if (isset($customUrl)) :
                                        ?><?php $product_url = $baseurl . $customUrl; ?><?php else: ?><?php $product_url = $_product->getProductUrl(); ?><?php endif; ?>
                                </span>
                                <?php //if (in_array($category->getID(), array(5, 18, 21, 27, 35, 52)))
                                    if (in_array($category->getID(), array(21, 5, 52, 58, 27))){ ?>
                                        <h2 class="product-name"><a href="<?php echo $product_url; ?>" ><?php echo $_product->getName(); ?></a></h2>
                                         <?php
                                            if ($_product->getImage() != '') {
                                                ?>
                                                <a href="<?php echo $product_url; ?>" class="product-image"><img src="<?php echo $baseurl . 'media/catalog/product' . $_product->getImage(); ?>" class="prdct_lst_img_sz" />
                                            <?php } else { ?>
                                                <a href="<?php echo $product_url; ?>" class="product-image"><img src="<?php echo $baseurl . 'media/catalog/product' . $_product->getSmallImage(); ?>" class="prdct_lst_img_sz" />
                                            <?php } ?>
                                        <div class="click-for"><a href="<?php echo $product_url; ?>"><?php echo __('Click To Shop')?></a></div>
                                        <?php if($_product->getData('category_bullet_description') !=''){
                                                echo '<div class="brand-category-desciption">';
                                                echo $_product->getData('category_bullet_description'); 
                                                echo '</div>';
                                             }
                                         ?>
                                         <div class="btn-product-group"><a href="<?php echo $product_url; ?>" class="btn-product"><?php echo __('View Products')?></a></div>
                                         <?php                                            
                                    } ?>
                                    <?php if(!in_array($category->getID(), array(21, 5, 52, 58, 27)))
                                      {    
                                        if(in_array($category->getID(), array(18, 35))){?>
                                         <span class="click-for"><a href="<?php echo $product_url; ?>"><?php echo 'Click for' ?></a></span>
                                         <?php }
                                        if ($_product->getImage() != '') {
                                            ?>
                                            <a href="<?php echo $product_url; ?>" class="product-image"><img src="<?php echo $baseurl . 'media/catalog/product' . $_product->getImage(); ?>" class="prdct_lst_img_sz" />
                                        <?php } else { ?>
                                            <a href="<?php echo $product_url; ?>" class="product-image"><img src="<?php echo $baseurl . 'media/catalog/product' . $_product->getSmallImage(); ?>" class="prdct_lst_img_sz" />
                                        <?php } ?>
                                         <h2 class="product-name"><a href="<?php echo $product_url; ?>" ><?php echo $_product->getName(); ?></a></h2>
                                     <?php } ?>
                                         
                                    </li>
                                    <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
                                    <?php endif ?>
                                    <?php }elseif (in_array($category->getID(), array(27))) {   ?>
                                <?php if ($i++ % $_columnCount == 0): ?>
                            <?php endif ?>
                            <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                                <span>
                                    <?php
                                    $customUrl = $_product->getCustomUrl();
                                    if (isset($customUrl)) :
                                        ?><?php $product_url = $baseurl . $customUrl; ?><?php else: ?><?php $product_url = $_product->getProductUrl(); ?><?php endif; ?>
                                </span>
                                    <span class="click-for"><a href="<?php echo $product_url; ?>"><?php echo 'Click for' ?></a></span>
                                    <?php
                                if ($_product->getImage() != '') {
                                    ?>
                                    <a href="<?php echo $product_url; ?>" class="product-image"><img src="<?php echo $baseurl . 'media/catalog/product' . $_product->getImage(); ?>" class="prdct_lst_img_sz" />
                                    <?php } else { ?>
                                        <a href="<?php echo $product_url; ?>" class="product-image"><img src="<?php echo $baseurl . 'media/catalog/product' . $_product->getSmallImage(); ?>" class="prdct_lst_img_sz" />
                                        <?php } ?>
                                        <?php // print_r($_product->getData());    ?>
                                        <h2 class="product-name"><a href="<?php echo $product_url; ?>" ><?php echo $_product->getName(); ?></a></h2>
                            </li>
                                        <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
                                        <?php endif ?>
                                    <?php }elseif (in_array($category->getID(), array(6))) {   ?>
                                <?php if ($i++ % $_columnCount == 0): ?>
                            <?php endif ?>

                            <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                                <span>
                                    <?php
                                    $customUrl = $_product->getCustomUrl();
                                    if (isset($customUrl)) :
                                        ?><?php $product_url = $baseurl . $customUrl; ?><?php else: ?><?php $product_url = $_product->getProductUrl(); ?><?php endif; ?>
                                </span>
                                    
                                     <h2 class="product-name"><a href="<?php echo $product_url; ?>" ><?php if($_product->getSku() == 'DG-simple'){
                                             echo 'DuraGrip';}
                                           elseif($_product->getSku() == 'VC-simple'){
                                              echo 'Velcro';}
                                      ?></a></h2>
                                    <?php
                                if ($_product->getImage() != '') {
                                    ?>
                                    <a href="<?php echo $product_url; ?>" class="product-image"><img src="<?php echo $baseurl . 'media/catalog/product' . $_product->getImage(); ?>" class="prdct_lst_img_sz" />
                                    <?php } else { ?>
                                        <a href="<?php echo $product_url; ?>" class="product-image"><img src="<?php echo $baseurl . 'media/catalog/product' . $_product->getSmallImage(); ?>" class="prdct_lst_img_sz" />
                                        <?php } ?>
                                        <?php // print_r($_product->getData());    ?>
                                        <div class="click-for"><a href="<?php echo $product_url; ?>"><?php echo 'Click To Shop' ?></a></div>
                                        <?php if($_product->getSku() == 'DG-simple')
                                        {
                                           echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('brand_subcategory_duragrip')->toHtml();
                                        }elseif($_product->getSku() == 'VC-simple')
                                        {
                                           echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('brand_subcategory_velcro')->toHtml();
                                        }
                                        ?>          
                                            
                                            <?php 
                                            if($_product->getSku() == 'DG-simple'){
                                            ?><img class="logo-product_bottom" src="<?php echo $baseurl . 'media/catalog/category/duragrip-1.png'?>"/>           
                                              <?php }
                                           elseif($_product->getSku() == 'VC-simple'){
                                              ?><img class="logo-product_bottom" src="<?php echo $baseurl . 'media/catalog/category/velcro_logo_1-1.png'?>"/>           
                                              <?php } ?>

                                            <div class="btn-product-group"><a href="<?php echo $product_url; ?>" class="btn-product">View Products</a></div>
                                </li>
                                
                                        <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
                                        <?php endif ?>
                                    <?php } ?>
                                <?php endforeach ?>
                                <!--Display 2 products for Category id 55-->
                                <?php  if($category->getID() == '55'){ ?>
                                <!--Product id 6861-->
                                <li class="item">
                                    <span>
                                    </span>
                                    <a href="<?php echo $block->getBaseUrl(); ?>products/specialty-hook-and-loop/velcro-special/velcror-brand-sew-on-loop-3610" class="product-image">
                                        <img src="<?php echo $block->getBaseUrl(); ?>media/catalog/product/r/o/rolls-knit_loop_3610_black_peel_and_stick_detail_macro_1.jpg" class="prdct_lst_img_sz">
                                    </a>
                                    <h2 class="product-name">
                                        <a href="<?php echo $block->getBaseUrl(); ?>products/specialty-hook-and-loop/velcro-special/velcror-brand-sew-on-loop-3610" class="product-image"></a><a href="<?php echo $block->getBaseUrl(); ?>products/specialty-hook-and-loop/velcro-special/velcror-brand-sew-on-loop-3610"><?= __('VELCRO® Brand Sew-On Loop 3610') ?></a>
                                    </h2> 
                                </li>
                                <!--End Product id 6861-->
                                <!--Product id 6290-->
                                <li class="item last">
                                    <span>
                                    </span>
                                    <a href="<?php echo $block->getBaseUrl(); ?>velcro-reg-brand-ultra-mate" class="product-image"><img src="<?php echo $block->getBaseUrl(); ?>media/catalog/product/r/o/roll-ps805_ultramate_hook_detail_macro_nylon_1.jpg" class="prdct_lst_img_sz">
                                    </a><h2 class="product-name"><a href="<?php echo $block->getBaseUrl(); ?>velcro-reg-brand-ultra-mate" class="product-image"></a><a href="<?php echo $block->getBaseUrl(); ?>velcro-reg-brand-ultra-mate"><?= __('VELCRO® Brand ULTRA-MATE® Hook') ?></a></h2>
                                </li>
                                <!--End Product id 6290-->
                                <?php }  ?>
                                <!--End Display 2 products for Category id 55-->
                                </ul>

                                </div>
                                </div>
                            <?php endif; ?>

                        <?php } else { ?>
                            <?php if (!$_productCollection->count()): ?>
                                <div class="message info empty default"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
                            <?php else: ?>
                                <?= $block->getToolbarHtml() ?>
                                <?= $block->getAdditionalHtml() ?>
                                <?php
                                if ($block->getMode() == 'grid') {
                                    $viewMode = 'grid';
                                    $image = 'category_page_grid';
                                    $showDescription = false;
                                    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
                                } else {
                                    $viewMode = 'list';
                                    $image = 'category_page_list';
                                    $showDescription = true;
                                    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
                                }
                                /**
                                 * Position for actions regarding image size changing in vde if needed
                                 */
                                $pos = $block->getPositioned();
                                ?>
                                <div class="products wrapper <?= /* @escapeNotVerified */ $viewMode ?> products-<?= /* @escapeNotVerified */ $viewMode ?>">
                                    <?php $iterator = 1; ?>
                                    <ol class="products list items product-items">
                                        <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                                        <?php foreach ($_productCollection as $_product): ?>

                                            <?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                                            <div class="product-item-info" data-container="product-grid">
                                                <?php
                                                $productImage = $block->getImage($_product, $image);
                                                if ($pos != null) {
                                                    $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                                            . 'top:' . $productImage->getHeight() . 'px;"';
                                                }
                                                ?>
                                                <?php // Product Image       ?>
                                                <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                                                    <?= $productImage->toHtml() ?>
                                                </a>
                                                <div class="product details product-item-details">
                                                    <?php
                                                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                                    ?>
                                                    <h2 class="product name product-item-name product-name hide-for-small">
                                                        <a class="product-item-link"
                                                           href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                                               <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                                        </a>
                                                    </h2>
                                                    <?php /* = $block->getReviewsSummaryHtml($_product, $templateType) */ ?>
                                                    <div class="prdct_prc_dsply_n"><?= $block->getProductPrice($_product) ?> </div>
                                                    <?= $block->getProductDetailsHtml($_product) ?>
                                                    <div class="ctgry_prdct_vw">
                                                        <?php if ($_product->getTypeId() == 'configurable'):?>
                                                            <?php $regularPrice = $_product->getPriceInfo()->getPrice('regular_price');?>
                                                            <div class="product-data">
                                                                <lable> Price: </lable>
                                                                <span class="ctgry_prdct_vw_prc"><?php 
                                                               echo $regularPrice->getMinRegularAmount();
                                                                //echo number_format($regularPrice->getMinRegularAmount()*$_product->getData('measurement_sold_in_size'), 2); ?></span>
                                                            </div>
                                                        <?php else :?>
                                                            <div class="product-data">
                                                                <lable> Price: </lable>
                                                                <span class="ctgry_prdct_vw_prc"><?php echo number_format($_product->getData('price')*$_product->getData('measurement_sold_in_size'), 2); ?></span>
                                                            </div>    
                                                        <?php endif;?>    
                                                        
                                                        <div class="product-data ctgry_prdct_vw"><lable> Part #: </lable><?php echo $_product->getData('sku'); ?></div>
                                                        <div class="product-data ctgry_prdct_vw"><lable> Sold In: </lable><?php echo $_product->getData('measurement_sold_in_unit'); ?></div>

                                                        <?php
                                                        if ($_product->getData('width')) {
                                                            $_optionId = $_product->getData('width');
                                                            $_attributeId = $_product->getResource()->getAttribute('width');
                                                            if ($_attributeId->usesSource()) {
                                                                $_optionText = $_attributeId->getSource()->getOptionText($_optionId);
                                                            }
                                                            ?>
                                                            <div class="product-data ctgry_prdct_vw"><lable> Width: </lable><?php
                                                                if (is_array($_optionText) && sizeof($_optionText) > 1) {
                                                                    $_optionText = implode(',', $_optionText);
                                                                    echo $_optionText;
                                                                } else {
                                                                    echo $_optionText;
                                                                }
                                                                
                                                                ?></div>
                                                            <?php } ?>
                                                    </div>
                                                    <?php
                                                    if ($_product->getData('colors_available')) {
                                                        $_optionId = $_product->getData('colors_available');
                                                        $_attributeId = $_product->getResource()->getAttribute('colors_available');
                                                        if ($_attributeId->usesSource()) {
                                                            $_optionText = $_attributeId->getSource()->getOptionText($_optionId);
                                                        }
                                                        ?>
                                                        <div class="product-data"><lable> Color: </lable>
                                                            <?php
                                                            
                                                            if (is_array($_optionText) && sizeof($_optionText) > 1) {
                                                                $_optionText = implode(',', $_optionText);
                                                                echo $_optionText;
                                                            } else {
                                                                echo $_optionText;
                                                            }
                                                            ?></div>
                                                            <?php
                                                        }
                                                        $_optionId = $_product->getData('hook_loop');
                                                        $_attributeId = $_product->getResource()->getAttribute('hook_loop');
                                                        if ($_attributeId->usesSource()) {
                                                            $_optionText = $_attributeId->getSource()->getOptionText($_optionId);
                                                        }
                                                        ?>
                                                        <?php if ($_optionText == 'Hook'): ?>
                                                        <div class="product-data"><lable> Side: </lable><img class="catg_prdct_vw_img_wdth" src="<?php echo $baseurl ?>media/hook-icon.png"><?php
                                                            if (is_array($_optionText) && sizeof($_optionText) > 1) {
                                                                $_optionText = implode(',', $_optionText);
                                                                echo $_optionText;
                                                            } else {
                                                                echo $_optionText;
                                                            }
                                                            ?></div>
                                                        <?php elseif ($_optionText == 'Loop'): ?>
                                                        <div class="product-data"><lable> Side: </lable><img class="catg_prdct_vw_img_wdth" src="<?php echo $baseurl ?>media/loop-icon.png"><?php
                                                            if (is_array($_optionText) && sizeof($_optionText) > 1) {
                                                                $_optionText = implode(',', $_optionText);
                                                                echo $_optionText;
                                                            } else {
                                                                echo $_optionText;
                                                            }
                                                            ?></div>

                                                    <?php else : ?>
                                                        <div class="product-data"><lable> Side: </lable><img class="catg_prdct_vw_img_wdth" src="<?php echo $baseurl ?>media/hook-loop-icon.png"><?php
                                                            if (is_array($_optionText) && sizeof($_optionText) > 1) {
                                                                $_optionText = implode(',', $_optionText);
                                                                echo $_optionText;
                                                            } else {
                                                                echo $_optionText;
                                                            }
                                                            ?></div>
                                                        <?php endif ?>


                                                    <div class="product-item-inner">
                                                        <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                                                            <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $position : '' ?>>
                                                                <?php if ($_product->isSaleable()): ?>
                                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                                    <form data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
                                                                        <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
                                                                        <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                                                        <input type="hidden" name="product_price" value="<?php echo $_product->getData('price')?>" id="productprice_<?php echo $_product->getId()?>" >
                                                                        <?= $block->getBlockHtml('formkey') ?>
                                                                        <?php if ($_product->getData('has_options') == 0): ?>
                                                                            <input type="hidden" id="measurement_sold_in_size_<?php echo $_product->getId() ?>" value="<?php echo $_product->getData('measurement_sold_in_size') ?>" />
                                                                            <div class="grid_qty">
                                                                                <label><?php echo 'Qty'; ?>:</label>
                                                                               <!-- <input class="grid_qty_text" type="text" id="<?php //echo $_product->getId() ?>" value="1" />  -->
                                                                               <input class="grid_qty_text" type="text" id="<?php echo $_product->getId() ?>" value="1" data-validate="{'required-number':true,'validate-item-quantity':{'minAllowed':1,'maxAllowed':10000}}" /> 

                                                                                 <!-- <input type="number" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty grid_qty_text" data-validate="{'required-number':true,'validate-item-quantity':{'minAllowed':1,'maxAllowed':10000}}"> -->

                                                                                <button type="submit"
                                                                                        title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                                                        class="action tocart primary <?= $block->escapeHtml($_product->getTypeId()) ?>" disabled="disabled" id="cart_<?php echo $_product->getId() ?>">
                                                                                    <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                                                                </button>
                                                                            </div>
                                                                            <a class="view-product-details" href="<?php echo $_product->getProductUrl(); ?>"><?php echo 'View Product Details >'; ?></a>
                                                                        <?php else: ?>
                                                                            <button type="submit"
                                                                                    title="<?= $block->escapeHtml(__('Order Here')) ?>"
                                                                                    class="action tocart primary <?= $block->escapeHtml($_product->getTypeId()) ?>" disabled="disabled" id="cart_<?php echo $_product->getId() ?>">
                                                                                <span><?= /* @escapeNotVerified */ __('Order Here') ?></span>
                                                                            </button>
                                                                            <a class="view-product-details" href="<?php echo $_product->getProductUrl(); ?>"><?php echo 'View Product Details >'; ?></a>

                                                                        <?php endif;  ?>

                                                                       
                                                                      

                                                                    </form>
                                                                <?php else: ?>
                                                                    <?php if ($_product->isAvailable()): ?>
                                                                        <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                                                    <?php else: ?>
                                                                        <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                                                    <?php endif; ?>
                                                                <?php endif; ?>
                                                            </div>
                                                            <div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                                                                <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                                                    <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                                                <?php endif; ?>
                                                            </div>
                                                        </div>
                                                        <?php if ($showDescription): ?>
                                                            <div class="product description product-item-description">
                                                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                                                <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" title="<?= /* @escapeNotVerified */ $_productNameStripped ?>"
                                                                   class="action more"><?= /* @escapeNotVerified */ __('Learn More') ?></a>
                                                            </div>
                                                        <?php endif; ?>
                                                    </div>
                                                </div>
                                            </div>
                                            <?= ($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
                                        <?php endforeach; ?>
                                    </ol>
                                </div>
                                <?= $block->getToolbarHtml() ?>
                                <?php if (!$block->isRedirectToCartEnabled()) : ?>
                                    <script type="text/x-magento-init">
                                        {
                                        "[data-role=tocart-form], .form.map.checkout": {
                                        "catalogAddToCart": {
                                        "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                                        }
                                        }
                                        }
                                    </script>
                                <?php endif; ?>
                            <?php endif; ?>
                        <?php } ?>                                                                                


 <script type="text/javascript"> 
     require([
        'jquery'
        ], function ($) {   
       $('button.action.tocart.primary').click(function(){
        

        var cart_id = $(this).attr('id'); 
        var splitVal = cart_id.split("cart_");

       var measurementSoldInSize = $('#measurement_sold_in_size_'+splitVal[1]).val();
       var productPrice = $('#productprice_'+splitVal[1]).val();
       var qty =  $('#'+splitVal[1]).val();

        var fetchedVal = setInterval(function () {
        if(qty > 1)
            {
               $('.box-tocart .fieldset #qty').val(qty);
               var priceVal =  qty * measurementSoldInSize * productPrice;                  
               $('.price').text('$'+parseFloat(priceVal).toFixed(2));
               clearInterval(fetchedVal);
        }
        $('input:radio:nth(1)').prop('checked', true);
         }, 5000);
       });
    });
</script> 