<?php
/** @var \Magenest\PayaConnect\Block\Adminhtml\Order\View\Info\Transaction $block */
$dataView = $block->getDataView();
?>
<?php if(count($dataView)){ ?>
<table class="data-table admin__table-secondary">
    <tbody>
    <?php foreach ($dataView as $key => $value) { ?>
        <tr>
            <td><?=$key?></td>
            <td><?=$value?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php } ?>

