<!--@subject [#{{var ticket.uid}}] Ticket created: {{var ticket.subject}}@-->
<!--@styles .aw-hdu-note {color: gray; font-size: 85%;} .aw-hdu-reply-marker {background-color: lightgray; font-size: 85%; text-align: center;} @-->

{{template config_path="design/email/header_template"}}

<strong>Hello, {{var ticket.customer_name}}.</strong><br/><br/>

Thank you for contacting us. We have received your request and will reply as soon as possible.<br/><br/>

<strong>Your ticket ID is:</strong> {{var ticket.uid}}<br/>
<strong>Subject:</strong> {{var ticket.subject}}<br/>
<strong>Your Message:</strong><br/>
{{var ticket.first_message|escape|nl2br}}<br/><br/>

<strong>Best Regards,</strong><br/>

<strong>Support team,</strong><br/>
{{var store.frontend_name}}<br/><br/>

<div class="aw-hdu-note">
    You can update the ticket <a href="{{var external_url}}">via web interface</a> or by replying to this email.<br/>
    When updating the ticket via email, keep the ticket ID in the subject line to ensure that your reply will be tracked appropriately.
</div>

{{template config_path="design/email/footer_template"}}