<?php
/**
 * Multiple Layered Navigation
 * 
 * @author Slava Yurthev
 */
?>
<ol class="items sy-multiple-layered-navigation-items">
    <?php foreach ($filterItems as $filterItem): ?>
        <li class="item <?php if ($filterItem->isActive()): ?>active<?php endif; ?>">
            <?php if ($filterItem->getCount() > 0): ?>
                <?php if ($filterItem->getName() == "Color"): ?>
                    <?php $label = $filterItem->getLabel(); ?>
                    <?php $label = str_replace(' ', '_', $label); ?>            
                    <a href="<?php if ($filterItem->isActive()): ?><?php echo $block->escapeUrl($filterItem->getRemoveUrl()); ?><?php else: ?><?php echo $block->escapeUrl($filterItem->getUrl()); ?><?php endif; ?>">
                        <img src="<?php echo $this->getViewFileUrl('colorimages/' . $label . '.jpg'); ?>" />
                        <?php echo $filterItem->getLabel(); ?>
                        <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                            <span class="count"><?php echo $filterItem->getCount() ?><span class="filter-count-label"><?php if ($filterItem->getCount() == 1): ?><?php echo __('item'); ?><?php else: ?><?php echo __('items'); ?><?php endif; ?></span></span>
                        <?php endif; ?>
                    </a>
                <?php else: ?>
                    <a href="<?php if ($filterItem->isActive()): ?><?php echo $block->escapeUrl($filterItem->getRemoveUrl()); ?><?php else: ?><?php echo $block->escapeUrl($filterItem->getUrl()); ?><?php endif; ?>">
                        <?php echo $filterItem->getLabel(); ?>
                        <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                            <span class="count"><?php echo $filterItem->getCount() ?><span class="filter-count-label"><?php if ($filterItem->getCount() == 1): ?><?php echo __('item'); ?><?php else: ?><?php echo __('items'); ?><?php endif; ?></span></span>
                        <?php endif; ?>
                    </a>
                <?php endif; ?>
            <?php else: ?>
                <?php echo $filterItem->getLabel(); ?>
                <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                    <span class="count"><?php echo $filterItem->getCount() ?><span class="filter-count-label"><?php if ($filterItem->getCount() == 1): ?><?php echo __('item'); ?><?php else: ?><?php echo __('items'); ?><?php endif; ?></span></span>
                    <?php endif; ?>
                <?php endif; ?>
        </li>
    <?php endforeach ?>
</ol>