<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<div class="block block-dashboard-content">
    <span class="block_name">Hello, <?= $block->escapeHtml($block->getName()) ?><br></span>
<p>From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information. </p>
</div>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Account Information')) ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Contact Information')) ?></span>
                <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('customer/account/edit')) ?>">
                    <span><?= $block->escapeHtml(__('Edit')) ?></span>
                </a>
            </strong>
            <div class="box-content">
                <p>
                    <?= $block->escapeHtml($block->getName()) ?><br>
                    <?= $block->escapeHtml($block->getCustomer()->getEmail()) ?><br>
                    
                </p>
            </div>
            <div class="box-actions">
                <!-- <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('customer/account/edit')) ?>">
                    <span><?= $block->escapeHtml(__('Edit')) ?></span>
                </a> -->
                <a href="<?= $block->escapeUrl($block->getChangePasswordUrl()) ?>" class="action change-password">
                    <?= $block->escapeHtml(__('Change Password')) ?>
                </a>
            </div>
        </div>
        <?php if ($block->isNewsletterEnabled()): ?>
            <div class="box box-newsletter">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Newsletters')) ?></span>
                    <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('newsletter/manage')) ?>"><span><?= $block->escapeHtml(__('Edit')) ?></span></a>
                </div>
                </strong>
                <div class="box-content">
                    <p>
                        <?php if ($block->getIsSubscribed()): ?>
                            <?= $block->escapeHtml(__('You are subscribed to "General Subscription".')) ?>
                        <?php else: ?>
                            <?= $block->escapeHtml(__('You aren\'t subscribed to our newsletter.')) ?>
                        <?php endif; ?>
                    </p>
                    <?php /* Extensions placeholder */ ?>
                    <?= $block->getChildHtml('customer.account.dashboard.info.extra') ?>
                </div>
                <!-- <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('newsletter/manage')) ?>"><span><?= $block->escapeHtml(__('Edit')) ?></span></a>
                </div> -->
            </div>
        <?php endif; ?>
    </div>
</div>

<?php $registerTime = $block->escapeHtml($block->getCustomer()->getCreatedAt());
$time = new DateTime($registerTime);
$time->add(new DateInterval('PT' . '1' . 'M'));
$registerTimePlus = $time->format('Y-m-d H:i:s');

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$objDate = $objectManager->create('Magento\Framework\Stdlib\DateTime\DateTime'); $CurrentTime = $objDate->gmtDate();
$CurrentTime = DateTime::createFromFormat('Y-m-d H:i:s', $CurrentTime);
$CurrentTime = $CurrentTime->format('Y-m-d H:i:s');
$registerTime = DateTime::createFromFormat('Y-m-d H:i:s', $registerTime);
$registerTime = $registerTime->format('Y-m-d H:i:s');
$registerTimePlus = DateTime::createFromFormat('Y-m-d H:i:s', $registerTimePlus);
$registerTimePlus = $registerTimePlus->format('Y-m-d H:i:s');

if ($CurrentTime >= $registerTime && $CurrentTime < $registerTimePlus)
{  ?>  
    <div class="mb-ajaxsuite-popup-wrapper ui-draggable ui-draggable-disabled after-register" id="mb-ajaxsuite-popup-wrapper" style="background-color: rgb(237, 237, 237); display: block;">
        <a id="mb-ajaxsuite-close" class="mb-ajaxsuite-close"></a>
        <div id="mb-ajaxsuite-popup" class="mb-ajaxsuite-popup">
            <div id="mb-ajaxcart-wrapper" style="display: block;" class="popup-content-box">
                <div class="mb-ajaxsuite-popup-border ajaxcart-success-box">
                    <div class="success-content">
                        <div class="popup-title">                            
                            <span><?= $block->escapeHtml(__('Thanks for registering')); ?></span>
                        </div>                           
                    </div>
                </div>
                <div class="ajaxcart-buttons ajaxsuite-buttons">                   
                    <button type="button" id="ajaxcart_checkout" class="action focus primary" title="Go to Shopping Cart" onclick="window.location = '<?= $block->getBaseUrl(); ?>'" style="color: rgb(255, 255, 255); background-color: rgb(0, 107, 180); border-color: rgb(0, 107, 180);">
                        <span><?= $block->escapeHtml(__('Start Shopping')); ?></span>
                    </button>
                </div>
            </div>
            <div id="mb-ajaxcart-wrapper"></div>
        </div>
    </div>
<?php } ?>





