<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko if: (saveCardConfig && isLogged && hasCard) -->
        <div style="width: 300px">
            <select name="payment[credit_card_name]" class="select"
                    data-bind="attr: {id: getCode() + '-card-id', 'data-container': getCode() + '-card-id'},
                               options: customerCard,
                               optionsText: function(item) {
                                   return 'xxxxxxxxxxxx'+item.last4 + ' (' + item.brand + ')'
                               },
                               optionsValue: function(item) {return item.card_id},
                               optionsCaption: 'Select card',
                               click: showPlaceOrder,
                               value: cardId
                               ">
            </select>

            <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}, fadeVisible: isSelectCard()">
                <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
                    <span><!-- ko i18n: 'Please enter CVV'--><!-- /ko --></span>
                </label>
                <div class="control _with-tooltip">
                    <input type="number"
                           autocomplete="off"
                           class="input-text cvv"
                           name="payment[cvv]"
                           value=""
                           data-bind="attr: {id: getCode() + '_cc_cid',
                        title: $t('CVV'),
                        'data-container': getCode() + '-cc-cvv',
                        'data-validate': JSON.stringify({'required-number':true})},
                        enable: isActive($parents),
                        value: creditCardVerificationNumber" />
                </div>
            </div>
        </div>
        <!-- /ko -->

            <div class="form-control" data-bind="attr:{id: getCode() + '-card-element'}, fadeVisible: isNewCard()">

            </div>

        <div class="checkout-savecart-block" style="margin-bottom: 50px;">
            <div data-role="checkout-savecard">
                <div class="checkout-savecard" data-bind="visible: (saveCardConfig && isLogged && !isSelectCard())">
                    <div class="checkout-savecard">
                        <input type="checkbox" class="checkbox" data-bind="checked: saveCardOption"
                               id="magenest_paya_savecart" name="payment[save]" value="1">
                        <label for="magenest_paya_savecart">
                            <span><!-- ko text: $t('Save your creditcard ?')--><!-- /ko --></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        data-bind="
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        click: placeOrder,
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        class="action primary checkout"
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>