<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */

$columnsLimit = $block->getColumnsLimit() ?: 0;
$_menuHtml = $block->getHtml('level-top', 'submenu', $columnsLimit)
?>

<nav class="navigation" data-action="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
        <?= /* @noEscape */ $_menuHtml?>
        <?= $block->getChildHtml() ?>
    </ul>
</nav>
<script>
    require(['jquery','mage/mage','mage/url','jquery/ui'], function (jQuery, mage, url) {
//    require(['jquery'],function(){

        jQuery(document).ready(function(){
            console.log('test');
            jQuery('.account .block-viewed-products-grid strong.product-item-name').css('padding','0px !important');
        });
    });
    </script>