<?php
// @codingStandardsIgnoreFile
$delUrl = $block->getUrl('sagepayus/customer/delete');
$configHelper = $this->helper("Magenest\SagepayUS\Helper\ConfigHelper");
?>

<?php $cards = $block->getDataCard(); ?>

<?php if($configHelper->getCanSaveCard()) { ?>
<a id="add-card-action" href="#">Add a credit card</a>
<?php } ?>
<form id="card-field">

</form>

<table id="customer-booking-order-list" class="data table table-downloadable-products">
    <?php if (!sizeof($cards)) { ?>
        <div class="message info empty">
            <span><?php echo __('You don\'t store any card yet.'); ?></span>
        </div>
    <?php } else {?>
        <thead>
        <tr>
            <th><?php echo __('Credit Card'); ?></th>
            <th><?php echo __('Expires'); ?></th>
            <th><?php echo __('Created At'); ?></th>
            <th><?php echo __('Action'); ?></th>
            <th></th>
        </tr>
        </thead>

        <tbody id="card_table_body">
        <?php foreach ($cards as $card) {
            $k = 0;
            ?>
            <tr id="row-<?= $k; ?>">
            <td><span><?= $card->getCardType(); ?></span> - <span><?= $card->getMaskedNumber() ?></span></td>
            <td><?= $card->getExpirationDate()?></td>
            <td><?= $card->getCreatedAt(); ?></td>
            <td>
                <a href="<?=$block->getDeleteUrl($card->getId())?>" class="action delete"
                   onclick="return confirm('Are you sure you want to delete this card?');"
                >
                    <span><?php echo __('Delete')?></span>
                </a>
            </td>
            <?php
            $k++;
        } ?>
        </tbody>
    <?php } ?>
</table>

<script>
    require(['jquery','mage/cookies'], function ($) {
        var clientId, merchantId, authKey, postbackUrl, salt, requestType, orderNumber, doVault;
        var sage_environment, browser_debug;
        var resp,hash, cardinfo;
        var isInput = false;
        $('#add-card-action').on("click", function (e) {
            if(isInput){
                return false;
            }
            e.preventDefault();
            $('body').trigger('processStart');
            $.getScript('https://www.sagepayments.net/pay/1.0.2/js/pay.min.js', function () {
                console.log("Loaded SagePaymentJs v1.02");
                $.ajax({
                    type: 'GET',
                    data: {
                        form_key: $.cookie('form_key'),
                        is_token: true
                    },
                    url: '<?=$block->getUrl('sagepayus/checkout/request')?>',
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            clientId = response.clientId;
                            merchantId = response.merchantId;
                            authKey = response.authKey;
                            postbackUrl = response.postbackUrl;
                            salt = response.salt;
                            requestType = response.requestType;
                            orderNumber = response.orderNumber;
                            sage_environment = response.environment;
                            browser_debug = response.debug;
                            doVault = response.doVault;
                            $('#card-field').show("500");
                            require(['PayJS/UI'],
                                function ($UI) {
                                    $('body').trigger('processStop');
                                    isInput = true;
                                    var option = {
                                        clientId: clientId,
                                        postbackUrl: postbackUrl,
                                        merchantId: merchantId,
                                        authKey: authKey,
                                        salt: salt,
                                        requestType: requestType,
                                        orderNumber: orderNumber,
                                        environment: sage_environment,
                                        debug: browser_debug,
                                        doVault: doVault,
                                        elementId: 'card-field'
                                    };
                                    $UI.Initialize(option);
                                    $UI.setCallback(function ($RESP) {
                                        if ($RESP.getVaultSuccess()) {
                                            resp = $RESP.getApiResponse();
                                            hash = $RESP.getResponseHash().hash;
                                            cardinfo = $RESP.getPaymentDetails();
                                            $.post(
                                                '<?=$block->getUrl('sagepayus/card/save')?>',
                                                {
                                                    form_key: $.cookie('form_key'),
                                                    sage_resp: resp,
                                                    sage_hash: hash,
                                                    sage_cardinfo: JSON.stringify(cardinfo)
                                                },
                                                function (response) {
                                                    if(response.success){
                                                        alert("Save card success");
                                                        location.reload();
                                                    }
                                                    if(response.error){
                                                        alert("Error");
                                                        console.log(response.message);
                                                    }
                                                },
                                                "json"
                                            )
                                        } else {
                                            alert($RESP.getCode() + " " + $RESP.getMessage());
                                            console.log($RESP.getRawResponse());
                                            console.log($RESP.getCode() + " " + $RESP.getMessage());
                                        }
                                    });

                                },
                                function (err) {
                                    $('body').trigger('processStop');
                                    alert("Script load error");
                                    console.log(err);
                                }
                            );
                        }

                        if (response.error) {
                            $('body').trigger('processStop');
                            alert(response.message);
                            console.log(response.message);
                        }
                    },
                    error: function (err) {
                        $('body').trigger('processStop');
                        console.log(err);
                    }
                });
            });
        })
    })
</script>

<style>
    #card-field{
        width: 300px;
    }
    #card-field select{
        margin-top: 10px;
    }
    #card-field input{
        margin-top: 10px;
    }
</style>