<?php
/**
 * *
 *  Copyright © 2016 MW. All rights reserved.
 *  See COPYING.txt for license details.
 *  
 */

// @codingStandardsIgnoreFile
?>
<?php $defaultInformation = $this->helper('MW\Onestepcheckout\Helper\Config')->getDefaultAddressInformation();?>
<script type='text/javascript'>
    require([
        'MW_Onestepcheckout/js/model/addressFieldManager'
    ], function(addressFieldManager) {
        addressFieldManager.init(<?php echo $this->helper('MW\Onestepcheckout\Helper\Config')->getAddressFieldsJsonConfig();?>);
    })
</script>
<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask show" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif')); ?>"
                 alt="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Loading...')); ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
            }
        }
    </script>
    <script>
        <?php
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $region = $objectManager->create('Magento\Directory\Model\ResourceModel\Region\Collection')
            ->addFieldToFilter('main_table.region_id', ['eq' => $defaultInformation['region_id']])
            ->getFirstItem();
        $avaiableRegionId = $region?true:false;
        ?>
        window.checkoutConfig = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getCheckoutConfig()); ?>;
        window.giftOptionsConfig = <?php echo $block->getLayout()->createBlock('Magento\GiftMessage\Block\Cart\GiftOptions')->getGiftOptionsConfigJson(); ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;

        window.checkoutConfig.defaultCountryId = '<?php /* @escapeNotVerified */ echo $defaultInformation['country_id']; ?>';
        window.checkoutConfig.defaultPostcode = '<?php /* @escapeNotVerified */ echo $defaultInformation['postcode']; ?>';
        var avaiableRegionId = <?php /* @escapeNotVerified */ echo $avaiableRegionId?1:0 ?>;
        if(avaiableRegionId){
            window.checkoutConfig.defaultRegionId = '<?php /* @escapeNotVerified */ echo $defaultInformation['region_id']; ?>';
        }
        else{
            window.checkoutConfig.defaultRegion = '<?php /* @escapeNotVerified */ echo $defaultInformation['region_id']; ?>';
        }
        window.checkoutConfig.defaultCity = '<?php /* @escapeNotVerified */ echo $defaultInformation['city']; ?>';
        window.checkoutConfig.allShippingoptions = '<?php echo $this->helper('MW\Onestepcheckout\Helper\Config')->getShippingOption(); ?>';
    </script>

    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader',
            'MW_Onestepcheckout/js/model/core/url-builder'
        ], function(url, blockLoader, UrlBuilder) {
            blockLoader("<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>");
            UrlBuilder.baseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
            return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
        })
    </script>
</div>

<div id="dummy-data" style="display: none;">
    <?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $cart = $objectManager->get('\Magento\Checkout\Model\Cart');

//  get quote items collection
//      $itemsCollection = $cart->getQuote()->getItemsCollection();
//  get quote items array
//      $items = $cart->getQuote()->getAllItems();
//  get array of all items what can be display directly
    $itemsVisible = $cart->getQuote()->getAllVisibleItems();
    $i = 1;

    foreach ($itemsVisible as $item) {
        if ($item->getProductType() == 'configurable') {
            $options = $item->getOptionByCode('simple_product')->getData();
            $productId = $options["product_id"];
            $child = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);
            $measurement = $child->getMeasurementSoldInSize();
            $name = $child->getName();
            $leadTime = $child->getData('backorder_lead_time');
            $stockItem = $child->getExtensionAttributes()->getStockItem();
            $sqty = $stockItem->getQty();
            $oqty = $item->getQty();
            $measurementSoldInUnit = $child->getData('measurement_sold_in_unit');
            $unitString = explode(" ", $measurementSoldInUnit);
            $unit = array_pop($unitString);
            ?>
            <div class="item-msg" id="notice-<?php echo $i; ?>">
                <p class="leadtime"><?php echo $leadTime ?></p>
                <input class="stockqty" value="<?php echo $sqty ?>" />
                <input class="orderqty" value="<?php echo $oqty ?>" />
                <p class="unit"><?php echo $unit ?></p>
            </div>
            <input id="measurement-<?php echo $i++; ?>" name='<?php echo $name; ?>' value="<?php echo $measurement; ?>" />
            <?php
        } else {
            $productId = $item->getProductId();
            $child = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);
            $measurement = $child->getMeasurementSoldInSize();
            $name = $child->getName();
             $leadTime = $child->getData('backorder_lead_time');
            $stockItem = $child->getExtensionAttributes()->getStockItem();
            $sqty = $stockItem->getQty();
            $oqty = $item->getQty();
            $measurementSoldInUnit = $child->getData('measurement_sold_in_unit');
            $unitString = explode(" ", $measurementSoldInUnit);
            $unit = array_pop($unitString);
            ?>
             <div class="item-msg" id="notice-<?php echo $i; ?>">
                <p class="leadtime"><?php echo $leadTime ?></p>
                <input class="stockqty" value="<?php echo $sqty ?>" />
                <input class="orderqty" value="<?php echo $oqty ?>" />
                <p class="unit"><?php echo $unit ?></p>
            </div>
            <input id="measurement-<?php echo $i++; ?>" name='<?php echo $name; ?>' value="<?php echo $measurement; ?>" />
            <?php
        }
    }
    ?>
</div>

    <script type="text/javascript">
        require([
            'jquery',
            'jquery/jquery.cookie',
            'MW_Onestepcheckout/js/action/set-shipping-information',
            'MW_Onestepcheckout/js/model/shipping-rate-service'
        ], function ($, cookie, setShippingInformationAction, shippingRateService) {
            $(document).on('change', '.qty.dummy', function () {
                var measurement = $(this).parents('.box-qty').find('.measurementsold').val();
                $(this).parents('.box-qty').find('.qty.qty-item-display').val($(this).val() * measurement);
                $(this).parents('.box-qty').find('.qty.qty-item-display').trigger('change');
            });
            
            $(document).ready(function () {
                $.cookie('is-shipping-option-saved', '', {path: '/', expires: -1});
                var isShippingOptionSaved = false;
                var temp = setInterval(function () {
                    /*$('body').on('blur', '[name="shipping_option_field[shipping_options_account_number]"]',function() {*/
                        if ($('#s_method_shippingoptions_shippingoptions').length) {
                            var s1 = $('[name="shipping_option_field[shipping_options_method]"]').val();
                            var s2 = $('[name="shipping_option_field[shipping_options_service]"]').val();
                            var s3 = $('[name="shipping_option_field[shipping_options_account_number]"]').val();
                            var s4 = $('[name="shipping_option_field[shipping_options_account_zip_codes]"]').val();

                            if ($('[name="shipping_option_field[shipping_options_method]"]').length && s1 !=='' && s2!=='' && s3 !=='' && s4 !=='') {
                                var isShippingOptionSaved = $.cookie('is-shipping-option-saved'); // Get Cookie Value
                                $.cookie('is-shipping-option-saved', true); // Set Cookie Value
                                var shippingMethodObj = {
                                    "shipping_options_method": s1,
                                    "shipping_options_service": s2,
                                    "shipping_options_account_number": s3,
                                    "shipping_options_account_zip_codes": s4
                                };
                                /*$.ajax({
                                    url: "<?php //echo $this->getUrl('ordercreate/updatequote/index') ?>",
                                    type: "POST",
                                    data: JSON.stringify(shippingMethodObj),
                                    contentType: "application/json",
                                    success: function(data) {},
                                    error: function(data) {
                                        console.log('ERROR: ', data);
                                    },
                                });*/
                            }
                            if (isShippingOptionSaved) {
                                clearInterval(temp);
                            }
                        }
                    /*});*/
                }, 6000);

                var hideLoader = setInterval(function () {
                    if($('body').hasClass('oscHideLoader')) {
                        if($('.loading-mask').is(':visible') && $('.loading-mask').data('role') == 'loader') {
                            $('.loading-mask').hide();
                        }
                        clearInterval(hideLoader);
                    }
                }, 4000);

                $("body").on('click','#s_method_shippingoptions_shippingoptions', function(){
                    setShippingInformationAction().always(
                        function () {                                
                            shippingRateService().stop(false);
                        }
                    );
                });

                var setRadio = setInterval(function () {
    /*console.log('shipping-options-details-list-wrapper');
    console.log($('#shipping-options-details-list-wrapper').is(':visible'));

    console.log('s_method_shippingoptions_shippingoptions');
    console.log($('#s_method_shippingoptions_shippingoptions').is(':checked'));*/


                        if($('#shipping-options-details-list-wrapper').is(':visible') && !$('#s_method_shippingoptions_shippingoptions').is(':checked')) {
                            clearInterval(setRadio);
                            $('#s_method_shippingoptions_shippingoptions').prop( "checked", true).trigger('click');
                        }
                }, 5000);
            });
        });
    </script>
