<?php
$design = 2;
$roundCorner = 1;
?>
<?php if ($design == 2 || $design == 3) : ?>
    <!--<link rel="stylesheet" type="text/css" href="<?php echo $block->getViewFileUrl('MW_Onestepcheckout::css/onestepcheckout_flat.css') ?>" />-->

    <?php if ($design == 3) : ?>
        <!--<link rel="stylesheet" type="text/css" href="<?php echo $block->getViewFileUrl('MW_Onestepcheckout::css/onestepcheckout_classic.css') ?>" />-->
    <?php endif; ?>

    <?php if ($roundCorner == 1) : ?>
        <!--<link rel="stylesheet" type="text/css" href="<?php echo $block->getViewFileUrl('MW_Onestepcheckout::css/onestepcheckout_corner.css') ?>" />-->
     <?php endif; ?>

<?php endif; ?>
