<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Fpc
 */
?>
<?php /** @var \Amasty\Fpc\Block\Adminhtml\Notice $block */ ?>

<div class="amasty_fpc_cli_notice">
    <div class="message">
        <p>
            <?= /* @escapeNotVerified */ $block->getText(); ?>
        </p>
    </div>
</div>
