<?php
/**
 * Copyright 2019 aheadWorks. All rights reserved.
See LICENSE.txt for license details.
 */

/* @var $block \Magento\Backend\Block\Template */

// @codingStandardsIgnoreFile
?>
<table class="admin__table-primary">
    <?php $tickets = $block->getTicketCollection(); ?>
    <tbody>
    <?php foreach ($tickets as $ticket): ?>
        <tr>
            <td>
                <a href="<?php echo $block->escapeUrl($block->getUrl('aw_helpdesk/ticket/edit', ['id' => $ticket->getId()]))?>" target="_blank">
                    <?php /* @noEscape */ echo __(htmlspecialchars($ticket->getSubject()))?>
                </a>
            </td>
            <td class="created_at">
                <?php echo $block->escapeHtml($block->formatDate($ticket->getCreatedAt(), \IntlDateFormatter::MEDIUM, false)) ?>
            </td>
            <td>
                <span class="<?php echo $block->escapeHtml($ticket->getStatus())?>">
                    <?php echo $block->escapeHtml($ticket->getStatusLabel()) ?>
                </span>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
